# Pandas

Pandas is used for tasks involving data manipulation ,analysis, cleaning, etc. It uses various types of files such as csv, xls, JSON ,etc. 

You can think of pandas as an advancement to excel, ofcourse excel in itself is quite interesting, capable and strong. But pandas provides easier way to deal with large datasets if you know python

In [2]:
# Import pandas
import pandas as pd

## Dataframes vs Series 

`Dataframe` is 2 dimensional , size-mutable tabular data e.g. a CSV with header and then data in it.

`Series` is 1 dimensional array which can host data of any data type

In [3]:
ser = pd.Series([1,2,3,'a',{'blah','cat'}, True])
ser

0              1
1              2
2              3
3              a
4    {cat, blah}
5           True
dtype: object

In [4]:
frame = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])

In [5]:
frame

   a  b  c
0  1  2  3
1  4  5  6

In [6]:
frame_from_dictionary = pd.DataFrame({
    'name':['puffy','zazzy','rio','zen','top','cream','wiggle'],
    'type':['dog','cat','bird','dog','cat','bird','snail'],
    'age':[4,5,1,3,4,5,2]
})
frame_from_dictionary

     name   type  age
0   puffy    dog    4
1   zazzy    cat    5
2     rio   bird    1
3     zen    dog    3
4     top    cat    4
5   cream   bird    5
6  wiggle  snail    2

In [8]:
frame_from_dictionary.to_csv('../data/pet.csv')

In [9]:
frame_from_dictionary.to_csv('../data/pet.csv',index=False)

In [21]:
frame_from_dictionary.head()

    name  type  age
0  puffy   dog    4
1  zazzy   cat    5
2    rio  bird    1
3    zen   dog    3
4    top   cat    4

In [22]:
frame_from_dictionary.head(2)

    name type  age
0  puffy  dog    4
1  zazzy  cat    5

In [23]:
frame_from_dictionary.tail()

     name   type  age
2     rio   bird    1
3     zen    dog    3
4     top    cat    4
5   cream   bird    5
6  wiggle  snail    2

### Loading CSV data

download csv from here https://www.kaggle.com/smritisingh1997/car-salescsv

In [12]:
cars = pd.read_csv('../data/car_sales.csv')
cars

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
...,...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

In [28]:
cars.head(6)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63

### Getting Higher level information about dataframe

In [53]:
cars.describe()

               Price      Mileage      EngineV         Year
count    4173.000000  4345.000000  4195.000000  4345.000000
mean    19418.746935   161.237284     2.790734  2006.550058
std     25584.242620   105.705797     5.066437     6.719097
min       600.000000     0.000000     0.600000  1969.000000
25%      6999.000000    86.000000     1.800000  2003.000000
50%     11500.000000   155.000000     2.200000  2008.000000
75%     21700.000000   230.000000     3.000000  2012.000000
max    300000.000000   980.000000    99.990000  2016.000000

In [54]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4345 non-null   object
 1   Price         4173 non-null   float64
 2   Body          4345 non-null   object
 3   Mileage       4345 non-null   int64
 4   EngineV       4195 non-null   float64
 5   Engine Type   4345 non-null   object
 6   Registration  4345 non-null   object
 7   Year          4345 non-null   int64
 8   Model         4345 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 305.6+ KB

In [89]:
cars.groupby(['Brand']).count()

,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank
Brand,,,,,,,,,
Audi,442,457,457,435,457,457,457,457,457
BMW,669,694,694,664,694,694,694,694,694
Mercedes-Benz,852,921,921,892,921,921,921,921,921
Mitsubishi,323,327,327,311,327,327,327,327,327
Renault,456,469,469,458,469,469,469,469,469
Toyota,523,541,541,528,541,541,541,541,541
Volkswagen,908,936,936,907,936,936,936,936,936

In [91]:
cars['dummy'] = 1
cars.groupby(['Brand']).count()['dummy']

Brand
Audi             457
BMW              694
Mercedes-Benz    921
Mitsubishi       327
Renault          469
Toyota           541
Volkswagen       936
Name: dummy, dtype: int64

In [92]:
cars.sort_values(by='Brand')

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank,dummy
2490,Audi,6399.0,vagon,230,2.5,Diesel,yes,1999,A6,2,1
3421,Audi,4200.0,sedan,236,2.5,Diesel,no,2003,A6,2,1
2367,Audi,3200.0,vagon,244,2.0,Other,no,2006,A4,2,1
3416,Audi,1950.0,vagon,300,1.8,Petrol,no,1999,A4,2,1
3836,Audi,48000.0,crossover,75,3.0,Diesel,yes,2013,Q7,2,1
...,...,...,...,...,...,...,...,...,...,...,...
949,Volkswagen,12999.0,van,250,1.9,Diesel,yes,2009,T5 (Transporter),2,1
2974,Volkswagen,10200.0,van,137,1.9,Diesel,yes,2008,Caddy,2,1
2972,Volkswagen,38000.0,crossover,189,3.0,Diesel,yes,2012,Touareg,2,1
941,Volkswagen,NaN,hatch,128,1.6,Petrol,yes,2008,Golf V,2,1
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter),2,1

In [94]:
cars.sort_values(by='Mileage', ascending=False)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank,dummy
2607,Mercedes-Benz,68700.0,crossover,980,3.0,Diesel,yes,2013,GL 350,2,1
3567,Toyota,36000.0,crossover,940,NaN,Other,yes,2009,Land Cruiser 200,2,1
1041,BMW,29500.0,sedan,850,NaN,Petrol,yes,2011,523,2,1
3625,Toyota,47700.0,crossover,810,4.7,Gas,yes,2010,Land Cruiser 200,2,1
3091,Volkswagen,20500.0,hatch,800,2.0,Diesel,yes,2013,Golf VII,2,1
...,...,...,...,...,...,...,...,...,...,...,...
1467,Volkswagen,30385.0,vagon,0,2.0,Diesel,yes,2014,Touran,2,1
55,Mercedes-Benz,NaN,crossover,0,3.0,Diesel,yes,2016,GLS 350,2,1
3234,Mercedes-Benz,103333.0,crossover,0,3.0,Diesel,yes,2016,GLE-Class,2,1
20,Toyota,38233.0,other,0,2.4,Diesel,yes,2016,Hilux,2,1
2622,Mercedes-Benz,71999.0,crossover,0,2.2,Diesel,yes,2016,GLE-Class,2,1

### Access data
1. Get all headers

In [42]:
cars.columns

Index(['Brand', 'Price', 'Body', 'Mileage', 'EngineV', 'Engine Type',
       'Registration', 'Year', 'Model'],
      dtype='object')

2. Get each row in loop

When we do this, we'll get each row as a tuple

In [47]:
for index,row in cars.iterrows():
    print('index number -' + str(index))
    print(row)

index number -0
Brand              BMW
Price           4200.0
Body             sedan
Mileage            277
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1991
Model              320
Name: 0, dtype: object
index number -1
Brand           Mercedes-Benz
Price                  7900.0
Body                      van
Mileage                   427
EngineV                   2.9
Engine Type            Diesel
Registration              yes
Year                     1999
Model            Sprinter 212
Name: 1, dtype: object
index number -2
Brand           Mercedes-Benz
Price                 13300.0
Body                    sedan
Mileage                   358
EngineV                   5.0
Engine Type               Gas
Registration              yes
Year                     2003
Model                   S 500
Name: 2, dtype: object
index number -3
Brand                Audi
Price             23000.0
Body            crossover
Mileage               240
EngineV               4.2
Engine Type        Petrol
Registration          yes
Year                 2007
Model                  Q7
Name: 3, dtype: object
index number -4
Brand              Toyota
Price             18300.0
Body            crossover
Mileage               120
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model               Rav 4
Name: 4, dtype: object
index number -5
Brand           Mercedes-Benz
Price                199999.0
Body                crossover
Mileage                     0
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2016
Model                  GLS 63
Name: 5, dtype: object
index number -6
Brand              BMW
Price           6100.0
Body             sedan
Mileage            438
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              1997
Model              320
Name: 6, dtype: object
index number -7
Brand              Audi
Price           14200.0
Body              vagon
Mileage             200
EngineV             2.7
Engine Type      Diesel
Registration        yes
Year               2006
Model                A6
Name: 7, dtype: object
index number -8
Brand           Renault
Price           10799.0
Body              vagon
Mileage             193
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Megane
Name: 8, dtype: object
index number -9
Brand           Volkswagen
Price               1400.0
Body                 other
Mileage                212
EngineV                1.8
Engine Type            Gas
Registration            no
Year                  1999
Model              Golf IV
Name: 9, dtype: object
index number -10
Brand           Renault
Price           11950.0
Body              vagon
Mileage             177
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Megane
Name: 10, dtype: object
index number -11
Brand           Renault
Price            2500.0
Body              sedan
Mileage             260
EngineV            1.79
Engine Type      Petrol
Registration        yes
Year               1994
Model                19
Name: 11, dtype: object
index number -12
Brand                 Audi
Price               9500.0
Body                 vagon
Mileage                165
EngineV                2.7
Engine Type            Gas
Registration           yes
Year                  2003
Model           A6 Allroad
Name: 12, dtype: object
index number -13
Brand           Volkswagen
Price              10500.0
Body                 sedan
Mileage                100
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 13, dtype: object
index number -14
Brand                     Toyota
Price                    16000.0
Body                   crossover
Mileage                      250
EngineV                      4.7
Engine Type                  Gas
Registration                 yes
Year                        2001
Model           Land Cruiser 100
Name: 14, dtype: object
index number -15
Brand           Renault
Price            8600.0
Body              hatch
Mileage              84
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model              Clio
Name: 15, dtype: object
index number -16
Brand              BMW
Price           2990.0
Body             other
Mileage            203
EngineV            2.0
Engine Type     Petrol
Registration        no
Year              2001
Model              318
Name: 16, dtype: object
index number -17
Brand           Mercedes-Benz
Price                     NaN
Body                      van
Mileage                   240
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 17, dtype: object
index number -18
Brand              Toyota
Price             26500.0
Body            crossover
Mileage                21
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2013
Model               Rav 4
Name: 18, dtype: object
index number -19
Brand             Audi
Price           3500.0
Body             vagon
Mileage            250
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1998
Model               A6
Name: 19, dtype: object
index number -20
Brand            Toyota
Price           38233.0
Body              other
Mileage               0
EngineV             2.4
Engine Type      Diesel
Registration        yes
Year               2016
Model             Hilux
Name: 20, dtype: object
index number -21
Brand           Volkswagen
Price               7500.0
Body                 hatch
Mileage                132
EngineV                1.4
Engine Type         Diesel
Registration           yes
Year                  2006
Model                 Polo
Name: 21, dtype: object
index number -22
Brand             Audi
Price           6800.0
Body             sedan
Mileage            225
EngineV            2.4
Engine Type        Gas
Registration       yes
Year              1998
Model               A6
Name: 22, dtype: object
index number -23
Brand           Mitsubishi
Price              10500.0
Body             crossover
Mileage                130
EngineV                2.4
Engine Type            Gas
Registration           yes
Year                  2006
Model            Outlander
Name: 23, dtype: object
index number -24
Brand              Audi
Price           24900.0
Body              sedan
Mileage             163
EngineV             4.2
Engine Type      Diesel
Registration        yes
Year               2008
Model                A8
Name: 24, dtype: object
index number -25
Brand           Volkswagen
Price              20800.0
Body             crossover
Mileage                151
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model              Touareg
Name: 25, dtype: object
index number -26
Brand             Audi
Price           6500.0
Body             sedan
Mileage            330
EngineV            2.4
Engine Type     Petrol
Registration       yes
Year              1999
Model               A6
Name: 26, dtype: object
index number -27
Brand           Mercedes-Benz
Price                 13566.0
Body                    other
Mileage                   171
EngineV                   2.2
Engine Type             Other
Registration               no
Year                     2011
Model                    Vito
Name: 27, dtype: object
index number -28
Brand           Mitsubishi
Price               8500.0
Body                 hatch
Mileage                 65
EngineV                1.3
Engine Type         Petrol
Registration           yes
Year                  2010
Model                 Colt
Name: 28, dtype: object
index number -29
Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   4.6
Engine Type            Petrol
Registration              yes
Year                     2016
Model                 GLS 500
Name: 29, dtype: object
index number -30
Brand             Audi
Price           2900.0
Body             sedan
Mileage              1
EngineV            2.3
Engine Type        Gas
Registration       yes
Year              1989
Model              100
Name: 30, dtype: object
index number -31
Brand               BMW
Price           21500.0
Body              other
Mileage              72
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2007
Model                Z4
Name: 31, dtype: object
index number -32
Brand             Mitsubishi
Price                17900.0
Body               crossover
Mileage                   87
EngineV                  3.8
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 32, dtype: object
index number -33
Brand                 BMW
Price             28500.0
Body            crossover
Mileage               160
EngineV               4.8
Engine Type           Gas
Registration          yes
Year                 2008
Model                  X5
Name: 33, dtype: object
index number -34
Brand           Volkswagen
Price               9800.0
Body                   van
Mileage                160
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2009
Model                Caddy
Name: 34, dtype: object
index number -35
Brand            Toyota
Price           14500.0
Body              sedan
Mileage             147
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2006
Model             Camry
Name: 35, dtype: object
index number -36
Brand              BMW
Price           6000.0
Body             sedan
Mileage            300
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1996
Model              528
Name: 36, dtype: object
index number -37
Brand                 BMW
Price             67500.0
Body            crossover
Mileage                 1
EngineV               2.5
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 37, dtype: object
index number -38
Brand              Audi
Price           33900.0
Body              other
Mileage              14
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2014
Model                TT
Name: 38, dtype: object
index number -39
Brand             Audi
Price           2500.0
Body             sedan
Mileage            180
EngineV            NaN
Engine Type     Petrol
Registration        no
Year              2000
Model               A4
Name: 39, dtype: object
index number -40
Brand           Mercedes-Benz
Price                  9800.0
Body                      van
Mileage                   230
EngineV                  2.15
Engine Type            Diesel
Registration              yes
Year                     2004
Model                    Vito
Name: 40, dtype: object
index number -41
Brand           Mercedes-Benz
Price                 63000.0
Body                crossover
Mileage                    86
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2009
Model                G 55 AMG
Name: 41, dtype: object
index number -42
Brand              BMW
Price           7700.0
Body             sedan
Mileage            326
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1998
Model              528
Name: 42, dtype: object
index number -43
Brand           Mercedes-Benz
Price                  9600.0
Body                      van
Mileage                    30
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2006
Model                    Vito
Name: 43, dtype: object
index number -44
Brand            Toyota
Price           12800.0
Body              sedan
Mileage             181
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2008
Model             Camry
Name: 44, dtype: object
index number -45
Brand                 BMW
Price             41000.0
Body            crossover
Mileage                80
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2012
Model                  X6
Name: 45, dtype: object
index number -46
Brand           Mitsubishi
Price               2500.0
Body                 sedan
Mileage                220
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  1987
Model               Galant
Name: 46, dtype: object
index number -47
Brand              BMW
Price           3700.0
Body             sedan
Mileage            231
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1990
Model              525
Name: 47, dtype: object
index number -48
Brand           Mercedes-Benz
Price                 29500.0
Body                    sedan
Mileage                   134
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2008
Model                   S 500
Name: 48, dtype: object
index number -49
Brand              BMW
Price           6500.0
Body             sedan
Mileage            335
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1996
Model              528
Name: 49, dtype: object
index number -50
Brand           Mercedes-Benz
Price                     NaN
Body                    sedan
Mileage                   145
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                 E-Class
Name: 50, dtype: object
index number -51
Brand           Renault
Price            8250.0
Body                van
Mileage              66
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2014
Model            Kangoo
Name: 51, dtype: object
index number -52
Brand           Mercedes-Benz
Price                 19500.0
Body                crossover
Mileage                   172
EngineV                   3.5
Engine Type             Other
Registration              yes
Year                     2008
Model                  ML 350
Name: 52, dtype: object
index number -53
Brand           Mercedes-Benz
Price                 13500.0
Body                    sedan
Mileage                   317
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2001
Model                   S 500
Name: 53, dtype: object
index number -54
Brand           Mercedes-Benz
Price                  9200.0
Body                      van
Mileage                   266
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                    Vito
Name: 54, dtype: object
index number -55
Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 55, dtype: object
index number -56
Brand            Toyota
Price           10900.0
Body              sedan
Mileage             156
EngineV             NaN
Engine Type         Gas
Registration        yes
Year               2005
Model             Camry
Name: 56, dtype: object
index number -57
Brand           Volkswagen
Price               5000.0
Body                 vagon
Mileage                265
EngineV                2.0
Engine Type         Diesel
Registration            no
Year                  2006
Model            Passat B6
Name: 57, dtype: object
index number -58
Brand                 BMW
Price             23900.0
Body            crossover
Mileage               162
EngineV               4.8
Engine Type        Petrol
Registration          yes
Year                 2007
Model                  X5
Name: 58, dtype: object
index number -59
Brand               BMW
Price           36900.0
Body              sedan
Mileage              81
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2010
Model               730
Name: 59, dtype: object
index number -60
Brand              BMW
Price           8900.0
Body             other
Mileage            253
EngineV            1.8
Engine Type     Petrol
Registration       yes
Year              1995
Model              318
Name: 60, dtype: object
index number -61
Brand           Renault
Price            7800.0
Body                van
Mileage             200
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2002
Model            Trafic
Name: 61, dtype: object
index number -62
Brand                 BMW
Price            133000.0
Body            crossover
Mileage                 7
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2015
Model                X5 M
Name: 62, dtype: object
index number -63
Brand              BMW
Price           1650.0
Body             sedan
Mileage            270
EngineV            1.8
Engine Type     Petrol
Registration        no
Year              1995
Model              318
Name: 63, dtype: object
index number -64
Brand           Mercedes-Benz
Price                 50000.0
Body                    sedan
Mileage                   240
EngineV                   3.5
Engine Type            Petrol
Registration              yes
Year                     2006
Model                   S 350
Name: 64, dtype: object
index number -65
Brand           Renault
Price            9700.0
Body                van
Mileage             245
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model            Trafic
Name: 65, dtype: object
index number -66
Brand           Mercedes-Benz
Price                  9999.0
Body                      van
Mileage                   127
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model                    Vito
Name: 66, dtype: object
index number -67
Brand                 Audi
Price              69999.0
Body             crossover
Mileage                 21
EngineV                3.0
Engine Type         Petrol
Registration           yes
Year                  2015
Model           A6 Allroad
Name: 67, dtype: object
index number -68
Brand           Mitsubishi
Price               6500.0
Body                 sedan
Mileage                152
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2007
Model               Lancer
Name: 68, dtype: object
index number -69
Brand             Audi
Price           4300.0
Body             sedan
Mileage            267
EngineV            1.9
Engine Type     Diesel
Registration        no
Year              2003
Model               A6
Name: 69, dtype: object
index number -70
Brand             Audi
Price           3000.0
Body             sedan
Mileage            267
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1999
Model               A6
Name: 70, dtype: object
index number -71
Brand           Mercedes-Benz
Price                  8700.0
Body                    sedan
Mileage                   240
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2000
Model                 E-Class
Name: 71, dtype: object
index number -72
Brand           Renault
Price            9000.0
Body              vagon

index number -526
Brand              BMW
Price           9800.0
Body             sedan
Mileage            350
EngineV            3.0
Engine Type     Diesel
Registration       yes
Year              2001
Model              530
Name: 526, dtype: object
index number -527
Brand           Volkswagen
Price               4300.0
Body                 vagon
Mileage                298
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  1998
Model             Golf III
Name: 527, dtype: object
index number -528
Brand             Audi
Price           3900.0
Body             vagon
Mileage            260
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2003
Model               A6
Name: 528, dtype: object
index number -529
Brand                  Volkswagen
Price                     13499.0
Body                          van
Mileage                       154
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2013
Model           T5 (Transporter)
Name: 529, dtype: object
index number -530
Brand              Audi
Price           19990.0
Body              sedan
Mileage             127
EngineV             2.8
Engine Type      Petrol
Registration        yes
Year               2010
Model                A6
Name: 530, dtype: object
index number -531
Brand           Renault
Price            3400.0
Body                van
Mileage             260
EngineV             2.2
Engine Type      Diesel
Registration         no
Year               2005
Model            Espace
Name: 531, dtype: object
index number -532
Brand            Toyota
Price           27800.0
Body              sedan
Mileage             157
EngineV             3.5
Engine Type      Petrol
Registration        yes
Year               2011
Model             Camry
Name: 532, dtype: object
index number -533
Brand           Volkswagen
Price               2300.0
Body                 hatch
Mileage                320
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  1989
Model              Golf II
Name: 533, dtype: object
index number -534
Brand               BMW
Price           30500.0
Body              sedan
Mileage             630
EngineV             NaN
Engine Type      Petrol
Registration        yes
Year               2010
Model               523
Name: 534, dtype: object
index number -535
Brand           Renault
Price            7650.0
Body                van
Mileage             151
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 535, dtype: object
index number -536
Brand           Volkswagen
Price              10000.0
Body                   van
Mileage                220
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2008
Model                Caddy
Name: 536, dtype: object
index number -537
Brand             Volkswagen
Price                 9700.0
Body                   vagon
Mileage                  130
EngineV                  1.6
Engine Type              Gas
Registration             yes
Year                    2008
Model           Golf Variant
Name: 537, dtype: object
index number -538
Brand             Audi
Price           1950.0
Body             sedan
Mileage            320
EngineV           19.0
Engine Type      Other
Registration        no
Year              1996
Model               A4
Name: 538, dtype: object
index number -539
Brand             Audi
Price           3800.0
Body             sedan
Mileage            270
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model               A6
Name: 539, dtype: object
index number -540
Brand                       Toyota
Price                      26900.0
Body                     crossover
Mileage                        115
EngineV                        4.0
Engine Type                    Gas
Registration                   yes
Year                          2008
Model           Land Cruiser Prado
Name: 540, dtype: object
index number -541
Brand              BMW
Price              NaN
Body             other
Mileage             35
EngineV            3.0
Engine Type     Petrol
Registration       yes
Year              2008
Model              630
Name: 541, dtype: object
index number -542
Brand            Toyota
Price           12600.0
Body              sedan
Mileage             205
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2006
Model             Camry
Name: 542, dtype: object
index number -543
Brand                  Volkswagen
Price                     14899.0
Body                          van
Mileage                       158
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2012
Model           T5 (Transporter)
Name: 543, dtype: object
index number -544
Brand           Renault
Price            4999.0
Body              vagon
Mileage             252
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2007
Model            Kangoo
Name: 544, dtype: object
index number -545
Brand               BMW
Price           57777.0
Body              other
Mileage              40
EngineV             4.0
Engine Type      Diesel
Registration        yes
Year               2012
Model                X6
Name: 545, dtype: object
index number -546
Brand           Volkswagen
Price              12350.0
Body                   van
Mileage                167
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2011
Model               Touran
Name: 546, dtype: object
index number -547
Brand             Audi
Price           7999.0
Body             sedan
Mileage            177
EngineV            2.7
Engine Type        Gas
Registration       yes
Year              2003
Model               A6
Name: 547, dtype: object
index number -548
Brand                 BMW
Price             21600.0
Body            crossover
Mileage               200
EngineV               4.8
Engine Type         Other
Registration          yes
Year                 2007
Model                  X5
Name: 548, dtype: object
index number -549
Brand           Mitsubishi
Price               8000.0
Body                 sedan
Mileage                 67
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2009
Model             Lancer X
Name: 549, dtype: object
index number -550
Brand           Volkswagen
Price               6799.0
Body                 hatch
Mileage                  1
EngineV                1.4
Engine Type            Gas
Registration           yes
Year                  1998
Model              Golf IV
Name: 550, dtype: object
index number -551
Brand             Toyota
Price           25749.75
Body               sedan
Mileage                0
EngineV              2.5
Engine Type       Petrol
Registration         yes
Year                2016
Model              Camry
Name: 551, dtype: object
index number -552
Brand           Volkswagen
Price               8899.0
Body                 vagon
Mileage                198
EngineV                1.9
Engine Type          Other
Registration           yes
Year                  2004
Model            Passat B5
Name: 552, dtype: object
index number -553
Brand           Mercedes-Benz
Price                 26800.0
Body                    sedan
Mileage                   162
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2007
Model                   S 500
Name: 553, dtype: object
index number -554
Brand                     Toyota
Price                    25555.0
Body                   crossover
Mileage                      128
EngineV                      4.7
Engine Type                  Gas
Registration                 yes
Year                        2004
Model           Land Cruiser 100
Name: 554, dtype: object
index number -555
Brand                Audi
Price             25000.0
Body            crossover
Mileage               112
EngineV               3.2
Engine Type        Petrol
Registration          yes
Year                 2010
Model                  Q5
Name: 555, dtype: object
index number -556
Brand                  Volkswagen
Price                     15800.0
Body                          van
Mileage                       194
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2012
Model           T5 (Transporter)
Name: 556, dtype: object
index number -557
Brand              BMW
Price           3150.0
Body             sedan
Mileage            200
EngineV            2.0
Engine Type     Diesel
Registration        no
Year              1999
Model              320
Name: 557, dtype: object
index number -558
Brand            Toyota
Price           12300.0
Body              sedan
Mileage             157
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2007
Model             Camry
Name: 558, dtype: object
index number -559
Brand               Toyota
Price              45500.0
Body             crossover
Mileage                 45
EngineV                3.5
Engine Type         Petrol
Registration           yes
Year                  2015
Model           Highlander
Name: 559, dtype: object
index number -560
Brand           Renault
Price            6500.0
Body              other
Mileage             406
EngineV             2.5
Engine Type      Diesel
Registration        yes
Year               2004
Model            Master
Name: 560, dtype: object
index number -561
Brand              Toyota
Price             18999.0
Body            crossover
Mileage                95
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model               Rav 4
Name: 561, dtype: object
index number -562
Brand              BMW
Price           8500.0
Body             sedan
Mileage            260
EngineV            2.2
Engine Type        Gas
Registration       yes
Year              2001
Model              520
Name: 562, dtype: object
index number -563
Brand           Mercedes-Benz
Price                  8500.0
Body                      van
Mileage                   350
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2004
Model            Sprinter 211
Name: 563, dtype: object
index number -564
Brand                       Toyota
Price                      13500.0
Body                     crossover
Mileage                        126
EngineV                        4.0
Engine Type                 Petrol
Registration                    no
Year                          2011
Model           Land Cruiser Prado
Name: 564, dtype: object
index number -565
Brand           Volkswagen
Price               2200.0
Body                 sedan
Mileage                180
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2003
Model            Passat B5
Name: 565, dtype: object
index number -566
Brand           Volkswagen
Price              18500.0
Body                 vagon
Mileage                125
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model            Passat B7
Name: 566, dtype: object
index number -567
Brand           Toyota
Price           8420.0
Body             other
Mileage            150
EngineV            2.7
Engine Type        Gas
Registration       yes
Year              2005
Model           Tacoma
Name: 567, dtype: object
index number -568
Brand              Audi
Price           17500.0
Body              vagon
Mileage             144
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2010
Model                A4
Name: 568, dtype: object
index number -569
Brand             Audi
Price           9000.0
Body             sedan
Mileage            158
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              2003
Model               A4
Name: 569, dtype: object
index number -570
Brand           Volkswagen
Price               4400.0
Body                 hatch
Mileage                238
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  1994
Model             Golf III
Name: 570, dtype: object
index number -571
Brand                 BMW
Price                 NaN
Body            crossover
Mileage                 0
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 571, dtype: object
index number -572
Brand           Renault
Price            7500.0
Body                van
Mileage             200
EngineV             2.2
Engine Type      Diesel
Registration        yes
Year               2002
Model            Espace
Name: 572, dtype: object
index number -573
Brand            Toyota
Price           17950.0
Body              sedan
Mileage              87
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2010
Model             Camry
Name: 573, dtype: object
index number -574
Brand                 BMW
Price             51500.0
Body            crossover
Mileage                23
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2013
Model                  X6
Name: 574, dtype: object
index number -575
Brand             Mitsubishi
Price                10800.0
Body               crossover
Mileage                  165
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2007
Model           Pajero Sport
Name: 575, dtype: object
index number -576
Brand           Volkswagen
Price              33700.0
Body                   van
Mileage                 11
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2016
Model               Touran
Name: 576, dtype: object
index number -577
Brand           Volkswagen
Price              17000.0
Body             crossover
Mileage                158
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2007
Model              Touareg
Name: 577, dtype: object
index number -578
Brand           Volkswagen
Price              11200.0
Body             crossover
Mileage                  1
EngineV                4.2
Engine Type         Petrol
Registration           yes
Year                  2004
Model              Touareg
Name: 578, dtype: object
index number -579
Brand              BMW
Price           4500.0
Body             sedan
Mileage            140
EngineV            3.0
Engine Type     Diesel
Registration        no
Year              2000
Model              530
Name: 579, dtype: object
index number -580
Brand            Toyota
Price           43999.0
Body              other
Mileage               0
EngineV             2.8
Engine Type      Diesel
Registration        yes
Year               2016
Model             Hilux
Name: 580, dtype: object
index number -581
Brand              Audi
Price           39800.0
Body              sedan
Mileage             180
EngineV             4.2
Engine Type       Other
Registration        yes
Year               2012
Model                A8
Name: 581, dtype: object
index number -582
Brand              BMW
Price           6500.0
Body             sedan
Mileage            272
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1996
Model              328
Name: 582, dtype: object
index number -583
Brand           Volkswagen
Price              18700.0
Body                 vagon
Mileage                196
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model            Passat B7
Name: 583, dtype: object
index number -584
Brand              Audi
Price           38500.0
Body              vagon
Mileage              75
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2013
Model                Q3
Name: 584, dtype: object
index number -585
Brand              BMW
Price           8200.0
Body             sedan
Mileage            241
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1998
Model              320
Name: 585, dtype: object
index number -586
Brand             Audi
Price           7500.0
Body             vagon
Mileage            240
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              2002
Model               A4
Name: 586, dtype: object
index number -587
Brand            Toyota
Price           11550.0
Body              sedan
Mileage              95
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2007
Model             Camry
Name: 587, dtype: object
index number -588
Brand           Mercedes-Benz
Price                 39500.0
Body                    sedan
Mileage                    30
EngineV                   1.6
Engine Type            Petrol
Registration              yes
Year                     2014
Model                 C-Class
Name: 588, dtype: object
index number -589
Brand           Volkswagen
Price               6200.0
Body                 sedan
Mileage                161
EngineV                4.2
Engine Type            Gas
Registration            no
Year                  2004
Model              Phaeton
Name: 589, dtype: object
index number -590
Brand                 BMW
Price             17200.0
Body            crossover
Mileage               308
EngineV               4.6
Engine Type           Gas
Registration          yes
Year                 2003
Model                  X5
Name: 590, dtype: object
index number -591
Brand              BMW
Price           2900.0
Body             sedan
Mileage            280
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1997
Model              525
Name: 591, dtype: object
index number -592
Brand           Renault
Price           14600.0
Body              other
Mileage             169
EngineV             2.3
Engine Type      Diesel
Registration        yes
Year               2013
Model            Master
Name: 592, dtype: object
index number -593
Brand                 BMW
Price             34900.0
Body            crossover
Mileage               110
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2010
Model                  X6
Name: 593, dtype: object
index number -594
Brand                     Toyota
Price                   164500.0
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2015
Model           Land Cruiser 200
Name: 594, dtype: object
index number -595
Brand                 Audi
Price                  NaN
Body             crossover
Mileage                  1
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2016
Model           A6 Allroad
Name: 595, dtype: object
index number -596
Brand               BMW
Price           15299.0
Body              other
Mileage             136
EngineV             NaN
Engine Type      Petrol
Registration        yes
Year               2008
Model               523
Name: 596, dtype: object
index number -597
Brand           Mercedes-Benz
Price                  7000.0
Body                    other
Mileage                   170
EngineV                   2.2
Engine Type            Petrol
Registration               no
Year                     2001

Name: 1025, dtype: object
index number -1026
Brand           Volkswagen
Price              42500.0
Body             crossover
Mileage                 63
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2014
Model              Touareg
Name: 1026, dtype: object
index number -1027
Brand               Toyota
Price              28000.0
Body             crossover
Mileage                 95
EngineV                3.5
Engine Type            Gas
Registration           yes
Year                  2011
Model           Highlander
Name: 1027, dtype: object
index number -1028
Brand           Mitsubishi
Price              17500.0
Body             crossover
Mileage                 38
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2012
Model                  ASX
Name: 1028, dtype: object
index number -1029
Brand                 Volkswagen
Price                     7800.0
Body                         van
Mileage                      282
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2000
Model           T4 (Transporter)
Name: 1029, dtype: object
index number -1030
Brand           Mercedes-Benz
Price                 74999.0
Body                crossover
Mileage                     1
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 1030, dtype: object
index number -1031
Brand           Renault
Price           10200.0
Body              other
Mileage              39
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2014
Model            Kangoo
Name: 1031, dtype: object
index number -1032
Brand               BMW
Price           22500.0
Body              sedan
Mileage             179
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2007
Model               730
Name: 1032, dtype: object
index number -1033
Brand           Mercedes-Benz
Price                 52777.0
Body                    sedan
Mileage                    60
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2012
Model                 CLS 350
Name: 1033, dtype: object
index number -1034
Brand            Toyota
Price           14250.0
Body                van
Mileage             127
EngineV             3.5
Engine Type       Other
Registration        yes
Year               2007
Model            Sienna
Name: 1034, dtype: object
index number -1035
Brand                       Toyota
Price                      26200.0
Body                     crossover
Mileage                        156
EngineV                        4.0
Engine Type                    Gas
Registration                   yes
Year                          2007
Model           Land Cruiser Prado
Name: 1035, dtype: object
index number -1036
Brand                 Volkswagen
Price                     9800.0
Body                         van
Mileage                      299
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2002
Model           T4 (Transporter)
Name: 1036, dtype: object
index number -1037
Brand           Mercedes-Benz
Price                 47600.0
Body                      van
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                    Vito
Name: 1037, dtype: object
index number -1038
Brand                  Volkswagen
Price                      8700.0
Body                        other
Mileage                       357
EngineV                       2.5
Engine Type                Diesel
Registration                  yes
Year                         2003
Model           T4 (Transporter)
Name: 1038, dtype: object
index number -1039
Brand                 BMW
Price             30500.0
Body            crossover
Mileage               147
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2008
Model                  X5
Name: 1039, dtype: object
index number -1040
Brand           Renault
Price           11700.0
Body              vagon
Mileage             177
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Laguna
Name: 1040, dtype: object
index number -1041
Brand               BMW
Price           29500.0
Body              sedan
Mileage             850
EngineV             NaN
Engine Type      Petrol
Registration        yes
Year               2011
Model               523
Name: 1041, dtype: object
index number -1042
Brand           Mercedes-Benz
Price                  6400.0
Body                    hatch
Mileage                   177
EngineV                   2.0
Engine Type            Diesel
Registration               no
Year                     2008
Model                   B 200
Name: 1042, dtype: object
index number -1043
Brand                 BMW
Price             36400.0
Body            crossover
Mileage                80
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model                  X5
Name: 1043, dtype: object
index number -1044
Brand                Audi
Price             75000.0
Body            crossover
Mileage                 0
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2015
Model                  Q7
Name: 1044, dtype: object
index number -1045
Brand           Volkswagen
Price               6000.0
Body                 hatch
Mileage                195
EngineV                1.2
Engine Type            Gas
Registration           yes
Year                  2004
Model                 Polo
Name: 1045, dtype: object
index number -1046
Brand           Mercedes-Benz
Price                  4900.0
Body                      van
Mileage                   248
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2003
Model                    Vito
Name: 1046, dtype: object
index number -1047
Brand           Mercedes-Benz
Price                  6999.0
Body                    sedan
Mileage                   288
EngineV                   3.2
Engine Type               Gas
Registration              yes
Year                     2001
Model                 E-Class
Name: 1047, dtype: object
index number -1048
Brand           Volkswagen
Price               9900.0
Body                 other
Mileage                171
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model                Caddy
Name: 1048, dtype: object
index number -1049
Brand           Volkswagen
Price               3500.0
Body                 sedan
Mileage                189
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  1993
Model                Vento
Name: 1049, dtype: object
index number -1050
Brand                  Volkswagen
Price                         NaN
Body                          van
Mileage                       162
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2011
Model           T5 (Transporter)
Name: 1050, dtype: object
index number -1051
Brand              BMW
Price           1750.0
Body             vagon
Mileage            200
EngineV            2.0
Engine Type     Petrol
Registration        no
Year              2000
Model              520
Name: 1051, dtype: object
index number -1052
Brand           Renault
Price            4600.0
Body              sedan
Mileage             230
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2007
Model            Kangoo
Name: 1052, dtype: object
index number -1053
Brand           Mercedes-Benz
Price                     NaN
Body                    other
Mileage                     0
EngineV                   3.0
Engine Type             Other
Registration              yes
Year                     2016
Model                   S 400
Name: 1053, dtype: object
index number -1054
Brand           Volkswagen
Price               9800.0
Body                   van
Mileage                220
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2008
Model                Caddy
Name: 1054, dtype: object
index number -1055
Brand           Renault
Price            5950.0
Body                van
Mileage             135
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 1055, dtype: object
index number -1056
Brand           Renault
Price            7400.0
Body                van
Mileage             120
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 1056, dtype: object
index number -1057
Brand              Audi
Price           12800.0
Body              sedan
Mileage             217
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2007
Model                A4
Name: 1057, dtype: object
index number -1058
Brand              BMW
Price           7300.0
Body             sedan
Mileage            350
EngineV            NaN
Engine Type     Petrol
Registration       yes
Year              1997
Model              520
Name: 1058, dtype: object
index number -1059
Brand           Volkswagen
Price               9000.0
Body                 sedan
Mileage                 59
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  2013
Model                 Polo
Name: 1059, dtype: object
index number -1060
Brand           Volkswagen
Price               1550.0
Body                 hatch
Mileage                130
EngineV                1.3
Engine Type         Petrol
Registration           yes
Year                  1986
Model              Golf II
Name: 1060, dtype: object
index number -1061
Brand           Mitsubishi
Price              18600.0
Body             crossover
Mileage                 52
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2013
Model            Outlander
Name: 1061, dtype: object
index number -1062
Brand              BMW
Price           3900.0
Body             sedan
Mileage            340
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model              525
Name: 1062, dtype: object
index number -1063
Brand                Audi
Price             92222.0
Body            crossover
Mileage                 0
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  Q7
Name: 1063, dtype: object
index number -1064
Brand                 Volkswagen
Price                     5400.0
Body                       other
Mileage                      314
EngineV                      2.4
Engine Type               Diesel
Registration                 yes
Year                        1993
Model           T4 (Transporter)
Name: 1064, dtype: object
index number -1065
Brand              Audi
Price           16000.0
Body              sedan
Mileage             250
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model                A6
Name: 1065, dtype: object
index number -1066
Brand           Volkswagen
Price               3500.0
Body                 other
Mileage                304
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2006
Model               Touran
Name: 1066, dtype: object
index number -1067
Brand           Mercedes-Benz
Price                  6500.0
Body                    sedan
Mileage                   270
EngineV                   2.8
Engine Type               Gas
Registration              yes
Year                     1999
Model                 E-Class
Name: 1067, dtype: object
index number -1068
Brand           Mercedes-Benz
Price                  7000.0
Body                    sedan
Mileage                   300
EngineV                   4.3
Engine Type               Gas
Registration              yes
Year                     2000
Model                 E-Class
Name: 1068, dtype: object
index number -1069
Brand           Renault
Price           10499.0
Body              vagon
Mileage             121
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2013
Model            Megane
Name: 1069, dtype: object
index number -1070
Brand             Renault
Price             13900.0
Body            crossover
Mileage               111
EngineV               2.5
Engine Type           Gas
Registration          yes
Year                 2010
Model              Koleos
Name: 1070, dtype: object
index number -1071
Brand              BMW
Price           6400.0
Body             other
Mileage            220
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1997
Model              323
Name: 1071, dtype: object
index number -1072
Brand               BMW
Price           10800.0
Body              sedan
Mileage             246
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2003
Model               530
Name: 1072, dtype: object
index number -1073
Brand               BMW
Price           12700.0
Body              hatch
Mileage             130
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2007
Model               118
Name: 1073, dtype: object
index number -1074
Brand               BMW
Price           38500.0
Body              sedan
Mileage             140
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model               520
Name: 1074, dtype: object
index number -1075
Brand           Mitsubishi
Price               5999.0
Body                 sedan
Mileage                150
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2005
Model               Lancer
Name: 1075, dtype: object
index number -1076
Brand           Renault
Price            9500.0
Body              hatch
Mileage              77
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2011
Model            Megane
Name: 1076, dtype: object
index number -1077
Brand                  Volkswagen
Price                     12000.0
Body                          van
Mileage                       196
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2011
Model           T5 (Transporter)
Name: 1077, dtype: object
index number -1078
Brand           Mercedes-Benz
Price                 38700.0
Body                    sedan
Mileage                   117
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2010
Model                   S 550
Name: 1078, dtype: object
index number -1079
Brand           Mercedes-Benz
Price                 40000.0
Body                    other
Mileage                   119
EngineV                   6.3
Engine Type            Petrol
Registration              yes
Year                     2008
Model               ML 63 AMG
Name: 1079, dtype: object
index number -1080
Brand           Mercedes-Benz
Price                  6900.0
Body                    other
Mileage                   311
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     1999
Model                    Vito
Name: 1080, dtype: object
index number -1081
Brand              Audi
Price           24300.0
Body              sedan
Mileage              43
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2012
Model                A4
Name: 1081, dtype: object
index number -1082
Brand             Mitsubishi
Price                17700.0
Body               crossover
Mileage                  165
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2007
Model           Pajero Wagon
Name: 1082, dtype: object
index number -1083
Brand                       Toyota
Price                      18999.0
Body                     crossover
Mileage                        153
EngineV                        2.7
Engine Type                    Gas
Registration                   yes
Year                          2006
Model           Land Cruiser Prado
Name: 1083, dtype: object
index number -1084
Brand              BMW
Price           8300.0
Body             sedan
Mileage            200
EngineV            4.4
Engine Type     Petrol
Registration       yes
Year              2001
Model              740
Name: 1084, dtype: object
index number -1085
Brand               Toyota
Price              25000.0
Body             crossover
Mileage                 80
EngineV                4.0
Engine Type            Gas
Registration           yes
Year                  2008
Model           FJ Cruiser
Name: 1085, dtype: object
index number -1086
Brand           Volkswagen
Price                  NaN
Body                 vagon
Mileage                161
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2011
Model            Passat B7
Name: 1086, dtype: object
index number -1087
Brand             Mitsubishi
Price                12499.0
Body               crossover
Mileage                  142
EngineV                  2.4
Engine Type              Gas
Registration             yes
Year                    2008
Model           Outlander XL
Name: 1087, dtype: object
index number -1088
Brand              BMW
Price           2899.0
Body             sedan
Mileage            340
EngineV            2.4
Engine Type     Diesel
Registration       yes
Year              1988
Model              524
Name: 1088, dtype: object
index number -1089
Brand               BMW
Price           19900.0
Body              other
Mileage              95
EngineV             4.5
Engine Type      Petrol
Registration        yes
Year               2005
Model               645
Name: 1089, dtype: object
index number -1090
Brand                Audi
Price             51000.0
Body            crossover
Mileage                44
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2014
Model                  Q7
Name: 1090, dtype: object
index number -1091
Brand                Audi
Price             81999.0
Body            crossover
Mileage                 0
EngineV              2.98
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  Q7
Name: 1091, dtype: object
index number -1092
Brand              BMW
Price           9500.0
Body             sedan
Mileage            400
EngineV            3.5
Engine Type        Gas
Registration       yes
Year              1999
Model              735
Name: 1092, dtype: object
index number -1093
Brand           Mitsubishi
Price              10200.0
Body             crossover
Mileage                 99
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2008
Model            Outlander
Name: 1093, dtype: object
index number -1094
Brand           Mercedes-Benz
Price                  5500.0
Body                      van
Mileage                   260
EngineV                   2.2
Engine Type            Diesel
Registration               no
Year                     2004
Model                    Vito

Brand            Toyota
Price           18600.0
Body              hatch
Mileage              73
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2013
Model             Auris
Name: 1525, dtype: object
index number -1526
Brand           Volkswagen
Price               7600.0
Body                 hatch
Mileage                225
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2004
Model               Golf V
Name: 1526, dtype: object
index number -1527
Brand                 Volkswagen
Price                        NaN
Body                       other
Mileage                      201
EngineV                      1.9
Engine Type               Diesel
Registration                 yes
Year                        2007
Model           T5 (Transporter)
Name: 1527, dtype: object
index number -1528
Brand           Volkswagen
Price               9200.0
Body                 hatch
Mileage                127
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2007
Model               Golf V
Name: 1528, dtype: object
index number -1529
Brand             Audi
Price           3700.0
Body             vagon
Mileage            290
EngineV            1.9
Engine Type     Diesel
Registration        no
Year              2002
Model               A4
Name: 1529, dtype: object
index number -1530
Brand                 BMW
Price             26000.0
Body            crossover
Mileage               270
EngineV               4.8
Engine Type        Petrol
Registration          yes
Year                 2008
Model                  X5
Name: 1530, dtype: object
index number -1531
Brand               BMW
Price           12950.0
Body              sedan
Mileage             268
EngineV             4.0
Engine Type      Diesel
Registration        yes
Year               2004
Model               740
Name: 1531, dtype: object
index number -1532
Brand             Mitsubishi
Price                15200.0
Body               crossover
Mileage                  193
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 1532, dtype: object
index number -1533
Brand                 Audi
Price              62000.0
Body                 vagon
Mileage                 24
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model           A6 Allroad
Name: 1533, dtype: object
index number -1534
Brand            Toyota
Price           68500.0
Body                van
Mileage               1
EngineV             3.5
Engine Type      Petrol
Registration        yes
Year               2016
Model            Sienna
Name: 1534, dtype: object
index number -1535
Brand           Volkswagen
Price               2500.0
Body                 hatch
Mileage                111
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  1999
Model              Golf IV
Name: 1535, dtype: object
index number -1536
Brand           Volkswagen
Price               2600.0
Body                 other
Mileage                296
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2000
Model              Golf IV
Name: 1536, dtype: object
index number -1537
Brand           Mercedes-Benz
Price                 12250.0
Body                      van
Mileage                   300
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 1537, dtype: object
index number -1538
Brand                       Toyota
Price                      39900.0
Body                     crossover
Mileage                         94
EngineV                        4.0
Engine Type                    Gas
Registration                   yes
Year                          2010
Model           Land Cruiser Prado
Name: 1538, dtype: object
index number -1539
Brand           Volkswagen
Price               1500.0
Body                 other
Mileage                160
EngineV                1.4
Engine Type         Petrol
Registration            no
Year                  1999
Model              Golf IV
Name: 1539, dtype: object
index number -1540
Brand           Mercedes-Benz
Price                  3700.0
Body                    sedan
Mileage                   270
EngineV                   3.5
Engine Type            Petrol
Registration               no
Year                     2004
Model                   S 350
Name: 1540, dtype: object
index number -1541
Brand              BMW
Price           8999.0
Body             other
Mileage            160
EngineV            1.8
Engine Type     Petrol
Registration       yes
Year              1997
Model              318
Name: 1541, dtype: object
index number -1542
Brand           Mitsubishi
Price               9900.0
Body                 other
Mileage                200
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2007
Model                L 200
Name: 1542, dtype: object
index number -1543
Brand           Volkswagen
Price              16800.0
Body             crossover
Mileage                249
EngineV                5.0
Engine Type         Diesel
Registration           yes
Year                  2005
Model              Touareg
Name: 1543, dtype: object
index number -1544
Brand           Volkswagen
Price              23999.0
Body                 sedan
Mileage                  0
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2016
Model                Jetta
Name: 1544, dtype: object
index number -1545
Brand           Mercedes-Benz
Price                 36000.0
Body                crossover
Mileage                   162
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2009
Model                  GL 320
Name: 1545, dtype: object
index number -1546
Brand           Mitsubishi
Price              15800.0
Body                 other
Mileage                146
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2013
Model                L 200
Name: 1546, dtype: object
index number -1547
Brand           Volkswagen
Price              19300.0
Body                 sedan
Mileage                136
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model            Passat B7
Name: 1547, dtype: object
index number -1548
Brand           Renault
Price            6450.0
Body                van
Mileage             148
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 1548, dtype: object
index number -1549
Brand           Renault
Price            4200.0
Body                van
Mileage             220
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2004
Model            Kangoo
Name: 1549, dtype: object
index number -1550
Brand           Mercedes-Benz
Price                     NaN
Body                    sedan
Mileage                    29
EngineV                   6.0
Engine Type            Petrol
Registration              yes
Year                     2011
Model                 S-Guard
Name: 1550, dtype: object
index number -1551
Brand                 BMW
Price             32000.0
Body            crossover
Mileage                52
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2012
Model                  X5
Name: 1551, dtype: object
index number -1552
Brand            Toyota
Price           12500.0
Body              sedan
Mileage             110
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2007
Model             Camry
Name: 1552, dtype: object
index number -1553
Brand                 BMW
Price             47900.0
Body            crossover
Mileage               178
EngineV               4.0
Engine Type        Diesel
Registration          yes
Year                 2012
Model                  X5
Name: 1553, dtype: object
index number -1554
Brand           Mercedes-Benz
Price                 21999.0
Body                    sedan
Mileage                   200
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2008
Model                 E-Class
Name: 1554, dtype: object
index number -1555
Brand              Audi
Price           15000.0
Body              sedan
Mileage             168
EngineV             NaN
Engine Type       Other
Registration        yes
Year               2007
Model                A6
Name: 1555, dtype: object
index number -1556
Brand           Toyota
Price           7500.0
Body             hatch
Mileage             74
EngineV            1.3
Engine Type     Petrol
Registration       yes
Year              2008
Model            Yaris
Name: 1556, dtype: object
index number -1557
Brand           Mercedes-Benz
Price                125000.0
Body                    sedan
Mileage                    17
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2015
Model                   S 350
Name: 1557, dtype: object
index number -1558
Brand               BMW
Price           30500.0
Body              hatch
Mileage             110
EngineV             4.4
Engine Type      Petrol
Registration        yes
Year               2008
Model                X6
Name: 1558, dtype: object
index number -1559
Brand           Volkswagen
Price              17191.2
Body                 sedan
Mileage                  0
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2016
Model                Jetta
Name: 1559, dtype: object
index number -1560
Brand           Mercedes-Benz
Price                 45555.0
Body                    sedan
Mileage                    42
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2011
Model                   S 350
Name: 1560, dtype: object
index number -1561
Brand               BMW
Price           15200.0
Body              sedan
Mileage             227
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2008
Model               525
Name: 1561, dtype: object
index number -1562
Brand           Volkswagen
Price               8700.0
Body                 sedan
Mileage                270
EngineV                NaN
Engine Type         Diesel
Registration           yes
Year                  2009
Model                Caddy
Name: 1562, dtype: object
index number -1563
Brand                  Volkswagen
Price                      7800.0
Body                          van
Mileage                       226
EngineV                       1.9
Engine Type                Diesel
Registration                  yes
Year                         2005
Model           T5 (Transporter)
Name: 1563, dtype: object
index number -1564
Brand           Volkswagen
Price              22000.0
Body                 hatch
Mileage                 40
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2013
Model             Golf VII
Name: 1564, dtype: object
index number -1565
Brand           Mitsubishi
Price               9300.0
Body             crossover
Mileage                156
EngineV                2.4
Engine Type            Gas
Registration           yes
Year                  2006
Model            Outlander
Name: 1565, dtype: object
index number -1566
Brand           Mercedes-Benz
Price                 31900.0
Body                    sedan
Mileage                    97
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                 E-Class
Name: 1566, dtype: object
index number -1567
Brand           Mercedes-Benz
Price                  9350.0
Body                      van
Mileage                   160
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                    Vito
Name: 1567, dtype: object
index number -1568
Brand               BMW
Price           32500.0
Body              sedan
Mileage             134
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2010
Model               520
Name: 1568, dtype: object
index number -1569
Brand           Renault
Price           10200.0
Body              vagon
Mileage             151
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Megane
Name: 1569, dtype: object
index number -1570
Brand              Toyota
Price              8200.0
Body            crossover
Mileage               200
EngineV               2.0
Engine Type           Gas
Registration          yes
Year                 2002
Model               Rav 4
Name: 1570, dtype: object
index number -1571
Brand           Mercedes-Benz
Price                  7400.0
Body                    sedan
Mileage                   190
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     2002
Model                 C-Class
Name: 1571, dtype: object
index number -1572
Brand             Mitsubishi
Price                14200.0
Body               crossover
Mileage                  155
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2007
Model           Outlander XL
Name: 1572, dtype: object
index number -1573
Brand           Volkswagen
Price              24900.0
Body                 sedan
Mileage                  1
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2016
Model                Jetta
Name: 1573, dtype: object
index number -1574
Brand           Mercedes-Benz
Price                 24300.0
Body                    sedan
Mileage                   150
EngineV                   3.5
Engine Type               Gas
Registration              yes
Year                     2008
Model                   S 350
Name: 1574, dtype: object
index number -1575
Brand                 Volkswagen
Price                     9300.0
Body                         van
Mileage                      176
EngineV                      1.9
Engine Type               Diesel
Registration                 yes
Year                        2005
Model           T5 (Transporter)
Name: 1575, dtype: object
index number -1576
Brand           Volkswagen
Price              21000.0
Body             crossover
Mileage                130
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2008
Model              Touareg
Name: 1576, dtype: object
index number -1577
Brand                Audi
Price             36000.0
Body            crossover
Mileage               145
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2010
Model                  Q7
Name: 1577, dtype: object
index number -1578
Brand           Mitsubishi
Price              22900.0
Body             crossover
Mileage                 69
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  2014
Model            Outlander
Name: 1578, dtype: object
index number -1579
Brand           Mercedes-Benz
Price                  9900.0
Body                    sedan
Mileage                   275
EngineV                   2.2
Engine Type             Other
Registration              yes
Year                     2005
Model                 E-Class
Name: 1579, dtype: object
index number -1580
Brand           Volkswagen
Price               3950.0
Body                 hatch
Mileage                288
EngineV                1.8
Engine Type            Gas
Registration           yes
Year                  1996
Model             Golf III
Name: 1580, dtype: object
index number -1581
Brand               Toyota
Price              28700.0
Body             crossover
Mileage                100
EngineV                3.5
Engine Type         Petrol
Registration           yes
Year                  2012
Model           Highlander
Name: 1581, dtype: object
index number -1582
Brand                  Volkswagen
Price                     16900.0
Body                          van
Mileage                       121
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2014
Model           T5 (Transporter)
Name: 1582, dtype: object
index number -1583
Brand           Mercedes-Benz
Price                  7300.0
Body                    sedan
Mileage                   245
EngineV                   2.8
Engine Type               Gas
Registration              yes
Year                     1998
Model                 E-Class
Name: 1583, dtype: object
index number -1584
Brand           Mercedes-Benz
Price                  2200.0
Body                    sedan
Mileage                   400
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1988
Model                     190
Name: 1584, dtype: object
index number -1585
Brand            Toyota
Price           25500.0
Body              other
Mileage             103
EngineV             3.5
Engine Type      Petrol
Registration        yes
Year               2010
Model             Venza
Name: 1585, dtype: object
index number -1586
Brand           Volkswagen
Price               7650.0
Body                 other
Mileage                260
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2005
Model                Caddy
Name: 1586, dtype: object
index number -1587
Brand            Toyota
Price           22800.0
Body              other
Mileage              55
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2013
Model             Camry
Name: 1587, dtype: object
index number -1588
Brand           Renault
Price            8900.0
Body                van
Mileage             170
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2005
Model            Trafic
Name: 1588, dtype: object
index number -1589
Brand           Renault
Price           10990.0
Body              sedan
Mileage             118
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2012
Model           Fluence
Name: 1589, dtype: object
index number -1590
Brand           Mercedes-Benz
Price                107777.0
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 1590, dtype: object
index number -1591
Brand            Toyota
Price           17000.0
Body              sedan
Mileage              95
EngineV             2.0
Engine Type         Gas
Registration        yes
Year               2011
Model           Avensis
Name: 1591, dtype: object
index number -1592
Brand           Renault
Price             999.0
Body              sedan
Mileage             430
EngineV             2.0
Engine Type         Gas
Registration        yes
Year               1988
Model                25
Name: 1592, dtype: object
index number -1593
Brand              Audi
Price           12800.0
Body              other
Mileage               0
EngineV             NaN
Engine Type       Other
Registration        yes
Year               2005
Model                A6
Name: 1593, dtype: object
index number -1594

index number -2025
Brand                  Volkswagen
Price                      4700.0
Body                          van
Mileage                       342
EngineV                       1.9
Engine Type                Diesel
Registration                  yes
Year                         1996
Model           T4 (Transporter)
Name: 2025, dtype: object
index number -2026
Brand           Mitsubishi
Price               1180.0
Body                 sedan
Mileage                280
EngineV                1.8
Engine Type         Diesel
Registration           yes
Year                  1986
Model               Galant
Name: 2026, dtype: object
index number -2027
Brand                 Volkswagen
Price                    11000.0
Body                         van
Mileage                      282
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2006
Model           T5 (Transporter)
Name: 2027, dtype: object
index number -2028
Brand           Volkswagen
Price              24000.0
Body                 sedan
Mileage                105
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2012
Model            Passat CC
Name: 2028, dtype: object
index number -2029
Brand           Renault
Price            4100.0
Body              other
Mileage             270
EngineV             1.2
Engine Type         Gas
Registration        yes
Year               1999
Model            Kangoo
Name: 2029, dtype: object
index number -2030
Brand              BMW
Price           5800.0
Body             sedan
Mileage            270
EngineV            4.4
Engine Type     Petrol
Registration       yes
Year              1996
Model              540
Name: 2030, dtype: object
index number -2031
Brand             Audi
Price           8600.0
Body             sedan
Mileage            260
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              2002
Model               A6
Name: 2031, dtype: object
index number -2032
Brand             Audi
Price           3500.0
Body             other
Mileage            360
EngineV            2.2
Engine Type        Gas
Registration       yes
Year              1990
Model              100
Name: 2032, dtype: object
index number -2033
Brand           Mercedes-Benz
Price                  7777.0
Body                    sedan
Mileage                   270
EngineV                   2.8
Engine Type               Gas
Registration              yes
Year                     1996
Model                   S 140
Name: 2033, dtype: object
index number -2034
Brand           Mercedes-Benz
Price                129999.0
Body                crossover
Mileage                     0
EngineV                  4.67
Engine Type            Petrol
Registration              yes
Year                     2016
Model                 GLS 500
Name: 2034, dtype: object
index number -2035
Brand           Volkswagen
Price              19500.0
Body             crossover
Mileage                112
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2008
Model              Touareg
Name: 2035, dtype: object
index number -2036
Brand               BMW
Price           13300.0
Body              vagon
Mileage             157
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2007
Model               520
Name: 2036, dtype: object
index number -2037
Brand             Mitsubishi
Price                15900.0
Body               crossover
Mileage                  180
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 2037, dtype: object
index number -2038
Brand           Mercedes-Benz
Price                 28500.0
Body                    sedan
Mileage                    90
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2007
Model                   S 500
Name: 2038, dtype: object
index number -2039
Brand               BMW
Price           27300.0
Body              sedan
Mileage             155
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model               520
Name: 2039, dtype: object
index number -2040
Brand           Renault
Price            4800.0
Body              sedan
Mileage             100
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2006
Model              Clio
Name: 2040, dtype: object
index number -2041
Brand           Mercedes-Benz
Price                 11499.0
Body                    other
Mileage                   157
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2012
Model                    Vito
Name: 2041, dtype: object
index number -2042
Brand              BMW
Price           8500.0
Body             sedan
Mileage            284
EngineV            1.9
Engine Type        Gas
Registration       yes
Year              2000
Model              316
Name: 2042, dtype: object
index number -2043
Brand           Mercedes-Benz
Price                  3800.0
Body                      van
Mileage                   462
EngineV                   2.2
Engine Type            Diesel
Registration               no
Year                     2001
Model                Sprinter
Name: 2043, dtype: object
index number -2044
Brand           Mercedes-Benz
Price                 47600.0
Body                      van
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                    Vito
Name: 2044, dtype: object
index number -2045
Brand                       Toyota
Price                      17900.0
Body                     crossover
Mileage                        133
EngineV                        2.7
Engine Type                    Gas
Registration                   yes
Year                          2007
Model           Land Cruiser Prado
Name: 2045, dtype: object
index number -2046
Brand              Audi
Price           11800.0
Body              vagon
Mileage             278
EngineV             2.5
Engine Type      Diesel
Registration        yes
Year               2005
Model                A6
Name: 2046, dtype: object
index number -2047
Brand              Audi
Price           11115.0
Body              hatch
Mileage             150
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2008
Model                A3
Name: 2047, dtype: object
index number -2048
Brand                 Volkswagen
Price                    12999.0
Body                         van
Mileage                      160
EngineV                      2.0
Engine Type               Diesel
Registration                 yes
Year                        2011
Model           T6 (Transporter)
Name: 2048, dtype: object
index number -2049
Brand             Toyota
Price           24842.03
Body               sedan
Mileage                0
EngineV              1.8
Engine Type       Petrol
Registration         yes
Year                2016
Model            Avensis
Name: 2049, dtype: object
index number -2050
Brand             Audi
Price           7200.0
Body             sedan
Mileage            300
EngineV            NaN
Engine Type        Gas
Registration       yes
Year              1999
Model               A6
Name: 2050, dtype: object
index number -2051
Brand           Mitsubishi
Price               8400.0
Body                 sedan
Mileage                250
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2007
Model             Lancer X
Name: 2051, dtype: object
index number -2052
Brand            Toyota
Price           15500.0
Body              sedan
Mileage             129
EngineV             3.5
Engine Type       Other
Registration        yes
Year               2008
Model             Camry
Name: 2052, dtype: object
index number -2053
Brand               BMW
Price           13999.0
Body              sedan
Mileage             265
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2005
Model               730
Name: 2053, dtype: object
index number -2054
Brand           Mitsubishi
Price              10200.0
Body                 sedan
Mileage                104
EngineV                NaN
Engine Type            Gas
Registration           yes
Year                  2008
Model             Lancer X
Name: 2054, dtype: object
index number -2055
Brand                       Toyota
Price                      42900.0
Body                     crossover
Mileage                         51
EngineV                        3.0
Engine Type                 Diesel
Registration                   yes
Year                          2013
Model           Land Cruiser Prado
Name: 2055, dtype: object
index number -2056
Brand           Volkswagen
Price              47777.0
Body                 sedan
Mileage                 91
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2012
Model              Phaeton
Name: 2056, dtype: object
index number -2057
Brand                     Toyota
Price                        NaN
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 2057, dtype: object
index number -2058
Brand           Renault
Price            7550.0
Body              hatch
Mileage             155
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2007
Model            Laguna
Name: 2058, dtype: object
index number -2059
Brand               BMW
Price           68500.0
Body              sedan
Mileage              43
EngineV             4.4
Engine Type      Petrol
Registration        yes
Year               2013
Model               750
Name: 2059, dtype: object
index number -2060
Brand                 Volkswagen
Price                     8400.0
Body                         van
Mileage                      300
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2004
Model           T5 (Transporter)
Name: 2060, dtype: object
index number -2061
Brand            Renault
Price           24193.65
Body                 van
Mileage                1
EngineV              1.6
Engine Type       Diesel
Registration         yes
Year                2015
Model             Trafic
Name: 2061, dtype: object
index number -2062
Brand             Renault
Price             14700.0
Body            crossover
Mileage                61
EngineV               1.5
Engine Type        Diesel
Registration          yes
Year                 2013
Model              Duster
Name: 2062, dtype: object
index number -2063
Brand           Renault
Price            8300.0
Body                van
Mileage             127
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Kangoo
Name: 2063, dtype: object
index number -2064
Brand           Volkswagen
Price              19000.0
Body                 vagon
Mileage                185
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model            Passat B7
Name: 2064, dtype: object
index number -2065
Brand              BMW
Price           3700.0
Body             sedan
Mileage            305
EngineV            1.9
Engine Type     Petrol
Registration        no
Year              2000
Model              318
Name: 2065, dtype: object
index number -2066
Brand              BMW
Price           4500.0
Body             sedan
Mileage            307
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1994
Model              525
Name: 2066, dtype: object
index number -2067
Brand            Toyota
Price            9400.0
Body              sedan
Mileage             140
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2008
Model           Corolla
Name: 2067, dtype: object
index number -2068
Brand              Toyota
Price             25000.0
Body            crossover
Mileage               115
EngineV               5.7
Engine Type        Petrol
Registration          yes
Year                 2007
Model              Tundra
Name: 2068, dtype: object
index number -2069
Brand           Volkswagen
Price              18000.0
Body                 sedan
Mileage                110
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2013
Model            Passat B7
Name: 2069, dtype: object
index number -2070
Brand            Toyota
Price           12300.0
Body              sedan
Mileage             135
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2006
Model             Camry
Name: 2070, dtype: object
index number -2071
Brand           Mercedes-Benz
Price                 20500.0
Body                    sedan
Mileage                   235
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                 E-Class
Name: 2071, dtype: object
index number -2072
Brand           Renault
Price           11900.0
Body              other
Mileage             162
EngineV             2.3
Engine Type       Other
Registration        yes
Year               2011
Model            Master
Name: 2072, dtype: object
index number -2073
Brand              BMW
Price           3990.0
Body             sedan
Mileage            350
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1995
Model              525
Name: 2073, dtype: object
index number -2074
Brand              BMW
Price           2200.0
Body             sedan
Mileage            290
EngineV            1.6
Engine Type     Petrol
Registration       yes
Year              1985
Model              316
Name: 2074, dtype: object
index number -2075
Brand           Mercedes-Benz
Price                 13600.0
Body                      van
Mileage                   190
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2009
Model                    Vito
Name: 2075, dtype: object
index number -2076
Brand               BMW
Price           17300.0
Body              sedan
Mileage             180
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2007
Model               730
Name: 2076, dtype: object
index number -2077
Brand           Mercedes-Benz
Price                 12500.0
Body                      van
Mileage                   386
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model            Sprinter 313
Name: 2077, dtype: object
index number -2078
Brand                 BMW
Price             13900.0
Body            crossover
Mileage               184
EngineV               3.0
Engine Type           Gas
Registration          yes
Year                 2004
Model                  X5
Name: 2078, dtype: object
index number -2079
Brand                 BMW
Price             39600.0
Body            crossover
Mileage                98
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model                  X6
Name: 2079, dtype: object
index number -2080
Brand             Volkswagen
Price                11700.0
Body                     van
Mileage                  185
EngineV                  1.4
Engine Type           Petrol
Registration             yes
Year                    2008
Model           Cross Touran
Name: 2080, dtype: object
index number -2081
Brand             Audi
Price           7200.0
Body             sedan
Mileage            250
EngineV            2.4
Engine Type        Gas
Registration       yes
Year              1998
Model               A6
Name: 2081, dtype: object
index number -2082
Brand              Audi
Price           10999.0
Body              sedan
Mileage             200
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2006
Model                A4
Name: 2082, dtype: object
index number -2083
Brand           Renault
Price            7900.0
Body              vagon
Mileage             105
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model            Kangoo
Name: 2083, dtype: object
index number -2084
Brand           Mercedes-Benz
Price                 13900.0
Body                    other
Mileage                   168
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2002
Model                  CL 500
Name: 2084, dtype: object
index number -2085
Brand           Volkswagen
Price               4500.0
Body                 vagon
Mileage                390
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  1996
Model            Passat B4
Name: 2085, dtype: object
index number -2086
Brand              Toyota
Price              9000.0
Body            crossover
Mileage               180
EngineV               1.8
Engine Type           Gas
Registration          yes
Year                 2003
Model              Matrix
Name: 2086, dtype: object
index number -2087
Brand           Renault
Price           10500.0
Body              vagon
Mileage             233
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2009
Model            Laguna
Name: 2087, dtype: object
index number -2088
Brand           Mercedes-Benz
Price                 13000.0
Body                    sedan
Mileage                   220
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2003
Model                   S 500
Name: 2088, dtype: object
index number -2089
Brand           Renault
Price            7300.0
Body                van
Mileage             186
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model            Kangoo
Name: 2089, dtype: object
index number -2090
Brand            Toyota
Price           21999.0
Body              sedan
Mileage              80
EngineV             2.5
Engine Type       Other
Registration        yes
Year               2012
Model             Camry
Name: 2090, dtype: object
index number -2091
Brand           Mitsubishi
Price              10500.0
Body                 sedan
Mileage                 57
EngineV                1.5
Engine Type            Gas
Registration           yes
Year                  2011
Model             Lancer X
Name: 2091, dtype: object
index number -2092
Brand                 BMW
Price                 NaN
Body            crossover
Mileage                 8
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 2092, dtype: object
index number -2093
Brand           Renault
Price            8300.0
Body                van
Mileage             137
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2014
Model            Kangoo
Name: 2093, dtype: object
index number -2094
Brand           Mitsubishi
Price              12300.0
Body                 other
Mileage                175
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2008
Model                L 200
Name: 2094, dtype: object
index number -2095
Brand           Renault
Price           14999.0
Body                van

index number -2525
Brand               BMW
Price           14990.0
Body              sedan
Mileage             135
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2005
Model               525
Name: 2525, dtype: object
index number -2526
Brand            Audi
Price             NaN
Body            sedan
Mileage           166
EngineV           3.0
Engine Type       Gas
Registration      yes
Year             2005
Model              A6
Name: 2526, dtype: object
index number -2527
Brand           Mitsubishi
Price               8260.0
Body                 sedan
Mileage                 65
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2011
Model               Lancer
Name: 2527, dtype: object
index number -2528
Brand              BMW
Price           6800.0
Body             sedan
Mileage            230
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1998
Model              520
Name: 2528, dtype: object
index number -2529
Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                   131
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2008
Model                   G 500
Name: 2529, dtype: object
index number -2530
Brand           Mitsubishi
Price               1999.0
Body                   van
Mileage                168
EngineV                1.8
Engine Type         Petrol
Registration            no
Year                  2001
Model           Space Star
Name: 2530, dtype: object
index number -2531
Brand              BMW
Price           8500.0
Body             other
Mileage            265
EngineV            2.8
Engine Type        Gas
Registration       yes
Year              1998
Model              328
Name: 2531, dtype: object
index number -2532
Brand               Toyota
Price              24800.0
Body             crossover
Mileage                 90
EngineV                4.0
Engine Type         Petrol
Registration           yes
Year                  2008
Model           FJ Cruiser
Name: 2532, dtype: object
index number -2533
Brand             Mitsubishi
Price                11800.0
Body               crossover
Mileage                  120
EngineV                  3.0
Engine Type           Petrol
Registration             yes
Year                    2008
Model           Outlander XL
Name: 2533, dtype: object
index number -2534
Brand           Mercedes-Benz
Price                 35500.0
Body                    sedan
Mileage                   100
EngineV                   3.5
Engine Type            Petrol
Registration              yes
Year                     2010
Model                   S 350
Name: 2534, dtype: object
index number -2535
Brand           Mercedes-Benz
Price                  9400.0
Body                      van
Mileage                   250
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model                    Vito
Name: 2535, dtype: object
index number -2536
Brand           Volkswagen
Price              14900.0
Body                 sedan
Mileage                 73
EngineV                NaN
Engine Type         Petrol
Registration           yes
Year                  2012
Model                Jetta
Name: 2536, dtype: object
index number -2537
Brand           Volkswagen
Price                  NaN
Body                 other
Mileage                 28
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model               Amarok
Name: 2537, dtype: object
index number -2538
Brand           Mercedes-Benz
Price                 14899.0
Body                    other
Mileage                   209
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2006
Model                 E-Class
Name: 2538, dtype: object
index number -2539
Brand           Volkswagen
Price              15500.0
Body                 sedan
Mileage                178
EngineV                2.0
Engine Type         Diesel
Registration            no
Year                  2013
Model            Passat B7
Name: 2539, dtype: object
index number -2540
Brand           Renault
Price            2200.0
Body                van
Mileage             290
EngineV             2.2
Engine Type      Diesel
Registration         no
Year               1999
Model            Espace
Name: 2540, dtype: object
index number -2541
Brand           Volkswagen
Price               8950.0
Body                 sedan
Mileage                133
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2012
Model                 Polo
Name: 2541, dtype: object
index number -2542
Brand               BMW
Price           17800.0
Body              vagon
Mileage             159
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2008
Model               530
Name: 2542, dtype: object
index number -2543
Brand              Audi
Price           85555.0
Body              sedan
Mileage              40
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2015
Model                A8
Name: 2543, dtype: object
index number -2544
Brand           Volkswagen
Price               2000.0
Body                 sedan
Mileage                300
EngineV                1.3
Engine Type         Petrol
Registration           yes
Year                  1988
Model                Jetta
Name: 2544, dtype: object
index number -2545
Brand           Mercedes-Benz
Price                 20500.0
Body                    sedan
Mileage                    56
EngineV                   5.0
Engine Type             Other
Registration              yes
Year                     2003
Model            SL 500 (550)
Name: 2545, dtype: object
index number -2546
Brand                       Toyota
Price                      30990.0
Body                     crossover
Mileage                         68
EngineV                        2.7
Engine Type                    Gas
Registration                   yes
Year                          2012
Model           Land Cruiser Prado
Name: 2546, dtype: object
index number -2547
Brand              Toyota
Price             39900.0
Body            crossover
Mileage                11
EngineV               4.0
Engine Type        Petrol
Registration          yes
Year                 2013
Model              Tacoma
Name: 2547, dtype: object
index number -2548
Brand               BMW
Price           21900.0
Body              other
Mileage              25
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2007
Model               325
Name: 2548, dtype: object
index number -2549
Brand           Mercedes-Benz
Price                     NaN
Body                    sedan
Mileage                    16
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2014
Model                   S 350
Name: 2549, dtype: object
index number -2550
Brand           Mercedes-Benz
Price                185555.0
Body                    other
Mileage                     0
EngineV                   4.7
Engine Type            Petrol
Registration              yes
Year                     2016
Model                   S 500
Name: 2550, dtype: object
index number -2551
Brand            Toyota
Price           12400.0
Body              hatch
Mileage              52
EngineV             1.4
Engine Type       Other
Registration        yes
Year               2012
Model             Prius
Name: 2551, dtype: object
index number -2552
Brand           Mercedes-Benz
Price                  5000.0
Body                    other
Mileage                   200
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1998
Model                 CLK 200
Name: 2552, dtype: object
index number -2553
Brand           Volkswagen
Price               3200.0
Body                 sedan
Mileage                367
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  1991
Model            Passat B3
Name: 2553, dtype: object
index number -2554
Brand              BMW
Price           6500.0
Body             sedan
Mileage            300
EngineV            2.8
Engine Type        Gas
Registration       yes
Year              1997
Model              528
Name: 2554, dtype: object
index number -2555
Brand           Mercedes-Benz
Price                 13600.0
Body                    hatch
Mileage                   147
EngineV                   2.0
Engine Type            Diesel
Registration              yes
Year                     2008
Model                   B 200
Name: 2555, dtype: object
index number -2556
Brand               BMW
Price           19990.0
Body              other
Mileage             164
EngineV             NaN
Engine Type         Gas
Registration        yes
Year               2004
Model               645
Name: 2556, dtype: object
index number -2557
Brand                Audi
Price             23500.0
Body            crossover
Mileage               245
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2007
Model                  Q7
Name: 2557, dtype: object
index number -2558
Brand              Audi
Price           15499.0
Body              sedan
Mileage             177
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2007
Model                A6
Name: 2558, dtype: object
index number -2559
Brand           Mercedes-Benz
Price                 12950.0
Body                    sedan
Mileage                   197
EngineV                   2.7
Engine Type            Diesel
Registration              yes
Year                     2002
Model                 E-Class
Name: 2559, dtype: object
index number -2560
Brand           Volkswagen
Price               1800.0
Body                 sedan
Mileage                250
EngineV                NaN
Engine Type         Petrol
Registration           yes
Year                  1991
Model                Jetta
Name: 2560, dtype: object
index number -2561
Brand            Toyota
Price           23500.0
Body              sedan
Mileage              80
EngineV             2.5
Engine Type         Gas
Registration        yes
Year               2014
Model             Camry
Name: 2561, dtype: object
index number -2562
Brand              BMW
Price              NaN
Body             hatch
Mileage            107
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              2006
Model              118
Name: 2562, dtype: object
index number -2563
Brand           Renault
Price            5950.0
Body              hatch
Mileage             200
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2005
Model            Megane
Name: 2563, dtype: object
index number -2564
Brand           Mitsubishi
Price               2900.0
Body                 hatch
Mileage                300
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  1989
Model               Galant
Name: 2564, dtype: object
index number -2565
Brand           Mercedes-Benz
Price                  5000.0
Body                      van
Mileage                   400
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     1999
Model                    Vito
Name: 2565, dtype: object
index number -2566
Brand           Mercedes-Benz
Price                  1200.0
Body                    sedan
Mileage                   240
EngineV                   2.4
Engine Type            Petrol
Registration               no
Year                     1999
Model                 E-Class
Name: 2566, dtype: object
index number -2567
Brand           Volkswagen
Price               6500.0
Body                 sedan
Mileage                190
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2006
Model                Caddy
Name: 2567, dtype: object
index number -2568
Brand           Volkswagen
Price              51900.0
Body             crossover
Mileage                 30
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model              Touareg
Name: 2568, dtype: object
index number -2569
Brand                 BMW
Price            104999.0
Body            crossover
Mileage                 2
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 2569, dtype: object
index number -2570
Brand           Renault
Price            4650.0
Body                van
Mileage             165
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2003
Model            Kangoo
Name: 2570, dtype: object
index number -2571
Brand           Mitsubishi
Price              16000.0
Body             crossover
Mileage                 59
EngineV                NaN
Engine Type         Petrol
Registration           yes
Year                  2012
Model                  ASX
Name: 2571, dtype: object
index number -2572
Brand              Audi
Price           12500.0
Body              sedan
Mileage             165
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2006
Model                A6
Name: 2572, dtype: object
index number -2573
Brand           Volkswagen
Price              10250.0
Body                 sedan
Mileage                144
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model            Passat B6
Name: 2573, dtype: object
index number -2574
Brand              Audi
Price           23500.0
Body              other
Mileage              83
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2009
Model                A5
Name: 2574, dtype: object
index number -2575
Brand                 Volkswagen
Price                    17777.0
Body                         van
Mileage                      250
EngineV                      2.0
Engine Type               Diesel
Registration                 yes
Year                        2010
Model           T6 (Transporter)
Name: 2575, dtype: object
index number -2576
Brand           Mercedes-Benz
Price                  8300.0
Body                    sedan
Mileage                   233
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2001
Model                     320
Name: 2576, dtype: object
index number -2577
Brand           Mercedes-Benz
Price                 39900.0
Body                    sedan
Mileage                    84
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2011
Model                   S 500
Name: 2577, dtype: object
index number -2578
Brand           Mercedes-Benz
Price                  5200.0
Body                      van
Mileage                   400
EngineV                   2.9
Engine Type            Diesel
Registration              yes
Year                     1999
Model            Sprinter 210
Name: 2578, dtype: object
index number -2579
Brand              Audi
Price           31500.0
Body              sedan
Mileage             140
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model                A6
Name: 2579, dtype: object
index number -2580
Brand              BMW
Price           4800.0
Body             sedan
Mileage             11
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              1994
Model              325
Name: 2580, dtype: object
index number -2581
Brand                 Volkswagen
Price                     7700.0
Body                       other
Mileage                      290
EngineV                      NaN
Engine Type               Diesel
Registration                 yes
Year                        2000
Model           T4 (Transporter)
Name: 2581, dtype: object
index number -2582
Brand           Volkswagen
Price              21550.0
Body             crossover
Mileage                 58
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2014
Model               Tiguan
Name: 2582, dtype: object
index number -2583
Brand                Audi
Price             42900.0
Body            crossover
Mileage               140
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2013
Model                  Q7
Name: 2583, dtype: object
index number -2584
Brand             Audi
Price           2600.0
Body             sedan
Mileage            160
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2002
Model               A6
Name: 2584, dtype: object
index number -2585
Brand           Volkswagen
Price              31310.0
Body                   van
Mileage                  0
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2014
Model               Touran
Name: 2585, dtype: object
index number -2586
Brand                 Volkswagen
Price                    11800.0
Body                         van
Mileage                      230
EngineV                      1.9
Engine Type               Diesel
Registration                 yes
Year                        2009
Model           T5 (Transporter)
Name: 2586, dtype: object
index number -2587
Brand           Mercedes-Benz
Price                107000.0
Body                      van
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                   V 250
Name: 2587, dtype: object
index number -2588
Brand                       Toyota
Price                      14800.0
Body                     crossover
Mileage                        150
EngineV                        NaN
Engine Type                    Gas
Registration                   yes
Year                          2006
Model           Land Cruiser Prado
Name: 2588, dtype: object
index number -2589
Brand              BMW
Price           9800.0
Body             sedan
Mileage            264
EngineV            3.0
Engine Type     Diesel
Registration       yes
Year              2001
Model              530
Name: 2589, dtype: object
index number -2590
Brand           Volkswagen
Price               7950.0
Body                   van
Mileage                144
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2012
Model                Caddy
Name: 2590, dtype: object
index number -2591
Brand           Mercedes-Benz
Price                  9000.0
Body                crossover
Mileage                   220
EngineV                   3.2
Engine Type               Gas
Registration              yes
Year                     1999
Model                  ML 320
Name: 2591, dtype: object
index number -2592
Brand              BMW
Price           7400.0
Body             sedan
Mileage            279
EngineV            3.5
Engine Type        Gas
Registration       yes
Year              1998
Model              735
Name: 2592, dtype: object
index number -2593
Brand            Toyota
Price           24000.0
Body              sedan
Mileage              60
EngineV             2.5
Engine Type         Gas
Registration        yes
Year               2014
Model             Camry
Name: 2593, dtype: object
index number -2594
Brand           Mercedes-Benz
Price                  4800.0
Body                    sedan

Name: 3024, dtype: object
index number -3025
Brand             Renault
Price             12100.0
Body            crossover
Mileage               138
EngineV               2.5
Engine Type           Gas
Registration          yes
Year                 2008
Model              Koleos
Name: 3025, dtype: object
index number -3026
Brand            Toyota
Price           11400.0
Body              sedan
Mileage             118
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2010
Model           Corolla
Name: 3026, dtype: object
index number -3027
Brand             Audi
Price           7000.0
Body             vagon
Mileage            320
EngineV            1.9
Engine Type     Diesel
Registration       yes
Year              1996
Model               A4
Name: 3027, dtype: object
index number -3028
Brand              BMW
Price           3500.0
Body             hatch
Mileage              1
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              2006
Model              120
Name: 3028, dtype: object
index number -3029
Brand             Mitsubishi
Price                23800.0
Body               crossover
Mileage                   45
EngineV                  2.5
Engine Type           Diesel
Registration             yes
Year                    2015
Model           Pajero Sport
Name: 3029, dtype: object
index number -3030
Brand           Mercedes-Benz
Price                 10550.0
Body                    other
Mileage                   128
EngineV                   NaN
Engine Type             Other
Registration              yes
Year                     2011
Model                    Vito
Name: 3030, dtype: object
index number -3031
Brand           Mercedes-Benz
Price                  9500.0
Body                    other
Mileage                   220
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model                    Vito
Name: 3031, dtype: object
index number -3032
Brand               BMW
Price           37500.0
Body              other
Mileage              55
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2014
Model               428
Name: 3032, dtype: object
index number -3033
Brand           Renault
Price            6000.0
Body                van
Mileage               1
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2005
Model            Trafic
Name: 3033, dtype: object
index number -3034
Brand           Mercedes-Benz
Price                 71999.0
Body                crossover
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 3034, dtype: object
index number -3035
Brand           Mercedes-Benz
Price                 10150.0
Body                    other
Mileage                   190
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                    Vito
Name: 3035, dtype: object
index number -3036
Brand             Audi
Price           8300.0
Body             sedan
Mileage            186
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              1996
Model               A6
Name: 3036, dtype: object
index number -3037
Brand              BMW
Price           2600.0
Body             sedan
Mileage            270
EngineV            2.0
Engine Type     Diesel
Registration        no
Year              1998
Model              320
Name: 3037, dtype: object
index number -3038
Brand           Mercedes-Benz
Price                  3500.0
Body                    sedan
Mileage                   250
EngineV                   2.7
Engine Type            Diesel
Registration               no
Year                     2001
Model                 E-Class
Name: 3038, dtype: object
index number -3039
Brand           Mercedes-Benz
Price                 29900.0
Body                crossover
Mileage                    86
EngineV                   3.0
Engine Type               Gas
Registration              yes
Year                     2010
Model                 GLK 300
Name: 3039, dtype: object
index number -3040
Brand           Volkswagen
Price              19999.0
Body                 sedan
Mileage                107
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2011
Model            Passat B7
Name: 3040, dtype: object
index number -3041
Brand           Volkswagen
Price               6000.0
Body                   van
Mileage                180
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model                Caddy
Name: 3041, dtype: object
index number -3042
Brand           Mercedes-Benz
Price                 10900.0
Body                      van
Mileage                   360
EngineV                   2.2
Engine Type             Other
Registration              yes
Year                     2006
Model                    Vito
Name: 3042, dtype: object
index number -3043
Brand           Volkswagen
Price               9999.0
Body                   van
Mileage                165
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2012
Model                Caddy
Name: 3043, dtype: object
index number -3044
Brand              BMW
Price           3700.0
Body             other
Mileage            110
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1983
Model              323
Name: 3044, dtype: object
index number -3045
Brand           Volkswagen
Price              12400.0
Body                 other
Mileage                145
EngineV                3.2
Engine Type         Petrol
Registration           yes
Year                  2007
Model            Passat B6
Name: 3045, dtype: object
index number -3046
Brand             Audi
Price           3500.0
Body             sedan
Mileage            354
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model               A6
Name: 3046, dtype: object
index number -3047
Brand                 BMW
Price             20900.0
Body            crossover
Mileage               230
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2006
Model                  X5
Name: 3047, dtype: object
index number -3048
Brand             Audi
Price           4150.0
Body             sedan
Mileage            220
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1999
Model               A8
Name: 3048, dtype: object
index number -3049
Brand           Volkswagen
Price               4100.0
Body                   van
Mileage                345
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2002
Model               Sharan
Name: 3049, dtype: object
index number -3050
Brand           Volkswagen
Price              11500.0
Body                 sedan
Mileage                 70
EngineV                NaN
Engine Type          Other
Registration           yes
Year                  2014
Model                 Polo
Name: 3050, dtype: object
index number -3051
Brand           Mercedes-Benz
Price                 28500.0
Body                    sedan
Mileage                    86
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2007
Model                   S 500
Name: 3051, dtype: object
index number -3052
Brand              Toyota
Price             18900.0
Body            crossover
Mileage                90
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2010
Model               Rav 4
Name: 3052, dtype: object
index number -3053
Brand           Mercedes-Benz
Price                 12500.0
Body                      van
Mileage                   167
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2013
Model                    Vito
Name: 3053, dtype: object
index number -3054
Brand           Mercedes-Benz
Price                  5500.0
Body                    sedan
Mileage                   199
EngineV                   NaN
Engine Type            Petrol
Registration              yes
Year                     2000
Model                 E-Class
Name: 3054, dtype: object
index number -3055
Brand           Renault
Price            2700.0
Body              other
Mileage             160
EngineV             2.0
Engine Type      Petrol
Registration         no
Year               2001
Model            Megane
Name: 3055, dtype: object
index number -3056
Brand              Audi
Price           10200.0
Body              sedan
Mileage             120
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2006
Model                A4
Name: 3056, dtype: object
index number -3057
Brand              BMW
Price           6900.0
Body             sedan
Mileage            238
EngineV            3.5
Engine Type     Petrol
Registration       yes
Year              1999
Model              535
Name: 3057, dtype: object
index number -3058
Brand           Mitsubishi
Price              13200.0
Body             crossover
Mileage                 79
EngineV                2.4
Engine Type            Gas
Registration           yes
Year                  2009
Model            Outlander
Name: 3058, dtype: object
index number -3059
Brand           Mercedes-Benz
Price                124999.0
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 3059, dtype: object
index number -3060
Brand              BMW
Price           4100.0
Body             sedan
Mileage            200
EngineV            2.7
Engine Type     Petrol
Registration       yes
Year              1988
Model              525
Name: 3060, dtype: object
index number -3061
Brand           Mercedes-Benz
Price                  3200.0
Body                    sedan
Mileage                   229
EngineV                   2.7
Engine Type            Diesel
Registration               no
Year                     2001
Model                 E-Class
Name: 3061, dtype: object
index number -3062
Brand              Toyota
Price             13699.0
Body            crossover
Mileage               160
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2007
Model               Rav 4
Name: 3062, dtype: object
index number -3063
Brand           Mitsubishi
Price               5700.0
Body                 sedan
Mileage                176
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2004
Model               Lancer
Name: 3063, dtype: object
index number -3064
Brand           Mercedes-Benz
Price                  6500.0
Body                    other
Mileage                   215
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2000
Model                    Vito
Name: 3064, dtype: object
index number -3065
Brand           Volkswagen
Price              44000.0
Body             crossover
Mileage                150
EngineV                4.2
Engine Type         Diesel
Registration           yes
Year                  2011
Model              Touareg
Name: 3065, dtype: object
index number -3066
Brand               BMW
Price           37000.0
Body              sedan
Mileage             130
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2011
Model               535
Name: 3066, dtype: object
index number -3067
Brand                 BMW
Price             29500.0
Body            crossover
Mileage               189
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2009
Model                  X5
Name: 3067, dtype: object
index number -3068
Brand            Audi
Price             NaN
Body            hatch
Mileage           243
EngineV           2.0
Engine Type       Gas
Registration      yes
Year             1987
Model             100
Name: 3068, dtype: object
index number -3069
Brand           Mercedes-Benz
Price                 99000.0
Body                      van
Mileage                     5
EngineV                   1.6
Engine Type            Diesel
Registration              yes
Year                     2013
Model                   Viano
Name: 3069, dtype: object
index number -3070
Brand             Audi
Price           2999.0
Body             vagon
Mileage            320
EngineV            NaN
Engine Type     Diesel
Registration        no
Year              1999
Model               A6
Name: 3070, dtype: object
index number -3071
Brand           Volkswagen
Price               4900.0
Body                 sedan
Mileage                350
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2000
Model                 Bora
Name: 3071, dtype: object
index number -3072
Brand           Renault
Price            5950.0
Body              sedan
Mileage             277
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2005
Model            Megane
Name: 3072, dtype: object
index number -3073
Brand           Mercedes-Benz
Price                 18300.0
Body                    sedan
Mileage                   155
EngineV                   3.0
Engine Type            Petrol
Registration              yes
Year                     2007
Model                 C-Class
Name: 3073, dtype: object
index number -3074
Brand           Mercedes-Benz
Price                  4700.0
Body                    sedan
Mileage                   280
EngineV                   2.8
Engine Type            Petrol
Registration              yes
Year                     1993
Model                 E-Class
Name: 3074, dtype: object
index number -3075
Brand                     Toyota
Price                    37500.0
Body                   crossover
Mileage                      115
EngineV                      5.7
Engine Type               Petrol
Registration                 yes
Year                        2008
Model           Land Cruiser 200
Name: 3075, dtype: object
index number -3076
Brand                 Volkswagen
Price                    15000.0
Body                         van
Mileage                      230
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2007
Model           T5 (Transporter)
Name: 3076, dtype: object
index number -3077
Brand             Audi
Price           2800.0
Body             sedan
Mileage            330
EngineV            NaN
Engine Type      Other
Registration       yes
Year              1989
Model               80
Name: 3077, dtype: object
index number -3078
Brand           Mercedes-Benz
Price                  6900.0
Body                    sedan
Mileage                   350
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     1994
Model                 E-Class
Name: 3078, dtype: object
index number -3079
Brand           Mercedes-Benz
Price                  8300.0
Body                      van
Mileage                   230
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2004
Model                    Vito
Name: 3079, dtype: object
index number -3080
Brand           Renault
Price            3600.0
Body                van
Mileage             199
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2000
Model            Kangoo
Name: 3080, dtype: object
index number -3081
Brand             Audi
Price           2500.0
Body             vagon
Mileage            280
EngineV            2.5
Engine Type      Other
Registration        no
Year              1999
Model               A6
Name: 3081, dtype: object
index number -3082
Brand                     Toyota
Price                        NaN
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 3082, dtype: object
index number -3083
Brand           Volkswagen
Price              40500.0
Body             crossover
Mileage                 37
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2012
Model              Touareg
Name: 3083, dtype: object
index number -3084
Brand           Mercedes-Benz
Price                 85000.0
Body                      van
Mileage                     3
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                   V 250
Name: 3084, dtype: object
index number -3085
Brand             Audi
Price           4800.0
Body             sedan
Mileage            341
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1992
Model              100
Name: 3085, dtype: object
index number -3086
Brand           Volkswagen
Price               2500.0
Body                 sedan
Mileage                440
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  1991
Model                Jetta
Name: 3086, dtype: object
index number -3087
Brand           Mercedes-Benz
Price                  9500.0
Body                    vagon
Mileage                   180
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2002
Model                 E-Class
Name: 3087, dtype: object
index number -3088
Brand            Toyota
Price           12700.0
Body              sedan
Mileage             160
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2005
Model             Camry
Name: 3088, dtype: object
index number -3089
Brand           Volkswagen
Price              10799.0
Body                   van
Mileage                128
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2010
Model                Caddy
Name: 3089, dtype: object
index number -3090
Brand              Audi
Price           27300.0
Body              other
Mileage             150
EngineV             4.2
Engine Type      Petrol
Registration        yes
Year               2007
Model                Q7
Name: 3090, dtype: object
index number -3091
Brand           Volkswagen
Price              20500.0
Body                 hatch
Mileage                800
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2013
Model             Golf VII
Name: 3091, dtype: object
index number -3092
Brand            Toyota
Price           21999.0
Body              other
Mileage              65
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2012
Model             Camry
Name: 3092, dtype: object
index number -3093
Brand           Mercedes-Benz
Price                 14500.0
Body                      van
Mileage                   300
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model            Sprinter 313
Name: 3093, dtype: object
index number -3094
Brand              Audi
Price           12500.0
Body              sedan
Mileage             146
EngineV             1.8
Engine Type      Petrol
Registration        yes

Brand           Mercedes-Benz
Price                  7450.0
Body                    sedan
Mileage                   300
EngineV                   2.0
Engine Type               Gas
Registration              yes
Year                     2000
Model                 C-Class
Name: 3524, dtype: object
index number -3525
Brand           Mitsubishi
Price               1850.0
Body                 sedan
Mileage                145
EngineV                1.6
Engine Type         Petrol
Registration            no
Year                  1997
Model              Carisma
Name: 3525, dtype: object
index number -3526
Brand           Mercedes-Benz
Price                 14000.0
Body                    other
Mileage                   360
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model            Sprinter 313
Name: 3526, dtype: object
index number -3527
Brand           Renault
Price           12850.0
Body              other
Mileage             226
EngineV             2.3
Engine Type      Diesel
Registration        yes
Year               2012
Model            Master
Name: 3527, dtype: object
index number -3528
Brand            Toyota
Price           18300.0
Body              hatch
Mileage              30
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2014
Model             Auris
Name: 3528, dtype: object
index number -3529
Brand           Volkswagen
Price              14700.0
Body                 sedan
Mileage                 97
EngineV                1.4
Engine Type            Gas
Registration           yes
Year                  2012
Model            Passat B7
Name: 3529, dtype: object
index number -3530
Brand           Volkswagen
Price               3000.0
Body                 sedan
Mileage                250
EngineV                2.8
Engine Type            Gas
Registration            no
Year                  2002
Model            Passat B5
Name: 3530, dtype: object
index number -3531
Brand           Mercedes-Benz
Price                 12999.0
Body                    sedan
Mileage                   247
EngineV                   4.0
Engine Type            Diesel
Registration              yes
Year                     2003
Model                   S 400
Name: 3531, dtype: object
index number -3532
Brand           Mercedes-Benz
Price                 11850.0
Body                      van
Mileage                   177
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                    Vito
Name: 3532, dtype: object
index number -3533
Brand           Volkswagen
Price              19500.0
Body                 sedan
Mileage                128
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2013
Model            Passat B7
Name: 3533, dtype: object
index number -3534
Brand           Mercedes-Benz
Price                 20200.0
Body                    sedan
Mileage                    69
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     2010
Model                 E-Class
Name: 3534, dtype: object
index number -3535
Brand           Renault
Price            5899.0
Body              vagon
Mileage             189
EngineV             NaN
Engine Type      Diesel
Registration         no
Year               2012
Model            Megane
Name: 3535, dtype: object
index number -3536
Brand           Volkswagen
Price              12000.0
Body                 sedan
Mileage                186
EngineV                3.2
Engine Type         Petrol
Registration           yes
Year                  2006
Model            Passat B6
Name: 3536, dtype: object
index number -3537
Brand           Mercedes-Benz
Price                 17800.0
Body                      van
Mileage                   162
EngineV                   1.8
Engine Type            Diesel
Registration              yes
Year                     2012
Model                   B 180
Name: 3537, dtype: object
index number -3538
Brand                       Toyota
Price                      16800.0
Body                     crossover
Mileage                        154
EngineV                        2.7
Engine Type                 Petrol
Registration                   yes
Year                          2005
Model           Land Cruiser Prado
Name: 3538, dtype: object
index number -3539
Brand           Mercedes-Benz
Price                 10600.0
Body                      van
Mileage                   250
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2006
Model            Sprinter 313
Name: 3539, dtype: object
index number -3540
Brand           Mercedes-Benz
Price                114999.0
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 3540, dtype: object
index number -3541
Brand           Renault
Price            4700.0
Body              hatch
Mileage             124
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2003
Model            Kangoo
Name: 3541, dtype: object
index number -3542
Brand           Mercedes-Benz
Price                 20000.0
Body                crossover
Mileage                   251
EngineV                   5.0
Engine Type               Gas
Registration              yes
Year                     2002
Model                  ML 500
Name: 3542, dtype: object
index number -3543
Brand           Mercedes-Benz
Price                104999.0
Body                crossover
Mileage                     1
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 3543, dtype: object
index number -3544
Brand           Mercedes-Benz
Price                  9000.0
Body                    sedan
Mileage                   198
EngineV                   4.0
Engine Type            Diesel
Registration              yes
Year                     2002
Model                   S 400
Name: 3544, dtype: object
index number -3545
Brand                 BMW
Price             36300.0
Body            crossover
Mileage                83
EngineV               3.5
Engine Type        Petrol
Registration          yes
Year                 2010
Model                  X6
Name: 3545, dtype: object
index number -3546
Brand              Toyota
Price             19400.0
Body            crossover
Mileage                88
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model               Rav 4
Name: 3546, dtype: object
index number -3547
Brand           Mercedes-Benz
Price                  7700.0
Body                    sedan
Mileage                   230
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     2001
Model                 C-Class
Name: 3547, dtype: object
index number -3548
Brand           Mitsubishi
Price              17500.0
Body                 other
Mileage                 69
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2011
Model                L 200
Name: 3548, dtype: object
index number -3549
Brand               BMW
Price           31000.0
Body              sedan
Mileage             100
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2012
Model               520
Name: 3549, dtype: object
index number -3550
Brand                       Toyota
Price                      33715.5
Body                     crossover
Mileage                          1
EngineV                        2.7
Engine Type                 Petrol
Registration                   yes
Year                          2015
Model           Land Cruiser Prado
Name: 3550, dtype: object
index number -3551
Brand               BMW
Price           13500.0
Body              sedan
Mileage             233
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2003
Model               530
Name: 3551, dtype: object
index number -3552
Brand           Renault
Price            4900.0
Body                van
Mileage             150
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2007
Model            Trafic
Name: 3552, dtype: object
index number -3553
Brand           Mercedes-Benz
Price                  7700.0
Body                    sedan
Mileage                   340
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2002
Model                    Vito
Name: 3553, dtype: object
index number -3554
Brand           Renault
Price           10900.0
Body              vagon
Mileage             175
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Megane
Name: 3554, dtype: object
index number -3555
Brand              BMW
Price           2200.0
Body             sedan
Mileage            303
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1999
Model              525
Name: 3555, dtype: object
index number -3556
Brand              BMW
Price           7200.0
Body             sedan
Mileage            270
EngineV            3.0
Engine Type     Diesel
Registration        no
Year              2004
Model              530
Name: 3556, dtype: object
index number -3557
Brand               BMW
Price           20500.0
Body              other
Mileage             114
EngineV             NaN
Engine Type       Other
Registration        yes
Year               2008
Model               325
Name: 3557, dtype: object
index number -3558
Brand           Toyota
Price           9150.0
Body             hatch
Mileage             87
EngineV            1.6
Engine Type     Petrol
Registration       yes
Year              2008
Model            Auris
Name: 3558, dtype: object
index number -3559
Brand              BMW
Price           5900.0
Body             sedan
Mileage             10
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1989
Model              328
Name: 3559, dtype: object
index number -3560
Brand           Mitsubishi
Price               4800.0
Body                 hatch
Mileage                206
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  2001
Model              Carisma
Name: 3560, dtype: object
index number -3561
Brand           Volkswagen
Price               1500.0
Body                 vagon
Mileage                200
EngineV                1.8
Engine Type            Gas
Registration           yes
Year                  1996
Model            Passat B4
Name: 3561, dtype: object
index number -3562
Brand           Volkswagen
Price               9500.0
Body                 hatch
Mileage                 62
EngineV                1.2
Engine Type         Diesel
Registration           yes
Year                  2011
Model                 Polo
Name: 3562, dtype: object
index number -3563
Brand           Mercedes-Benz
Price                  3500.0
Body                      van
Mileage                   395
EngineV                   2.3
Engine Type            Diesel
Registration               no
Year                     1997
Model                    Vito
Name: 3563, dtype: object
index number -3564
Brand           Volkswagen
Price               3650.0
Body                 sedan
Mileage                300
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  1996
Model                Vento
Name: 3564, dtype: object
index number -3565
Brand           Mercedes-Benz
Price                 63000.0
Body                crossover
Mileage                   160
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2013
Model                  GL 350
Name: 3565, dtype: object
index number -3566
Brand           Volkswagen
Price               6600.0
Body                   van
Mileage                240
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2008
Model                Caddy
Name: 3566, dtype: object
index number -3567
Brand                     Toyota
Price                    36000.0
Body                   crossover
Mileage                      940
EngineV                      NaN
Engine Type                Other
Registration                 yes
Year                        2009
Model           Land Cruiser 200
Name: 3567, dtype: object
index number -3568
Brand            Toyota
Price           10200.0
Body              sedan
Mileage             185
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2007
Model           Avensis
Name: 3568, dtype: object
index number -3569
Brand           Volkswagen
Price              19995.0
Body                 hatch
Mileage                 68
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2013
Model             Scirocco
Name: 3569, dtype: object
index number -3570
Brand           Mitsubishi
Price               9800.0
Body                 sedan
Mileage                 56
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2011
Model             Lancer X
Name: 3570, dtype: object
index number -3571
Brand           Mercedes-Benz
Price                 11200.0
Body                    sedan
Mileage                   198
EngineV                   6.0
Engine Type            Petrol
Registration              yes
Year                     2004
Model                   S 600
Name: 3571, dtype: object
index number -3572
Brand           Volkswagen
Price              18000.0
Body             crossover
Mileage                117
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2006
Model              Touareg
Name: 3572, dtype: object
index number -3573
Brand           Mitsubishi
Price              28500.0
Body             crossover
Mileage                  0
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2016
Model            Outlander
Name: 3573, dtype: object
index number -3574
Brand           Mitsubishi
Price               9800.0
Body                 sedan
Mileage                 81
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2009
Model             Lancer X
Name: 3574, dtype: object
index number -3575
Brand               BMW
Price           33000.0
Body              sedan
Mileage              60
EngineV             NaN
Engine Type      Petrol
Registration        yes
Year               2012
Model               328
Name: 3575, dtype: object
index number -3576
Brand             Audi
Price           3900.0
Body             sedan
Mileage            247
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2003
Model               A6
Name: 3576, dtype: object
index number -3577
Brand           Mitsubishi
Price             22711.65
Body             crossover
Mileage                  1
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2016
Model            Outlander
Name: 3577, dtype: object
index number -3578
Brand              BMW
Price           6500.0
Body             sedan
Mileage            298
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1998
Model              523
Name: 3578, dtype: object
index number -3579
Brand           Volkswagen
Price               4999.0
Body                 hatch
Mileage                300
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  1999
Model              Golf IV
Name: 3579, dtype: object
index number -3580
Brand           Renault
Price            9100.0
Body              vagon
Mileage             176
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Scenic
Name: 3580, dtype: object
index number -3581
Brand           Mercedes-Benz
Price                 11000.0
Body                    sedan
Mileage                   319
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2003
Model                     220
Name: 3581, dtype: object
index number -3582
Brand           Volkswagen
Price               7200.0
Body                 hatch
Mileage                159
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2007
Model               Golf V
Name: 3582, dtype: object
index number -3583
Brand           Mercedes-Benz
Price                 10900.0
Body                      van
Mileage                   191
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 3583, dtype: object
index number -3584
Brand           Volkswagen
Price              35000.0
Body                 sedan
Mileage                 74
EngineV                4.2
Engine Type            Gas
Registration           yes
Year                  2011
Model              Phaeton
Name: 3584, dtype: object
index number -3585
Brand           Mitsubishi
Price              11500.0
Body                 sedan
Mileage                134
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  2009
Model               Galant
Name: 3585, dtype: object
index number -3586
Brand           Mercedes-Benz
Price                  9999.0
Body                      van
Mileage                   154
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 3586, dtype: object
index number -3587
Brand             Audi
Price              NaN
Body             sedan
Mileage            300
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2001
Model               A8
Name: 3587, dtype: object
index number -3588
Brand           Renault
Price            4400.0
Body              other
Mileage             220
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2004
Model            Kangoo
Name: 3588, dtype: object
index number -3589
Brand           Mitsubishi
Price               4000.0
Body                 hatch
Mileage                367
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  1997
Model              Carisma
Name: 3589, dtype: object
index number -3590
Brand              Audi
Price           29999.0
Body              other
Mileage              90
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2011
Model                A5
Name: 3590, dtype: object
index number -3591
Brand           Volkswagen
Price              14800.0
Body                   van
Mileage                 65
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2012
Model                Caddy
Name: 3591, dtype: object
index number -3592
Brand             Mitsubishi
Price                 5500.0
Body               crossover
Mileage                   30
EngineV                  2.5
Engine Type           Diesel
Registration             yes
Year                    2014
Model           Pajero Sport
Name: 3592, dtype: object
index number -3593
Brand               BMW

index number -4024
Brand           Volkswagen
Price               9800.0
Body                 hatch
Mileage                 98
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  2010
Model               Golf V
Name: 4024, dtype: object
index number -4025
Brand           Mercedes-Benz
Price                 13899.0
Body                    hatch
Mileage                   232
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 4025, dtype: object
index number -4026
Brand           Mercedes-Benz
Price                 15200.0
Body                    sedan
Mileage                   195
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2007
Model                 E-Class
Name: 4026, dtype: object
index number -4027
Brand            Toyota
Price            8900.0
Body              sedan
Mileage              87
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2008
Model           Corolla
Name: 4027, dtype: object
index number -4028
Brand             Mitsubishi
Price                17800.0
Body               crossover
Mileage                  111
EngineV                  2.4
Engine Type           Petrol
Registration             yes
Year                    2011
Model           Outlander XL
Name: 4028, dtype: object
index number -4029
Brand             Audi
Price           2650.0
Body             vagon
Mileage            270
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2001
Model               A6
Name: 4029, dtype: object
index number -4030
Brand           Mitsubishi
Price              10200.0
Body                 sedan
Mileage                102
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2008
Model             Lancer X
Name: 4030, dtype: object
index number -4031
Brand            Toyota
Price           12500.0
Body              sedan
Mileage             150
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2007
Model             Camry
Name: 4031, dtype: object
index number -4032
Brand             Audi
Price           2500.0
Body             hatch
Mileage            200
EngineV            1.6
Engine Type     Petrol
Registration        no
Year              1999
Model               A3
Name: 4032, dtype: object
index number -4033
Brand                       Toyota
Price                      16200.0
Body                     crossover
Mileage                        219
EngineV                        2.7
Engine Type                 Petrol
Registration                   yes
Year                          2006
Model           Land Cruiser Prado
Name: 4033, dtype: object
index number -4034
Brand               BMW
Price           28000.0
Body              sedan
Mileage             127
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2010
Model               523
Name: 4034, dtype: object
index number -4035
Brand           Mercedes-Benz
Price                  5000.0
Body                    sedan
Mileage                   240
EngineV                   2.2
Engine Type            Diesel
Registration               no
Year                     2004
Model                 E-Class
Name: 4035, dtype: object
index number -4036
Brand            Toyota
Price            8900.0
Body              sedan
Mileage             154
EngineV             1.6
Engine Type         Gas
Registration        yes
Year               2008
Model           Corolla
Name: 4036, dtype: object
index number -4037
Brand                 BMW
Price             29900.0
Body            crossover
Mileage               182
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2008
Model                  X6
Name: 4037, dtype: object
index number -4038
Brand           Mercedes-Benz
Price                 12950.0
Body                    other
Mileage                   199
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2012
Model                    Vito
Name: 4038, dtype: object
index number -4039
Brand           Volkswagen
Price              19999.0
Body                   van
Mileage                152
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2012
Model               Sharan
Name: 4039, dtype: object
index number -4040
Brand              Audi
Price           10000.0
Body              sedan
Mileage             131
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2005
Model                A4
Name: 4040, dtype: object
index number -4041
Brand               BMW
Price           39500.0
Body              vagon
Mileage              93
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model               525
Name: 4041, dtype: object
index number -4042
Brand           Volkswagen
Price               7900.0
Body                 other
Mileage                123
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2008
Model                 Polo
Name: 4042, dtype: object
index number -4043
Brand                 Volkswagen
Price                     6000.0
Body                         van
Mileage                      460
EngineV                      1.9
Engine Type               Diesel
Registration                 yes
Year                        1997
Model           T4 (Transporter)
Name: 4043, dtype: object
index number -4044
Brand           Mercedes-Benz
Price                219900.0
Body                crossover
Mileage                    30
EngineV                   6.3
Engine Type            Petrol
Registration              yes
Year                     2013
Model                G 63 AMG
Name: 4044, dtype: object
index number -4045
Brand           Mercedes-Benz
Price                  5600.0
Body                      van
Mileage                   480
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     1999
Model                    Vito
Name: 4045, dtype: object
index number -4046
Brand           Mercedes-Benz
Price                 15900.0
Body                    sedan
Mileage                   216
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2007
Model                 E-Class
Name: 4046, dtype: object
index number -4047
Brand           Mitsubishi
Price               6700.0
Body                 sedan
Mileage                155
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  2007
Model               Lancer
Name: 4047, dtype: object
index number -4048
Brand           Renault
Price            9500.0
Body                van
Mileage             189
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2010
Model            Trafic
Name: 4048, dtype: object
index number -4049
Brand             Audi
Price           3600.0
Body             sedan
Mileage            374
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2001
Model               A8
Name: 4049, dtype: object
index number -4050
Brand           Renault
Price            9150.0
Body                van
Mileage             220
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2007
Model            Trafic
Name: 4050, dtype: object
index number -4051
Brand           Mercedes-Benz
Price                 41500.0
Body                    other
Mileage                    26
EngineV                   NaN
Engine Type            Diesel
Registration              yes
Year                     2013
Model                 E-Class
Name: 4051, dtype: object
index number -4052
Brand           Mercedes-Benz
Price                 12900.0
Body                      van
Mileage                   185
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                    Vito
Name: 4052, dtype: object
index number -4053
Brand           Renault
Price           11500.0
Body              vagon
Mileage             175
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Megane
Name: 4053, dtype: object
index number -4054
Brand            Toyota
Price           39500.0
Body              other
Mileage               1
EngineV             2.8
Engine Type      Diesel
Registration        yes
Year               2016
Model             Hilux
Name: 4054, dtype: object
index number -4055
Brand           Renault
Price            4200.0
Body              sedan
Mileage             310
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2003
Model            Symbol
Name: 4055, dtype: object
index number -4056
Brand              BMW
Price           4100.0
Body             sedan
Mileage             26
EngineV            3.0
Engine Type     Diesel
Registration        no
Year              2001
Model              530
Name: 4056, dtype: object
index number -4057
Brand                  Volkswagen
Price                      9200.0
Body                          van
Mileage                       248
EngineV                       1.9
Engine Type                Diesel
Registration                  yes
Year                         2007
Model           T5 (Transporter)
Name: 4057, dtype: object
index number -4058
Brand                 Audi
Price              11400.0
Body             crossover
Mileage                250
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2005
Model           A6 Allroad
Name: 4058, dtype: object
index number -4059
Brand           Volkswagen
Price              24000.0
Body                 sedan
Mileage                  3
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2016
Model                Jetta
Name: 4059, dtype: object
index number -4060
Brand           Renault
Price            1800.0
Body              hatch
Mileage               1
EngineV             1.4
Engine Type         Gas
Registration        yes
Year               1988
Model                11
Name: 4060, dtype: object
index number -4061
Brand           Mercedes-Benz
Price                  3799.0
Body                    sedan
Mileage                   210
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1995
Model                     200
Name: 4061, dtype: object
index number -4062
Brand           Mercedes-Benz
Price                     NaN
Body                    sedan
Mileage                     0
EngineV                   3.0
Engine Type            Petrol
Registration              yes
Year                     2016
Model                   S 400
Name: 4062, dtype: object
index number -4063
Brand           Mercedes-Benz
Price                110000.0
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 4063, dtype: object
index number -4064
Brand               BMW
Price           16999.0
Body              vagon
Mileage             213
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2007
Model               530
Name: 4064, dtype: object
index number -4065
Brand             Audi
Price           6700.0
Body             sedan
Mileage            340
EngineV            2.6
Engine Type        Gas
Registration       yes
Year              1997
Model               A6
Name: 4065, dtype: object
index number -4066
Brand           Toyota
Price           2200.0
Body             hatch
Mileage             50
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1991
Model           Carina
Name: 4066, dtype: object
index number -4067
Brand           Renault
Price               NaN
Body              sedan
Mileage             100
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2009
Model            Symbol
Name: 4067, dtype: object
index number -4068
Brand           Toyota
Price           4500.0
Body             sedan
Mileage            238
EngineV            1.8
Engine Type     Petrol
Registration       yes
Year              1996
Model           Carina
Name: 4068, dtype: object
index number -4069
Brand               BMW
Price           10999.0
Body              sedan
Mileage             225
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2003
Model               530
Name: 4069, dtype: object
index number -4070
Brand                 Mitsubishi
Price                        NaN
Body                       sedan
Mileage                       90
EngineV                      2.0
Engine Type               Petrol
Registration                 yes
Year                        2007
Model           Lancer Evolution
Name: 4070, dtype: object
index number -4071
Brand              BMW
Price           4000.0
Body             sedan
Mileage            380
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1991
Model              320
Name: 4071, dtype: object
index number -4072
Brand           Volkswagen
Price               5400.0
Body                 vagon
Mileage                250
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2003
Model              Golf IV
Name: 4072, dtype: object
index number -4073
Brand           Mercedes-Benz
Price                  1700.0
Body                    sedan
Mileage                   300
EngineV                   2.0
Engine Type               Gas
Registration               no
Year                     1998
Model                 E-Class
Name: 4073, dtype: object
index number -4074
Brand             Audi
Price           4000.0
Body             sedan
Mileage            320
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1992
Model              100
Name: 4074, dtype: object
index number -4075
Brand           Mercedes-Benz
Price                 55000.0
Body                crossover
Mileage                   127
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2008
Model                G 55 AMG
Name: 4075, dtype: object
index number -4076
Brand                 BMW
Price                 NaN
Body            crossover
Mileage                 0
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 4076, dtype: object
index number -4077
Brand              BMW
Price           2500.0
Body             sedan
Mileage             44
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1997
Model              525
Name: 4077, dtype: object
index number -4078
Brand             Mitsubishi
Price                15999.0
Body               crossover
Mileage                  149
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 4078, dtype: object
index number -4079
Brand           Mercedes-Benz
Price                  7800.0
Body                    hatch
Mileage                   125
EngineV                   2.3
Engine Type            Petrol
Registration              yes
Year                     2001
Model                 C-Class
Name: 4079, dtype: object
index number -4080
Brand           Volkswagen
Price             12114.35
Body                 sedan
Mileage                  0
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2016
Model                 Polo
Name: 4080, dtype: object
index number -4081
Brand           Volkswagen
Price              12500.0
Body                 sedan
Mileage                118
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model              Golf VI
Name: 4081, dtype: object
index number -4082
Brand                Renault
Price                11500.0
Body                     van
Mileage                  160
EngineV                  1.5
Engine Type           Diesel
Registration             yes
Year                    2010
Model           Grand Scenic
Name: 4082, dtype: object
index number -4083
Brand           Volkswagen
Price              10999.0
Body                 other
Mileage                240
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2005
Model                   LT
Name: 4083, dtype: object
index number -4084
Brand           Mercedes-Benz
Price                 15300.0
Body                    other
Mileage                   234
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model            Sprinter 315
Name: 4084, dtype: object
index number -4085
Brand           Mercedes-Benz
Price                 12300.0
Body                    sedan
Mileage                   300
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2003
Model                 E-Class
Name: 4085, dtype: object
index number -4086
Brand                 Volkswagen
Price                    12400.0
Body                       other
Mileage                      248
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2007
Model           T5 (Transporter)
Name: 4086, dtype: object
index number -4087
Brand           Mercedes-Benz
Price                 50800.0
Body                crossover
Mileage                    30
EngineV                   3.5
Engine Type            Diesel
Registration              yes
Year                     2013
Model                  ML 350
Name: 4087, dtype: object
index number -4088
Brand                 BMW
Price             77500.0
Body            crossover
Mileage                 1
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2016
Model                  X6
Name: 4088, dtype: object
index number -4089
Brand           Renault
Price            6800.0
Body                van
Mileage             119
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 4089, dtype: object
index number -4090
Brand              BMW
Price           6399.0
Body             sedan
Mileage            282
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1995
Model              520
Name: 4090, dtype: object
index number -4091
Brand             Audi
Price           3550.0
Body             sedan
Mileage            196
EngineV            2.8
Engine Type     Petrol
Registration        no
Year              1997
Model               A8
Name: 4091, dtype: object
index number -4092
Brand                   BMW
Price               31800.0
Body                  sedan
Mileage                 115
EngineV                 3.0
Engine Type          Diesel
Registration            yes
Year                   2010
Model           5 Series GT
Name: 4092, dtype: object
index number -4093
Brand           Volkswagen
Price               1700.0
Body                 hatch
Mileage                247
EngineV                1.4

In [48]:
for row in cars.iterrows():
    print(row)

(0, Brand              BMW
Price           4200.0
Body             sedan
Mileage            277
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1991
Model              320
Name: 0, dtype: object)
(1, Brand           Mercedes-Benz
Price                  7900.0
Body                      van
Mileage                   427
EngineV                   2.9
Engine Type            Diesel
Registration              yes
Year                     1999
Model            Sprinter 212
Name: 1, dtype: object)
(2, Brand           Mercedes-Benz
Price                 13300.0
Body                    sedan
Mileage                   358
EngineV                   5.0
Engine Type               Gas
Registration              yes
Year                     2003
Model                   S 500
Name: 2, dtype: object)
(3, Brand                Audi
Price             23000.0
Body            crossover
Mileage               240
EngineV               4.2
Engine Type        Petrol
Registration          yes
Year                 2007
Model                  Q7
Name: 3, dtype: object)
(4, Brand              Toyota
Price             18300.0
Body            crossover
Mileage               120
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2011
Model               Rav 4
Name: 4, dtype: object)
(5, Brand           Mercedes-Benz
Price                199999.0
Body                crossover
Mileage                     0
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2016
Model                  GLS 63
Name: 5, dtype: object)
(6, Brand              BMW
Price           6100.0
Body             sedan
Mileage            438
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              1997
Model              320
Name: 6, dtype: object)
(7, Brand              Audi
Price           14200.0
Body              vagon
Mileage             200
EngineV             2.7
Engine Type      Diesel
Registration        yes
Year               2006
Model                A6
Name: 7, dtype: object)
(8, Brand           Renault
Price           10799.0
Body              vagon
Mileage             193
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Megane
Name: 8, dtype: object)
(9, Brand           Volkswagen
Price               1400.0
Body                 other
Mileage                212
EngineV                1.8
Engine Type            Gas
Registration            no
Year                  1999
Model              Golf IV
Name: 9, dtype: object)
(10, Brand           Renault
Price           11950.0
Body              vagon
Mileage             177
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Megane
Name: 10, dtype: object)
(11, Brand           Renault
Price            2500.0
Body              sedan
Mileage             260
EngineV            1.79
Engine Type      Petrol
Registration        yes
Year               1994
Model                19
Name: 11, dtype: object)
(12, Brand                 Audi
Price               9500.0
Body                 vagon
Mileage                165
EngineV                2.7
Engine Type            Gas
Registration           yes
Year                  2003
Model           A6 Allroad
Name: 12, dtype: object)
(13, Brand           Volkswagen
Price              10500.0
Body                 sedan
Mileage                100
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 13, dtype: object)
(14, Brand                     Toyota
Price                    16000.0
Body                   crossover
Mileage                      250
EngineV                      4.7
Engine Type                  Gas
Registration                 yes
Year                        2001
Model           Land Cruiser 100
Name: 14, dtype: object)
(15, Brand           Renault
Price            8600.0
Body              hatch
Mileage              84
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model              Clio
Name: 15, dtype: object)
(16, Brand              BMW
Price           2990.0
Body             other
Mileage            203
EngineV            2.0
Engine Type     Petrol
Registration        no
Year              2001
Model              318
Name: 16, dtype: object)
(17, Brand           Mercedes-Benz
Price                     NaN
Body                      van
Mileage                   240
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 17, dtype: object)
(18, Brand              Toyota
Price             26500.0
Body            crossover
Mileage                21
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2013
Model               Rav 4
Name: 18, dtype: object)
(19, Brand             Audi
Price           3500.0
Body             vagon
Mileage            250
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1998
Model               A6
Name: 19, dtype: object)
(20, Brand            Toyota
Price           38233.0
Body              other
Mileage               0
EngineV             2.4
Engine Type      Diesel
Registration        yes
Year               2016
Model             Hilux
Name: 20, dtype: object)
(21, Brand           Volkswagen
Price               7500.0
Body                 hatch
Mileage                132
EngineV                1.4
Engine Type         Diesel
Registration           yes
Year                  2006
Model                 Polo
Name: 21, dtype: object)
(22, Brand             Audi
Price           6800.0
Body             sedan
Mileage            225
EngineV            2.4
Engine Type        Gas
Registration       yes
Year              1998
Model               A6
Name: 22, dtype: object)
(23, Brand           Mitsubishi
Price              10500.0
Body             crossover
Mileage                130
EngineV                2.4
Engine Type            Gas
Registration           yes
Year                  2006
Model            Outlander
Name: 23, dtype: object)
(24, Brand              Audi
Price           24900.0
Body              sedan
Mileage             163
EngineV             4.2
Engine Type      Diesel
Registration        yes
Year               2008
Model                A8
Name: 24, dtype: object)
(25, Brand           Volkswagen
Price              20800.0
Body             crossover
Mileage                151
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model              Touareg
Name: 25, dtype: object)
(26, Brand             Audi
Price           6500.0
Body             sedan
Mileage            330
EngineV            2.4
Engine Type     Petrol
Registration       yes
Year              1999
Model               A6
Name: 26, dtype: object)
(27, Brand           Mercedes-Benz
Price                 13566.0
Body                    other
Mileage                   171
EngineV                   2.2
Engine Type             Other
Registration               no
Year                     2011
Model                    Vito
Name: 27, dtype: object)
(28, Brand           Mitsubishi
Price               8500.0
Body                 hatch
Mileage                 65
EngineV                1.3
Engine Type         Petrol
Registration           yes
Year                  2010
Model                 Colt
Name: 28, dtype: object)
(29, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   4.6
Engine Type            Petrol
Registration              yes
Year                     2016
Model                 GLS 500
Name: 29, dtype: object)
(30, Brand             Audi
Price           2900.0
Body             sedan
Mileage              1
EngineV            2.3
Engine Type        Gas
Registration       yes
Year              1989
Model              100
Name: 30, dtype: object)
(31, Brand               BMW
Price           21500.0
Body              other
Mileage              72
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2007
Model                Z4
Name: 31, dtype: object)
(32, Brand             Mitsubishi
Price                17900.0
Body               crossover
Mileage                   87
EngineV                  3.8
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 32, dtype: object)
(33, Brand                 BMW
Price             28500.0
Body            crossover
Mileage               160
EngineV               4.8
Engine Type           Gas
Registration          yes
Year                 2008
Model                  X5
Name: 33, dtype: object)
(34, Brand           Volkswagen
Price               9800.0
Body                   van
Mileage                160
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2009
Model                Caddy
Name: 34, dtype: object)
(35, Brand            Toyota
Price           14500.0
Body              sedan
Mileage             147
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2006
Model             Camry
Name: 35, dtype: object)
(36, Brand              BMW
Price           6000.0
Body             sedan
Mileage            300
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1996
Model              528
Name: 36, dtype: object)
(37, Brand                 BMW
Price             67500.0
Body            crossover
Mileage                 1
EngineV               2.5
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 37, dtype: object)
(38, Brand              Audi
Price           33900.0
Body              other
Mileage              14
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2014
Model                TT
Name: 38, dtype: object)
(39, Brand             Audi
Price           2500.0
Body             sedan
Mileage            180
EngineV            NaN
Engine Type     Petrol
Registration        no
Year              2000
Model               A4
Name: 39, dtype: object)
(40, Brand           Mercedes-Benz
Price                  9800.0
Body                      van
Mileage                   230
EngineV                  2.15
Engine Type            Diesel
Registration              yes
Year                     2004
Model                    Vito
Name: 40, dtype: object)
(41, Brand           Mercedes-Benz
Price                 63000.0
Body                crossover
Mileage                    86
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2009
Model                G 55 AMG
Name: 41, dtype: object)
(42, Brand              BMW
Price           7700.0
Body             sedan
Mileage            326
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1998
Model              528
Name: 42, dtype: object)
(43, Brand           Mercedes-Benz
Price                  9600.0
Body                      van
Mileage                    30
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2006
Model                    Vito
Name: 43, dtype: object)
(44, Brand            Toyota
Price           12800.0
Body              sedan
Mileage             181
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2008
Model             Camry
Name: 44, dtype: object)
(45, Brand                 BMW
Price             41000.0
Body            crossover
Mileage                80
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2012
Model                  X6
Name: 45, dtype: object)
(46, Brand           Mitsubishi
Price               2500.0
Body                 sedan
Mileage                220
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  1987
Model               Galant
Name: 46, dtype: object)
(47, Brand              BMW
Price           3700.0
Body             sedan
Mileage            231
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              1990
Model              525
Name: 47, dtype: object)
(48, Brand           Mercedes-Benz
Price                 29500.0
Body                    sedan
Mileage                   134
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2008
Model                   S 500
Name: 48, dtype: object)
(49, Brand              BMW
Price           6500.0
Body             sedan
Mileage            335
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1996
Model              528
Name: 49, dtype: object)
(50, Brand           Mercedes-Benz
Price                     NaN
Body                    sedan
Mileage                   145
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                 E-Class
Name: 50, dtype: object)
(51, Brand           Renault
Price            8250.0
Body                van
Mileage              66
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2014
Model            Kangoo
Name: 51, dtype: object)
(52, Brand           Mercedes-Benz
Price                 19500.0
Body                crossover
Mileage                   172
EngineV                   3.5
Engine Type             Other
Registration              yes
Year                     2008
Model                  ML 350
Name: 52, dtype: object)
(53, Brand           Mercedes-Benz
Price                 13500.0
Body                    sedan
Mileage                   317
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2001
Model                   S 500
Name: 53, dtype: object)
(54, Brand           Mercedes-Benz
Price                  9200.0
Body                      van
Mileage                   266
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                    Vito
Name: 54, dtype: object)
(55, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 55, dtype: object)
(56, Brand            Toyota
Price           10900.0
Body              sedan
Mileage             156
EngineV             NaN
Engine Type         Gas
Registration        yes
Year               2005
Model             Camry
Name: 56, dtype: object)
(57, Brand           Volkswagen
Price               5000.0
Body                 vagon
Mileage                265
EngineV                2.0
Engine Type         Diesel
Registration            no
Year                  2006
Model            Passat B6
Name: 57, dtype: object)
(58, Brand                 BMW
Price             23900.0
Body            crossover
Mileage               162
EngineV               4.8
Engine Type        Petrol
Registration          yes
Year                 2007
Model                  X5
Name: 58, dtype: object)
(59, Brand               BMW
Price           36900.0
Body              sedan
Mileage              81
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2010
Model               730
Name: 59, dtype: object)
(60, Brand              BMW
Price           8900.0
Body             other
Mileage            253
EngineV            1.8
Engine Type     Petrol
Registration       yes
Year              1995
Model              318
Name: 60, dtype: object)
(61, Brand           Renault
Price            7800.0
Body                van
Mileage             200
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2002
Model            Trafic
Name: 61, dtype: object)
(62, Brand                 BMW
Price            133000.0
Body            crossover
Mileage                 7
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2015
Model                X5 M
Name: 62, dtype: object)
(63, Brand              BMW
Price           1650.0
Body             sedan
Mileage            270
EngineV            1.8
Engine Type     Petrol
Registration        no
Year              1995
Model              318
Name: 63, dtype: object)
(64, Brand           Mercedes-Benz
Price                 50000.0
Body                    sedan
Mileage                   240
EngineV                   3.5
Engine Type            Petrol
Registration              yes
Year                     2006
Model                   S 350
Name: 64, dtype: object)
(65, Brand           Renault
Price            9700.0
Body                van
Mileage             245
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model            Trafic
Name: 65, dtype: object)
(66, Brand           Mercedes-Benz
Price                  9999.0
Body                      van
Mileage                   127
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model                    Vito
Name: 66, dtype: object)
(67, Brand                 Audi
Price              69999.0
Body             crossover
Mileage                 21
EngineV                3.0
Engine Type         Petrol
Registration           yes
Year                  2015
Model           A6 Allroad
Name: 67, dtype: object)
(68, Brand           Mitsubishi
Price               6500.0
Body                 sedan
Mileage                152
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2007
Model               Lancer
Name: 68, dtype: object)
(69, Brand             Audi
Price           4300.0
Body             sedan
Mileage            267
EngineV            1.9
Engine Type     Diesel
Registration        no
Year              2003
Model               A6
Name: 69, dtype: object)
(70, Brand             Audi
Price           3000.0
Body             sedan
Mileage            267
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1999
Model               A6
Name: 70, dtype: object)
(71, Brand           Mercedes-Benz
Price                  8700.0
Body                    sedan
Mileage                   240
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2000
Model                 E-Class
Name: 71, dtype: object)
(72, Brand           Renault
Price            9000.0
Body              vagon
Mileage             178
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2008
Model            Scenic
Name: 72, dtype: object)
(73, Brand           Mercedes-Benz
Price                 20400.0
Body                    sedan
Mileage                   190
EngineV                   1.8
Engine Type               Gas
Registration              yes
Year                     2011
Model                 E-Class
Name: 73, dtype: object)
(74, Brand              BMW
Price           9000.0
Body             sedan
Mileage            175
EngineV            3.0
Engine Type     Petrol
Registration        no
Year              2006
Model              330
Name: 74, dtype: object)
(75, Brand           Mercedes-Benz
Price                 13400.0
Body                    sedan

Name: 669, dtype: object)
(670, Brand           Mercedes-Benz
Price                 56800.0
Body                    sedan
Mileage                    74
EngineV                   6.3
Engine Type            Petrol
Registration              yes
Year                     2010
Model                S 63 AMG
Name: 670, dtype: object)
(671, Brand           Renault
Price            8000.0
Body              hatch
Mileage              50
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2012
Model           Sandero
Name: 671, dtype: object)
(672, Brand           Mercedes-Benz
Price                  5000.0
Body                    sedan
Mileage                   382
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1994
Model                 E-Class
Name: 672, dtype: object)
(673, Brand           Mitsubishi
Price               9900.0
Body                 sedan
Mileage                 98
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2009
Model             Lancer X
Name: 673, dtype: object)
(674, Brand           Mercedes-Benz
Price                 18900.0
Body                    other
Mileage                   111
EngineV                   2.5
Engine Type            Petrol
Registration              yes
Year                     2009
Model                 C-Class
Name: 674, dtype: object)
(675, Brand                       Toyota
Price                      20500.0
Body                     crossover
Mileage                        139
EngineV                        4.0
Engine Type                    Gas
Registration                   yes
Year                          2005
Model           Land Cruiser Prado
Name: 675, dtype: object)
(676, Brand           Volkswagen
Price               2500.0
Body                 vagon
Mileage                232
EngineV                1.6
Engine Type         Petrol
Registration            no
Year                  2001
Model              Golf IV
Name: 676, dtype: object)
(677, Brand           Renault
Price            9000.0
Body              vagon
Mileage             179
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model            Megane
Name: 677, dtype: object)
(678, Brand           Renault
Price            7700.0
Body              sedan
Mileage             100
EngineV             1.6
Engine Type         Gas
Registration        yes
Year               2008
Model            Megane
Name: 678, dtype: object)
(679, Brand              Audi
Price           32300.0
Body              hatch
Mileage              54
EngineV             2.8
Engine Type      Petrol
Registration        yes
Year               2011
Model                A6
Name: 679, dtype: object)
(680, Brand           Mercedes-Benz
Price                 72700.0
Body                      van
Mileage                    42
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2014
Model                   V 250
Name: 680, dtype: object)
(681, Brand           Renault
Price            6200.0
Body              sedan
Mileage             246
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2005
Model            Megane
Name: 681, dtype: object)
(682, Brand             Audi
Price           4000.0
Body             sedan
Mileage            400
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1992
Model              100
Name: 682, dtype: object)
(683, Brand            Toyota
Price           9003.15
Body              sedan
Mileage              43
EngineV             1.3
Engine Type      Petrol
Registration        yes
Year               2014
Model           Corolla
Name: 683, dtype: object)
(684, Brand           Mercedes-Benz
Price                 14900.0
Body                    other
Mileage                   195
EngineV                   3.2
Engine Type               Gas
Registration              yes
Year                     1999
Model                 CLK 320
Name: 684, dtype: object)
(685, Brand           Mercedes-Benz
Price                     NaN
Body                      van
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                   V 250
Name: 685, dtype: object)
(686, Brand             Audi
Price           2200.0
Body             sedan
Mileage            250
EngineV            NaN
Engine Type     Diesel
Registration        no
Year              2001
Model               A6
Name: 686, dtype: object)
(687, Brand           Volkswagen
Price                  NaN
Body                   van
Mileage                  1
EngineV                NaN
Engine Type         Diesel
Registration           yes
Year                  2005
Model                Caddy
Name: 687, dtype: object)
(688, Brand                 BMW
Price            65393.25
Body            crossover
Mileage                 0
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 688, dtype: object)
(689, Brand           Renault
Price            9000.0
Body                van
Mileage             158
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model            Trafic
Name: 689, dtype: object)
(690, Brand             Audi
Price              NaN
Body             sedan
Mileage             60
EngineV            6.3
Engine Type     Petrol
Registration       yes
Year              2013
Model               A8
Name: 690, dtype: object)
(691, Brand             Audi
Price           8500.0
Body             sedan
Mileage            253
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              2001
Model               A6
Name: 691, dtype: object)
(692, Brand           Renault
Price            5900.0
Body              hatch
Mileage             171
EngineV             1.5
Engine Type       Other
Registration        yes
Year               2005
Model            Megane
Name: 692, dtype: object)
(693, Brand           Mitsubishi
Price               5100.0
Body                 hatch
Mileage                250
EngineV                1.3
Engine Type            Gas
Registration           yes
Year                  2006
Model                 Colt
Name: 693, dtype: object)
(694, Brand           Mercedes-Benz
Price                 40500.0
Body                    sedan
Mileage                   108
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2010
Model                   S 500
Name: 694, dtype: object)
(695, Brand             Audi
Price           8600.0
Body             sedan
Mileage            154
EngineV            1.8
Engine Type     Petrol
Registration       yes
Year              2001
Model               A6
Name: 695, dtype: object)
(696, Brand           Mitsubishi
Price               5900.0
Body                 sedan
Mileage                142
EngineV                1.6
Engine Type            Gas
Registration           yes
Year                  2005
Model               Lancer
Name: 696, dtype: object)
(697, Brand           Volkswagen
Price              17900.0
Body                 other
Mileage                123
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2010
Model            Passat CC
Name: 697, dtype: object)
(698, Brand                 BMW
Price             34400.0
Body            crossover
Mileage                37
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2013
Model                  X1
Name: 698, dtype: object)
(699, Brand               BMW
Price           13500.0
Body              sedan
Mileage             138
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2004
Model               525
Name: 699, dtype: object)
(700, Brand           Renault
Price            9600.0
Body                van
Mileage             175
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2007
Model            Trafic
Name: 700, dtype: object)
(701, Brand           Mercedes-Benz
Price                 15000.0
Body                    other
Mileage                    82
EngineV                   1.8
Engine Type            Petrol
Registration              yes
Year                     2004
Model                 SLK 200
Name: 701, dtype: object)
(702, Brand           Mercedes-Benz
Price                 22000.0
Body                    other
Mileage                    53
EngineV                   3.0
Engine Type            Petrol
Registration              yes
Year                     2007
Model                 CLK 280
Name: 702, dtype: object)
(703, Brand           Volkswagen
Price              13700.0
Body                 other
Mileage                200
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2005
Model              Touareg
Name: 703, dtype: object)
(704, Brand               BMW
Price           38000.0
Body              sedan
Mileage              61
EngineV             NaN
Engine Type      Petrol
Registration        yes
Year               2013
Model               535
Name: 704, dtype: object)
(705, Brand            Toyota
Price           18800.0
Body              sedan
Mileage              47
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2009
Model             Camry
Name: 705, dtype: object)
(706, Brand           Volkswagen
Price               7600.0
Body                 hatch
Mileage                127
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2007
Model                 Polo
Name: 706, dtype: object)
(707, Brand            Toyota
Price           11950.0
Body              hatch
Mileage             120
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2013
Model             Auris
Name: 707, dtype: object)
(708, Brand              Audi
Price           11300.0
Body              sedan
Mileage             202
EngineV             2.7
Engine Type      Diesel
Registration         no
Year               2008
Model                A6
Name: 708, dtype: object)
(709, Brand                  Volkswagen
Price                     13500.0
Body                          van
Mileage                        43
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2014
Model           T5 (Transporter)
Name: 709, dtype: object)
(710, Brand            Toyota
Price           11990.0
Body              sedan
Mileage             129
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2007
Model             Camry
Name: 710, dtype: object)
(711, Brand                       Toyota
Price                      16500.0
Body                         other
Mileage                        130
EngineV                        2.7
Engine Type                    Gas
Registration                   yes
Year                          2004
Model           Land Cruiser Prado
Name: 711, dtype: object)
(712, Brand                 BMW
Price             19000.0
Body            crossover
Mileage               215
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2006
Model                  X5
Name: 712, dtype: object)
(713, Brand           Renault
Price            5500.0
Body                van
Mileage             160
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2005
Model            Kangoo
Name: 713, dtype: object)
(714, Brand               BMW
Price           39999.0
Body              sedan
Mileage              45
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2011
Model               535
Name: 714, dtype: object)
(715, Brand            Toyota
Price           15500.0
Body              sedan
Mileage             140
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2007
Model             Camry
Name: 715, dtype: object)
(716, Brand             Mitsubishi
Price                11700.0
Body               crossover
Mileage                  197
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2006
Model           Pajero Sport
Name: 716, dtype: object)
(717, Brand           Volkswagen
Price               2750.0
Body                 vagon
Mileage                  1
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2001
Model            Passat B5
Name: 717, dtype: object)
(718, Brand           Renault
Price            7150.0
Body              vagon
Mileage               1
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2005
Model            Megane
Name: 718, dtype: object)
(719, Brand               BMW
Price           10500.0
Body              hatch
Mileage             220
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2005
Model               118
Name: 719, dtype: object)
(720, Brand           Mercedes-Benz
Price                 24900.0
Body                    sedan
Mileage                    97
EngineV                   1.8
Engine Type            Petrol
Registration              yes
Year                     2012
Model                 E-Class
Name: 720, dtype: object)
(721, Brand           Toyota
Price              NaN
Body             sedan
Mileage             24
EngineV            2.5
Engine Type     Petrol
Registration       yes
Year              2015
Model            Camry
Name: 721, dtype: object)
(722, Brand           Mercedes-Benz
Price                 26000.0
Body                    other
Mileage                    22
EngineV                   1.8
Engine Type            Petrol
Registration              yes
Year                     2014
Model                 C-Class
Name: 722, dtype: object)
(723, Brand           Mercedes-Benz
Price                 21500.0
Body                crossover
Mileage                   148
EngineV                   6.2
Engine Type            Petrol
Registration              yes
Year                     2008
Model               ML 63 AMG
Name: 723, dtype: object)
(724, Brand              BMW
Price           2222.0
Body             sedan
Mileage            268
EngineV            1.8
Engine Type     Petrol
Registration        no
Year              1996
Model              318
Name: 724, dtype: object)
(725, Brand              BMW
Price           2900.0
Body             vagon
Mileage            236
EngineV            2.0
Engine Type     Diesel
Registration        no
Year              2001
Model              320
Name: 725, dtype: object)
(726, Brand           Volkswagen
Price               4600.0
Body                 hatch
Mileage                  1
EngineV                1.8
Engine Type            Gas
Registration           yes
Year                  1996
Model             Golf III
Name: 726, dtype: object)
(727, Brand           Mercedes-Benz
Price                  3200.0
Body                    sedan
Mileage                   198
EngineV                   2.0
Engine Type               Gas
Registration              yes
Year                     1992
Model                     190
Name: 727, dtype: object)
(728, Brand             Mitsubishi
Price                19400.0
Body               crossover
Mileage                   78
EngineV                  2.4
Engine Type           Petrol
Registration             yes
Year                    2012
Model           Outlander XL
Name: 728, dtype: object)
(729, Brand           Renault
Price            4000.0
Body              sedan
Mileage             215
EngineV             1.9
Engine Type      Diesel
Registration         no
Year               2005
Model            Laguna
Name: 729, dtype: object)
(730, Brand                 BMW
Price             65099.0
Body            crossover
Mileage                 0
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 730, dtype: object)
(731, Brand               BMW
Price           53999.0
Body              sedan
Mileage              80
EngineV            2.99
Engine Type      Diesel
Registration        yes
Year               2012
Model               550
Name: 731, dtype: object)
(732, Brand           Renault
Price            9200.0
Body              vagon
Mileage             155
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model              Clio
Name: 732, dtype: object)
(733, Brand             Mitsubishi
Price                19400.0
Body               crossover
Mileage                   78
EngineV                  NaN
Engine Type           Petrol
Registration             yes
Year                    2012
Model           Outlander XL
Name: 733, dtype: object)
(734, Brand           Mercedes-Benz
Price                109999.0
Body                      van
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model                   V 250
Name: 734, dtype: object)
(735, Brand           Mercedes-Benz
Price                 23500.0
Body                      van
Mileage                   170
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                    Vito
Name: 735, dtype: object)
(736, Brand             Audi
Price           4800.0
Body             sedan
Mileage            390
EngineV            2.6
Engine Type     Petrol
Registration       yes
Year              1993
Model              100
Name: 736, dtype: object)
(737, Brand            Toyota
Price           13500.0
Body              sedan
Mileage             100
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2007
Model             Camry
Name: 737, dtype: object)
(738, Brand            Toyota
Price            8700.0
Body              sedan
Mileage             131
EngineV             1.6
Engine Type         Gas
Registration        yes
Year               2007
Model           Corolla
Name: 738, dtype: object)
(739, Brand           Mercedes-Benz
Price                 12300.0
Body                    sedan
Mileage                   423
EngineV                   5.0
Engine Type               Gas
Registration              yes
Year                     1997
Model                   S 500
Name: 739, dtype: object)
(740, Brand             Mitsubishi
Price                 7900.0
Body                   other
Mileage                  148
EngineV                  1.8
Engine Type           Petrol
Registration             yes
Year                    2003
Model           Pajero Pinin
Name: 740, dtype: object)
(741, Brand           Volkswagen
Price              10700.0
Body                   van
Mileage                153
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2010
Model                Caddy
Name: 741, dtype: object)
(742, Brand           Renault
Price            6800.0
Body                van
Mileage             185
EngineV             1.6
Engine Type       Other
Registration        yes
Year               2006
Model            Kangoo
Name: 742, dtype: object)
(743, Brand           Renault
Price            8500.0
Body                van
Mileage             157
EngineV             1.5
Engine Type      Diesel
Registration         no
Year               2013
Model            Scenic
Name: 743, dtype: object)

Name: 1342, dtype: object)
(1343, Brand           Renault
Price               NaN
Body                van
Mileage             220
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model            Trafic
Name: 1343, dtype: object)
(1344, Brand           Mercedes-Benz
Price                  2550.0
Body                    vagon
Mileage                   367
EngineV                   3.2
Engine Type            Diesel
Registration               no
Year                     2000
Model                 E-Class
Name: 1344, dtype: object)
(1345, Brand              Audi
Price           31700.0
Body              sedan
Mileage              32
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2014
Model                A4
Name: 1345, dtype: object)
(1346, Brand           Mercedes-Benz
Price                125000.0
Body                    sedan
Mileage                    18
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2015
Model                   S 350
Name: 1346, dtype: object)
(1347, Brand                 BMW
Price             20500.0
Body            crossover
Mileage               285
EngineV               4.8
Engine Type        Petrol
Registration          yes
Year                 2006
Model                  X5
Name: 1347, dtype: object)
(1348, Brand           Mitsubishi
Price               2600.0
Body                 other
Mileage                200
EngineV                2.4
Engine Type         Petrol
Registration            no
Year                  2002
Model               Lancer
Name: 1348, dtype: object)
(1349, Brand              BMW
Price           2500.0
Body             vagon
Mileage            250
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model              525
Name: 1349, dtype: object)
(1350, Brand           Mercedes-Benz
Price                 13200.0
Body                      van
Mileage                   182
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                    Vito
Name: 1350, dtype: object)
(1351, Brand           Mercedes-Benz
Price                 31000.0
Body                crossover
Mileage                   220
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                  GL 320
Name: 1351, dtype: object)
(1352, Brand                 Audi
Price              30900.0
Body                 vagon
Mileage                118
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2013
Model           A4 Allroad
Name: 1352, dtype: object)
(1353, Brand           Mitsubishi
Price               4750.0
Body                 sedan
Mileage                167
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2003
Model              Carisma
Name: 1353, dtype: object)
(1354, Brand                  Volkswagen
Price                         NaN
Body                          van
Mileage                       160
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2011
Model           T6 (Transporter)
Name: 1354, dtype: object)
(1355, Brand             Audi
Price              NaN
Body             sedan
Mileage             62
EngineV            3.0
Engine Type     Petrol
Registration       yes
Year              2013
Model               A8
Name: 1355, dtype: object)
(1356, Brand           Toyota
Price           8950.0
Body             hatch
Mileage            118
EngineV            1.6
Engine Type     Petrol
Registration       yes
Year              2008
Model            Auris
Name: 1356, dtype: object)
(1357, Brand                Renault
Price                 8300.0
Body                     van
Mileage                  177
EngineV                  1.5
Engine Type           Diesel
Registration             yes
Year                    2007
Model           Grand Scenic
Name: 1357, dtype: object)
(1358, Brand             Audi
Price           6900.0
Body             sedan
Mileage            360
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              1997
Model               A6
Name: 1358, dtype: object)
(1359, Brand           Volkswagen
Price               5000.0
Body                 sedan
Mileage                 81
EngineV                NaN
Engine Type          Other
Registration            no
Year                  2013
Model            Passat B7
Name: 1359, dtype: object)
(1360, Brand                 BMW
Price             69999.0
Body            crossover
Mileage                71
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2011
Model                X5 M
Name: 1360, dtype: object)
(1361, Brand           Volkswagen
Price               3250.0
Body                 sedan
Mileage                255
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  2003
Model            Passat B5
Name: 1361, dtype: object)
(1362, Brand           Volkswagen
Price              11900.0
Body                 hatch
Mileage                 91
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2010
Model              Golf VI
Name: 1362, dtype: object)
(1363, Brand           Mitsubishi
Price               9600.0
Body                 other
Mileage                114
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  1999
Model              Eclipse
Name: 1363, dtype: object)
(1364, Brand           Mercedes-Benz
Price                 21200.0
Body                    vagon
Mileage                   206
EngineV                   2.1
Engine Type            Diesel
Registration              yes
Year                     2011
Model                 C-Class
Name: 1364, dtype: object)
(1365, Brand                     Toyota
Price                   102999.0
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 1365, dtype: object)
(1366, Brand           Mercedes-Benz
Price                 11900.0
Body                      van
Mileage                   277
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2007
Model                    Vito
Name: 1366, dtype: object)
(1367, Brand           Renault
Price            9999.0
Body                van
Mileage             185
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2008
Model            Kangoo
Name: 1367, dtype: object)
(1368, Brand           Renault
Price            8500.0
Body              sedan
Mileage              57
EngineV             1.2
Engine Type         Gas
Registration        yes
Year               2013
Model             Logan
Name: 1368, dtype: object)
(1369, Brand                 Volkswagen
Price                     6500.0
Body                       other
Mileage                      385
EngineV                      2.4
Engine Type               Diesel
Registration                 yes
Year                        1997
Model           T4 (Transporter)
Name: 1369, dtype: object)
(1370, Brand           Mitsubishi
Price               8700.0
Body                 sedan
Mileage                 80
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2008
Model             Lancer X
Name: 1370, dtype: object)
(1371, Brand           Volkswagen
Price               8599.0
Body                   van
Mileage                169
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model                Caddy
Name: 1371, dtype: object)
(1372, Brand           Volkswagen
Price              12700.0
Body                 hatch
Mileage                156
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model              Golf VI
Name: 1372, dtype: object)
(1373, Brand           Mitsubishi
Price               7700.0
Body                 sedan
Mileage                135
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2007
Model               Lancer
Name: 1373, dtype: object)
(1374, Brand           Mitsubishi
Price               2020.0
Body                 other
Mileage                 90
EngineV                NaN
Engine Type          Other
Registration            no
Year                  2008
Model                L 200
Name: 1374, dtype: object)
(1375, Brand           Volkswagen
Price                  NaN
Body                   van
Mileage                123
EngineV                1.2
Engine Type         Petrol
Registration           yes
Year                  2013
Model                Caddy
Name: 1375, dtype: object)
(1376, Brand           Mitsubishi
Price               8700.0
Body                 sedan
Mileage                150
EngineV                2.4
Engine Type            Gas
Registration           yes
Year                  2007
Model               Galant
Name: 1376, dtype: object)
(1377, Brand           Mitsubishi
Price               9300.0
Body                 sedan
Mileage                 95
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2007
Model             Lancer X
Name: 1377, dtype: object)
(1378, Brand           Mercedes-Benz
Price                  3550.0
Body                    sedan
Mileage                   238
EngineV                   2.2
Engine Type            Diesel
Registration               no
Year                     2001
Model                 E-Class
Name: 1378, dtype: object)
(1379, Brand                Audi
Price             29800.0
Body            crossover
Mileage               151
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2007
Model                  Q7
Name: 1379, dtype: object)
(1380, Brand           Renault
Price            3900.0
Body                van
Mileage             202
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2001
Model            Kangoo
Name: 1380, dtype: object)
(1381, Brand                 BMW
Price                 NaN
Body            crossover
Mileage               200
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2009
Model                  X5
Name: 1381, dtype: object)
(1382, Brand                  Volkswagen
Price                      7000.0
Body                          van
Mileage                       345
EngineV                       1.9
Engine Type                Diesel
Registration                  yes
Year                         2006
Model           T5 (Transporter)
Name: 1382, dtype: object)
(1383, Brand              Audi
Price           17700.0
Body              other
Mileage              70
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2009
Model                TT
Name: 1383, dtype: object)
(1384, Brand           Toyota
Price           9999.0
Body             sedan
Mileage            225
EngineV            3.0
Engine Type        Gas
Registration       yes
Year              2004
Model            Camry
Name: 1384, dtype: object)
(1385, Brand              Audi
Price           25300.0
Body              hatch
Mileage             180
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2011
Model                A5
Name: 1385, dtype: object)
(1386, Brand                 Audi
Price              22500.0
Body                 vagon
Mileage                175
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2010
Model           A4 Allroad
Name: 1386, dtype: object)
(1387, Brand           Volkswagen
Price              18600.0
Body                 sedan
Mileage                  2
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2015
Model                Jetta
Name: 1387, dtype: object)
(1388, Brand           Mitsubishi
Price               6999.0
Body                 sedan
Mileage                160
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2007
Model               Lancer
Name: 1388, dtype: object)
(1389, Brand                     Toyota
Price                    16200.0
Body                   crossover
Mileage                      281
EngineV                      4.2
Engine Type               Diesel
Registration                 yes
Year                        1999
Model           Land Cruiser 100
Name: 1389, dtype: object)
(1390, Brand                    Mercedes-Benz
Price                          29999.0
Body                             hatch
Mileage                              9
EngineV                            NaN
Engine Type                      Other
Registration                       yes
Year                              2015
Model           B-Class Electric Drive
Name: 1390, dtype: object)
(1391, Brand                     Toyota
Price                    18000.0
Body                   crossover
Mileage                      320
EngineV                      4.2
Engine Type               Diesel
Registration                 yes
Year                        1999
Model           Land Cruiser 100
Name: 1391, dtype: object)
(1392, Brand           Mercedes-Benz
Price                 27300.0
Body                    sedan
Mileage                   144
EngineV                  2.14
Engine Type            Diesel
Registration              yes
Year                     2011
Model                 E-Class
Name: 1392, dtype: object)
(1393, Brand           Toyota
Price           2700.0
Body             sedan
Mileage            550
EngineV            1.6
Engine Type        Gas
Registration       yes
Year              1989
Model           Carina
Name: 1393, dtype: object)
(1394, Brand                 BMW
Price             12000.0
Body            crossover
Mileage               218
EngineV               3.0
Engine Type        Diesel
Registration           no
Year                 2006
Model                  X5
Name: 1394, dtype: object)
(1395, Brand                    Mercedes-Benz
Price                          39900.0
Body                             hatch
Mileage                              2
EngineV                            NaN
Engine Type                      Other
Registration                       yes
Year                              2015
Model           B-Class Electric Drive
Name: 1395, dtype: object)
(1396, Brand           Volkswagen
Price               1800.0
Body                 other
Mileage                280
EngineV                1.9
Engine Type         Diesel
Registration            no
Year                  1997
Model            Passat B5
Name: 1396, dtype: object)
(1397, Brand              Audi
Price           20500.0
Body              sedan
Mileage             106
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2011
Model                A4
Name: 1397, dtype: object)
(1398, Brand           Volkswagen
Price              10493.0
Body                 other
Mileage                  1
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2014
Model                 Polo
Name: 1398, dtype: object)
(1399, Brand               BMW
Price           16800.0
Body              sedan
Mileage             154
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2006
Model               330
Name: 1399, dtype: object)
(1400, Brand           Volkswagen
Price              12500.0
Body                 sedan
Mileage                177
EngineV                NaN
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 1400, dtype: object)
(1401, Brand              BMW
Price           8200.0
Body             sedan
Mileage            238
EngineV            3.0
Engine Type     Diesel
Registration        no
Year              2004
Model              730
Name: 1401, dtype: object)
(1402, Brand              BMW
Price           8000.0
Body             sedan
Mileage            330
EngineV            NaN
Engine Type     Diesel
Registration       yes
Year              1997
Model              525
Name: 1402, dtype: object)
(1403, Brand           Mercedes-Benz
Price                 14500.0
Body                      van
Mileage                   171
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2011
Model                    Vito
Name: 1403, dtype: object)
(1404, Brand           Volkswagen
Price              24500.0
Body             crossover
Mileage                 62
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2012
Model            Passat CC
Name: 1404, dtype: object)
(1405, Brand            Toyota
Price           13250.0
Body              sedan
Mileage              96
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2008
Model             Rav 4
Name: 1405, dtype: object)
(1406, Brand           Toyota
Price           6400.0
Body             sedan
Mileage            250
EngineV            3.0
Engine Type        Gas
Registration       yes
Year              1998
Model            Camry
Name: 1406, dtype: object)
(1407, Brand           Mercedes-Benz
Price                 29500.0
Body                    sedan
Mileage                   135
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2008
Model                   S 550
Name: 1407, dtype: object)
(1408, Brand           Volkswagen
Price              69990.0
Body                   van
Mileage                  1
EngineV                5.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model             Multivan
Name: 1408, dtype: object)
(1409, Brand             Audi
Price           2600.0
Body             vagon
Mileage            110
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2002
Model               A6
Name: 1409, dtype: object)
(1410, Brand           Volkswagen
Price               4900.0
Body                 sedan
Mileage                500
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  1995
Model            Passat B4
Name: 1410, dtype: object)
(1411, Brand           Renault
Price           10500.0
Body              vagon
Mileage             185
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2011
Model            Megane
Name: 1411, dtype: object)
(1412, Brand           Volkswagen
Price                  NaN
Body             crossover
Mileage                 90
EngineV                3.6
Engine Type         Petrol
Registration           yes
Year                  2008
Model              Touareg
Name: 1412, dtype: object)
(1413, Brand           Volkswagen
Price              27200.0
Body             crossover
Mileage                  1
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model               Tiguan
Name: 1413, dtype: object)
(1414, Brand           Mercedes-Benz
Price                  1350.0
Body                    sedan
Mileage                   360
EngineV                   2.5

(1851, Brand              BMW
Price           9500.0
Body             sedan
Mileage            217
EngineV            2.2
Engine Type     Petrol
Registration       yes
Year              2002
Model              320
Name: 1851, dtype: object)
(1852, Brand           Toyota
Price           7500.0
Body             hatch
Mileage             98
EngineV            1.3
Engine Type      Other
Registration       yes
Year              2006
Model            Yaris
Name: 1852, dtype: object)
(1853, Brand           Mercedes-Benz
Price                 32500.0
Body                crossover
Mileage                   254
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                  GL 320
Name: 1853, dtype: object)
(1854, Brand               BMW
Price           45000.0
Body              sedan
Mileage             110
EngineV             NaN
Engine Type       Other
Registration        yes
Year               2012
Model               535
Name: 1854, dtype: object)
(1855, Brand             Audi
Price           3700.0
Body             vagon
Mileage            273
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2003
Model               A6
Name: 1855, dtype: object)
(1856, Brand           Mitsubishi
Price               8500.0
Body                 other
Mileage                135
EngineV                1.5
Engine Type            Gas
Registration           yes
Year                  2008
Model             Lancer X
Name: 1856, dtype: object)
(1857, Brand           Mercedes-Benz
Price                109900.0
Body                    sedan
Mileage                    40
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2014
Model                   S 350
Name: 1857, dtype: object)
(1858, Brand           Mercedes-Benz
Price                 39900.0
Body                    other
Mileage                    88
EngineV                   6.2
Engine Type            Petrol
Registration              yes
Year                     2008
Model               CL 63 AMG
Name: 1858, dtype: object)
(1859, Brand           Mercedes-Benz
Price                  4700.0
Body                    sedan
Mileage                   260
EngineV                   2.7
Engine Type            Diesel
Registration               no
Year                     2002
Model                 E-Class
Name: 1859, dtype: object)
(1860, Brand                 Audi
Price              13200.0
Body                 vagon
Mileage                182
EngineV                2.7
Engine Type            Gas
Registration           yes
Year                  2003
Model           A6 Allroad
Name: 1860, dtype: object)
(1861, Brand           Renault
Price            6700.0
Body                van
Mileage             216
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model            Kangoo
Name: 1861, dtype: object)
(1862, Brand           Volkswagen
Price              23000.0
Body                 sedan
Mileage                 80
EngineV                2.0
Engine Type          Other
Registration           yes
Year                  2011
Model            Passat CC
Name: 1862, dtype: object)
(1863, Brand           Volkswagen
Price               6400.0
Body                   van
Mileage                181
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model                Caddy
Name: 1863, dtype: object)
(1864, Brand           Mercedes-Benz
Price                 97555.0
Body                      van
Mileage                     0
EngineV                   2.5
Engine Type            Diesel
Registration              yes
Year                     2016
Model                   V 250
Name: 1864, dtype: object)
(1865, Brand             Audi
Price           7900.0
Body             sedan
Mileage            242
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              2002
Model               A4
Name: 1865, dtype: object)
(1866, Brand           Mercedes-Benz
Price                  5300.0
Body                    sedan
Mileage                   380
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     1995
Model                 E-Class
Name: 1866, dtype: object)
(1867, Brand             Toyota
Price           24171.42
Body               sedan
Mileage                1
EngineV              2.5
Engine Type       Petrol
Registration         yes
Year                2016
Model              Camry
Name: 1867, dtype: object)
(1868, Brand              Audi
Price           23400.0
Body              sedan
Mileage             112
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2012
Model                A4
Name: 1868, dtype: object)
(1869, Brand            Toyota
Price           10500.0
Body              sedan
Mileage             185
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2008
Model           Corolla
Name: 1869, dtype: object)
(1870, Brand           Mercedes-Benz
Price                  4900.0
Body                      van
Mileage                   262
EngineV                   2.3
Engine Type            Diesel
Registration              yes
Year                     1998
Model                    Vito
Name: 1870, dtype: object)
(1871, Brand                 BMW
Price             16300.0
Body            crossover
Mileage               258
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2005
Model                  X5
Name: 1871, dtype: object)
(1872, Brand           Renault
Price            1300.0
Body                van
Mileage             265
EngineV             1.9
Engine Type      Diesel
Registration         no
Year               1999
Model            Kangoo
Name: 1872, dtype: object)
(1873, Brand           Mercedes-Benz
Price                  6700.0
Body                      van
Mileage                     1
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2004
Model                    Vito
Name: 1873, dtype: object)
(1874, Brand           Renault
Price            2850.0
Body              hatch
Mileage             315
EngineV             2.2
Engine Type      Diesel
Registration         no
Year               2003
Model            Laguna
Name: 1874, dtype: object)
(1875, Brand           Mercedes-Benz
Price                109999.0
Body                crossover
Mileage                     0
EngineV                  2.98
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 1875, dtype: object)
(1876, Brand             Audi
Price           3650.0
Body             sedan
Mileage            240
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model               A6
Name: 1876, dtype: object)
(1877, Brand           Volkswagen
Price               4100.0
Body                 vagon
Mileage                350
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2003
Model            Passat B5
Name: 1877, dtype: object)
(1878, Brand           Mercedes-Benz
Price                  9300.0
Body                      van
Mileage                   159
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2010
Model                    Vito
Name: 1878, dtype: object)
(1879, Brand                 BMW
Price             18500.0
Body            crossover
Mileage               250
EngineV               4.4
Engine Type           Gas
Registration          yes
Year                 2005
Model                  X5
Name: 1879, dtype: object)
(1880, Brand           Mercedes-Benz
Price                  7600.0
Body                    sedan
Mileage                   384
EngineV                   2.8
Engine Type            Petrol
Registration              yes
Year                     2000
Model                 E-Class
Name: 1880, dtype: object)
(1881, Brand           Mitsubishi
Price               7300.0
Body                 sedan
Mileage                112
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2008
Model               Lancer
Name: 1881, dtype: object)
(1882, Brand           Renault
Price            6700.0
Body                van
Mileage             220
EngineV             2.0
Engine Type       Other
Registration        yes
Year               2007
Model            Trafic
Name: 1882, dtype: object)
(1883, Brand            Toyota
Price           14400.0
Body              sedan
Mileage              80
EngineV             2.4
Engine Type      Petrol
Registration        yes
Year               2008
Model             Camry
Name: 1883, dtype: object)
(1884, Brand            Toyota
Price           10600.0
Body              sedan
Mileage             204
EngineV             1.8
Engine Type       Other
Registration        yes
Year               2008
Model           Avensis
Name: 1884, dtype: object)
(1885, Brand                 BMW
Price            139000.0
Body            crossover
Mileage                 0
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2016
Model                X6 M
Name: 1885, dtype: object)
(1886, Brand           Renault
Price           10000.0
Body              vagon
Mileage             234
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model            Laguna
Name: 1886, dtype: object)
(1887, Brand            Toyota
Price           12999.0
Body              sedan
Mileage             160
EngineV             3.5
Engine Type         Gas
Registration        yes
Year               2007
Model            Avalon
Name: 1887, dtype: object)
(1888, Brand           Renault
Price            6800.0
Body                van
Mileage             168
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 1888, dtype: object)
(1889, Brand           Volkswagen
Price              15850.0
Body             crossover
Mileage                 98
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model               Tiguan
Name: 1889, dtype: object)
(1890, Brand           Renault
Price            6000.0
Body                van
Mileage             162
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2007
Model            Kangoo
Name: 1890, dtype: object)
(1891, Brand           Volkswagen
Price              44700.0
Body                   van
Mileage                120
EngineV                3.5
Engine Type         Petrol
Registration           yes
Year                  2013
Model               Sharan
Name: 1891, dtype: object)
(1892, Brand           Renault
Price            5600.0
Body              vagon
Mileage             117
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2008
Model            Kangoo
Name: 1892, dtype: object)
(1893, Brand           Renault
Price            6100.0
Body              vagon
Mileage             130
EngineV             NaN
Engine Type      Diesel
Registration        yes
Year               2009
Model            Kangoo
Name: 1893, dtype: object)
(1894, Brand           Mercedes-Benz
Price                 21500.0
Body                    sedan
Mileage                   159
EngineV                   1.8
Engine Type               Gas
Registration              yes
Year                     2012
Model                 E-Class
Name: 1894, dtype: object)
(1895, Brand           Renault
Price            7600.0
Body                van
Mileage             183
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2006
Model            Trafic
Name: 1895, dtype: object)
(1896, Brand           Mercedes-Benz
Price                  1950.0
Body                    sedan
Mileage                     1
EngineV                   2.0
Engine Type            Diesel
Registration              yes
Year                     1979
Model                     200
Name: 1896, dtype: object)
(1897, Brand           Volkswagen
Price               9000.0
Body                 hatch
Mileage                120
EngineV                1.2
Engine Type         Diesel
Registration           yes
Year                  2012
Model                 Polo
Name: 1897, dtype: object)
(1898, Brand               BMW
Price           35500.0
Body              sedan
Mileage             235
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2010
Model               730
Name: 1898, dtype: object)
(1899, Brand           Mitsubishi
Price               5500.0
Body                 sedan
Mileage                165
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2006
Model               Lancer
Name: 1899, dtype: object)
(1900, Brand           Mercedes-Benz
Price                 32500.0
Body                crossover
Mileage                   168
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2009
Model                  GL 320
Name: 1900, dtype: object)
(1901, Brand               BMW
Price           18000.0
Body              sedan
Mileage             245
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2007
Model               523
Name: 1901, dtype: object)
(1902, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 1902, dtype: object)
(1903, Brand           Mercedes-Benz
Price                 18000.0
Body                      van
Mileage                   147
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2013
Model                    Vito
Name: 1903, dtype: object)
(1904, Brand           Renault
Price           10999.0
Body              vagon
Mileage             216
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Megane
Name: 1904, dtype: object)
(1905, Brand                Renault
Price                 7500.0
Body                     van
Mileage                  240
EngineV                 74.0
Engine Type           Diesel
Registration             yes
Year                    2005
Model           Grand Scenic
Name: 1905, dtype: object)
(1906, Brand           Mercedes-Benz
Price                 22700.0
Body                    sedan
Mileage                   140
EngineV                   5.0
Engine Type            Petrol
Registration              yes
Year                     2007
Model                   S 500
Name: 1906, dtype: object)
(1907, Brand            Toyota
Price           23500.0
Body              sedan
Mileage              75
EngineV             2.5
Engine Type         Gas
Registration        yes
Year               2011
Model             Camry
Name: 1907, dtype: object)
(1908, Brand           Mercedes-Benz
Price                 10000.0
Body                    other
Mileage                   275
EngineV                  2.15
Engine Type            Diesel
Registration              yes
Year                     2006
Model            Sprinter 313
Name: 1908, dtype: object)
(1909, Brand           Volkswagen
Price               7700.0
Body                   van
Mileage                157
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2006
Model                Caddy
Name: 1909, dtype: object)
(1910, Brand           Volkswagen
Price              10900.0
Body                   van
Mileage                185
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2009
Model                Caddy
Name: 1910, dtype: object)
(1911, Brand                 Audi
Price              12999.0
Body                 vagon
Mileage                225
EngineV                2.5
Engine Type         Diesel
Registration           yes
Year                  2004
Model           A6 Allroad
Name: 1911, dtype: object)
(1912, Brand                 BMW
Price             67500.0
Body            crossover
Mileage                 1
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X5
Name: 1912, dtype: object)
(1913, Brand                 Volkswagen
Price                     6800.0
Body                         van
Mileage                      325
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2001
Model           T4 (Transporter)
Name: 1913, dtype: object)
(1914, Brand           Mercedes-Benz
Price                137000.0
Body                crossover
Mileage                    82
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2014
Model                G 63 AMG
Name: 1914, dtype: object)
(1915, Brand           Mitsubishi
Price               4950.0
Body                 sedan
Mileage                256
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  1997
Model               Galant
Name: 1915, dtype: object)
(1916, Brand           Renault
Price            6999.0
Body              sedan
Mileage              65
EngineV             1.4
Engine Type      Petrol
Registration        yes
Year               2012
Model            Symbol
Name: 1916, dtype: object)
(1917, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     1
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 1917, dtype: object)
(1918, Brand           Volkswagen
Price              29800.0
Body                 hatch
Mileage                  0
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model             Golf VII
Name: 1918, dtype: object)
(1919, Brand           Mercedes-Benz
Price                 16500.0
Body                      van
Mileage                   386
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2006
Model            Sprinter 313
Name: 1919, dtype: object)
(1920, Brand              BMW
Price           6500.0
Body             sedan
Mileage            320
EngineV            3.0
Engine Type        Gas
Registration       yes
Year              2000
Model              530
Name: 1920, dtype: object)
(1921, Brand           Renault
Price            9999.0
Body              vagon
Mileage             100
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2010
Model            Kangoo
Name: 1921, dtype: object)
(1922, Brand           Volkswagen
Price               8500.0
Body                 vagon
Mileage                200
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2003
Model            Passat B5
Name: 1922, dtype: object)
(1923, Brand           Toyota
Price           5750.0
Body             hatch
Mileage            160
EngineV            1.0
Engine Type     Petrol
Registration       yes
Year              2006
Model            Yaris
Name: 1923, dtype: object)
(1924, Brand              BMW

Name: 2455, dtype: object)
(2456, Brand             Mitsubishi
Price                11500.0
Body               crossover
Mileage                  170
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2005
Model           Pajero Sport
Name: 2456, dtype: object)
(2457, Brand           Mercedes-Benz
Price                 38500.0
Body                    sedan
Mileage                   134
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2010
Model                   S 350
Name: 2457, dtype: object)
(2458, Brand           Mercedes-Benz
Price                  5500.0
Body                    other
Mileage                   250
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2002
Model                    Vito
Name: 2458, dtype: object)
(2459, Brand           Volkswagen
Price               9400.0
Body                   van
Mileage                124
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2008
Model                Caddy
Name: 2459, dtype: object)
(2460, Brand           Volkswagen
Price               8400.0
Body                   van
Mileage                143
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model                Caddy
Name: 2460, dtype: object)
(2461, Brand             Audi
Price           2650.0
Body             vagon
Mileage            268
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              2000
Model               A6
Name: 2461, dtype: object)
(2462, Brand            Toyota
Price           12000.0
Body              sedan
Mileage             133
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2008
Model             Camry
Name: 2462, dtype: object)
(2463, Brand           Mercedes-Benz
Price                  7500.0
Body                    sedan
Mileage                   187
EngineV                   2.0
Engine Type               Gas
Registration              yes
Year                     2001
Model                 C-Class
Name: 2463, dtype: object)
(2464, Brand           Volkswagen
Price              25900.0
Body                 hatch
Mileage                 35
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2015
Model             Golf VII
Name: 2464, dtype: object)
(2465, Brand           Volkswagen
Price               7500.0
Body                 sedan
Mileage                280
EngineV                1.8
Engine Type          Other
Registration           yes
Year                  2005
Model            Passat B5
Name: 2465, dtype: object)
(2466, Brand           Mercedes-Benz
Price                 35000.0
Body                    other
Mileage                   147
EngineV                   6.0
Engine Type            Petrol
Registration              yes
Year                     2001
Model                   S 600
Name: 2466, dtype: object)
(2467, Brand             Audi
Price           6200.0
Body             vagon
Mileage            316
EngineV            2.6
Engine Type        Gas
Registration       yes
Year              1997
Model               A6
Name: 2467, dtype: object)
(2468, Brand           Volkswagen
Price               1550.0
Body                 sedan
Mileage                161
EngineV                1.8
Engine Type         Petrol
Registration            no
Year                  1994
Model                Vento
Name: 2468, dtype: object)
(2469, Brand           Mercedes-Benz
Price                  6500.0
Body                      van
Mileage                   450
EngineV                   2.3
Engine Type            Diesel
Registration              yes
Year                     1996
Model                    Vito
Name: 2469, dtype: object)
(2470, Brand           Volkswagen
Price               8999.0
Body                 vagon
Mileage                161
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2008
Model            Passat B6
Name: 2470, dtype: object)
(2471, Brand           Mitsubishi
Price              21000.0
Body             crossover
Mileage                 29
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2014
Model                  ASX
Name: 2471, dtype: object)
(2472, Brand           Mercedes-Benz
Price                  8800.0
Body                    other
Mileage                   575
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2006
Model            Sprinter 313
Name: 2472, dtype: object)
(2473, Brand           Volkswagen
Price              13500.0
Body                 hatch
Mileage                 48
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2012
Model                 Polo
Name: 2473, dtype: object)
(2474, Brand           Toyota
Price           3300.0
Body               van
Mileage            345
EngineV            2.4
Engine Type     Diesel
Registration       yes
Year              1992
Model            Hiace
Name: 2474, dtype: object)
(2475, Brand           Mercedes-Benz
Price                  5990.0
Body                    sedan
Mileage                   400
EngineV                   2.0
Engine Type               Gas
Registration              yes
Year                     1998
Model                 E-Class
Name: 2475, dtype: object)
(2476, Brand           Mercedes-Benz
Price                 14800.0
Body                crossover
Mileage                   242
EngineV                   2.7
Engine Type            Diesel
Registration              yes
Year                     2005
Model                  ML 270
Name: 2476, dtype: object)
(2477, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     1
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                  GL 350
Name: 2477, dtype: object)
(2478, Brand           Mercedes-Benz
Price                 47000.0
Body                    sedan
Mileage                     0
EngineV                   1.6
Engine Type            Petrol
Registration              yes
Year                     2016
Model                 C-Class
Name: 2478, dtype: object)
(2479, Brand           Volkswagen
Price               7990.0
Body                 sedan
Mileage                180
EngineV                1.8
Engine Type            Gas
Registration           yes
Year                  2005
Model            Passat B5
Name: 2479, dtype: object)
(2480, Brand           Volkswagen
Price               8999.0
Body                 sedan
Mileage                120
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2007
Model            Passat B6
Name: 2480, dtype: object)
(2481, Brand           Volkswagen
Price              23999.0
Body                 sedan
Mileage                  0
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2016
Model                Jetta
Name: 2481, dtype: object)
(2482, Brand             Audi
Price           6500.0
Body             vagon
Mileage            421
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              1996
Model               A6
Name: 2482, dtype: object)
(2483, Brand            Toyota
Price           14000.0
Body              sedan
Mileage               1
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2008
Model           Avensis
Name: 2483, dtype: object)
(2484, Brand                Audi
Price             23500.0
Body            crossover
Mileage               116
EngineV               4.2
Engine Type        Petrol
Registration          yes
Year                 2008
Model                  Q7
Name: 2484, dtype: object)
(2485, Brand           Renault
Price            9500.0
Body              sedan
Mileage              89
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2012
Model           Fluence
Name: 2485, dtype: object)
(2486, Brand           Mercedes-Benz
Price                125000.0
Body                    sedan
Mileage                    18
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2015
Model                   S 350
Name: 2486, dtype: object)
(2487, Brand           Volkswagen
Price               9000.0
Body                   van
Mileage                181
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2011
Model                Caddy
Name: 2487, dtype: object)
(2488, Brand           Mitsubishi
Price               2300.0
Body                 sedan
Mileage                523
EngineV                1.8
Engine Type         Diesel
Registration           yes
Year                  1989
Model               Lancer
Name: 2488, dtype: object)
(2489, Brand           Volkswagen
Price              10650.0
Body                 sedan
Mileage                 65
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2013
Model                 Polo
Name: 2489, dtype: object)
(2490, Brand             Audi
Price           6399.0
Body             vagon
Mileage            230
EngineV            2.5
Engine Type     Diesel
Registration       yes
Year              1999
Model               A6
Name: 2490, dtype: object)
(2491, Brand           Mitsubishi
Price               7500.0
Body                 sedan
Mileage                140
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2007
Model             Lancer X
Name: 2491, dtype: object)
(2492, Brand           Volkswagen
Price               6450.0
Body                   van
Mileage                220
EngineV                NaN
Engine Type          Other
Registration           yes
Year                  2004
Model                Caddy
Name: 2492, dtype: object)
(2493, Brand           Volkswagen
Price              10200.0
Body                   van
Mileage                105
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2014
Model                Caddy
Name: 2493, dtype: object)
(2494, Brand           Mercedes-Benz
Price                  3300.0
Body                    sedan
Mileage                   200
EngineV                   2.7
Engine Type            Diesel
Registration               no
Year                     2000
Model                 E-Class
Name: 2494, dtype: object)
(2495, Brand           Mercedes-Benz
Price                  8300.0
Body                    sedan
Mileage                   175
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     2001
Model                 E-Class
Name: 2495, dtype: object)
(2496, Brand           Volkswagen
Price               7400.0
Body                   van
Mileage                168
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  2005
Model                Caddy
Name: 2496, dtype: object)
(2497, Brand              Toyota
Price             28600.0
Body            crossover
Mileage                66
EngineV               2.2
Engine Type        Diesel
Registration          yes
Year                 2013
Model               Rav 4
Name: 2497, dtype: object)
(2498, Brand             Audi
Price           2800.0
Body             sedan
Mileage            230
EngineV            2.8
Engine Type     Petrol
Registration       yes
Year              1997
Model               A8
Name: 2498, dtype: object)
(2499, Brand                 BMW
Price             38000.0
Body            crossover
Mileage               223
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2011
Model                 535
Name: 2499, dtype: object)
(2500, Brand            Toyota
Price           11000.0
Body              hatch
Mileage              74
EngineV             1.4
Engine Type       Other
Registration        yes
Year               2010
Model             Prius
Name: 2500, dtype: object)
(2501, Brand              Audi
Price           11800.0
Body              sedan
Mileage             240
EngineV             4.2
Engine Type         Gas
Registration        yes
Year               2001
Model                S8
Name: 2501, dtype: object)
(2502, Brand           Renault
Price            9500.0
Body                van
Mileage             275
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2008
Model            Trafic
Name: 2502, dtype: object)
(2503, Brand                 BMW
Price             23700.0
Body            crossover
Mileage               117
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2010
Model                  X1
Name: 2503, dtype: object)
(2504, Brand           Mercedes-Benz
Price                 35000.0
Body                    other
Mileage                   135
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2008
Model                  CL 550
Name: 2504, dtype: object)
(2505, Brand             Volkswagen
Price                11000.0
Body                   vagon
Mileage                  171
EngineV                  1.9
Engine Type           Diesel
Registration             yes
Year                    2009
Model           Golf Variant
Name: 2505, dtype: object)
(2506, Brand                 BMW
Price             25800.0
Body            crossover
Mileage               205
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2008
Model                  X5
Name: 2506, dtype: object)
(2507, Brand           Renault
Price           13200.0
Body                van
Mileage             230
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2009
Model            Trafic
Name: 2507, dtype: object)
(2508, Brand           Toyota
Price           4650.0
Body             hatch
Mileage            170
EngineV            1.0
Engine Type     Petrol
Registration       yes
Year              2002
Model            Yaris
Name: 2508, dtype: object)
(2509, Brand           Mercedes-Benz
Price                  8300.0
Body                      van
Mileage                   337
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2002
Model                    Vito
Name: 2509, dtype: object)
(2510, Brand             Mitsubishi
Price                18900.0
Body               crossover
Mileage                  106
EngineV                  3.8
Engine Type              Gas
Registration             yes
Year                    2007
Model           Pajero Wagon
Name: 2510, dtype: object)
(2511, Brand           Mitsubishi
Price              12750.0
Body                 sedan
Mileage                 59
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  2009
Model               Galant
Name: 2511, dtype: object)
(2512, Brand           Mercedes-Benz
Price                  3800.0
Body                    other
Mileage                   107
EngineV                   0.6
Engine Type            Petrol
Registration              yes
Year                     2000
Model                   Smart
Name: 2512, dtype: object)
(2513, Brand           Volkswagen
Price              11500.0
Body                 other
Mileage                189
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model                Caddy
Name: 2513, dtype: object)
(2514, Brand           Mercedes-Benz
Price                  4600.0
Body                      van
Mileage                   200
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2000
Model                    Vito
Name: 2514, dtype: object)
(2515, Brand              BMW
Price           1550.0
Body             sedan
Mileage            300
EngineV            NaN
Engine Type        Gas
Registration        no
Year              1994
Model              316
Name: 2515, dtype: object)
(2516, Brand           Renault
Price            7899.0
Body                van
Mileage             129
EngineV             1.5
Engine Type       Other
Registration        yes
Year               2014
Model            Kangoo
Name: 2516, dtype: object)
(2517, Brand           Mercedes-Benz
Price                 70999.0
Body                crossover
Mileage                     0
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 2517, dtype: object)
(2518, Brand           Toyota
Price           8800.0
Body             sedan
Mileage            300
EngineV            2.4
Engine Type     Petrol
Registration       yes
Year              2004
Model            Camry
Name: 2518, dtype: object)
(2519, Brand           Renault
Price            8250.0
Body              sedan
Mileage              16
EngineV             1.2
Engine Type      Petrol
Registration        yes
Year               2014
Model             Logan
Name: 2519, dtype: object)
(2520, Brand              Toyota
Price             21500.0
Body            crossover
Mileage                89
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2012
Model               Rav 4
Name: 2520, dtype: object)
(2521, Brand                     Toyota
Price                   195000.0
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 2521, dtype: object)
(2522, Brand           Renault
Price            2400.0
Body              hatch
Mileage               1
EngineV             2.0
Engine Type      Petrol
Registration         no
Year               2002
Model            Laguna
Name: 2522, dtype: object)
(2523, Brand                 Volkswagen
Price                    12500.0
Body                       other
Mileage                      160
EngineV                      2.5
Engine Type                Other
Registration                 yes
Year                        2006
Model           T5 (Transporter)
Name: 2523, dtype: object)
(2524, Brand           Mercedes-Benz
Price                  2499.0
Body                    hatch
Mileage                   201
EngineV                   1.7
Engine Type            Diesel
Registration               no
Year                     2001
Model                   A 170
Name: 2524, dtype: object)
(2525, Brand               BMW
Price           14990.0
Body              sedan
Mileage             135
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2005
Model               525
Name: 2525, dtype: object)
(2526, Brand            Audi
Price             NaN
Body            sedan
Mileage           166
EngineV           3.0
Engine Type       Gas
Registration      yes
Year             2005
Model              A6
Name: 2526, dtype: object)
(2527, Brand           Mitsubishi
Price               8260.0
Body                 sedan
Mileage                 65
EngineV                1.5
Engine Type         Petrol
Registration           yes
Year                  2011
Model               Lancer
Name: 2527, dtype: object)
(2528, Brand              BMW
Price           6800.0

(3098, Brand           Mercedes-Benz
Price                 23999.0
Body                    other
Mileage                   150
EngineV                   NaN
Engine Type            Diesel
Registration              yes
Year                     2010
Model                    Vito
Name: 3098, dtype: object)
(3099, Brand           Volkswagen
Price              13200.0
Body                   van
Mileage                150
EngineV                1.4
Engine Type            Gas
Registration           yes
Year                  2012
Model               Touran
Name: 3099, dtype: object)
(3100, Brand              Audi
Price           22500.0
Body              sedan
Mileage             124
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2008
Model                A8
Name: 3100, dtype: object)
(3101, Brand              BMW
Price           4000.0
Body             sedan
Mileage            230
EngineV            2.0
Engine Type     Diesel
Registration        no
Year              2003
Model              320
Name: 3101, dtype: object)
(3102, Brand           Mitsubishi
Price               9200.0
Body                 other
Mileage                  0
EngineV                NaN
Engine Type          Other
Registration           yes
Year                  2007
Model             Lancer X
Name: 3102, dtype: object)
(3103, Brand            Toyota
Price           11300.0
Body              sedan
Mileage             260
EngineV             3.5
Engine Type         Gas
Registration        yes
Year               2007
Model             Camry
Name: 3103, dtype: object)
(3104, Brand            Toyota
Price            9300.0
Body              sedan
Mileage             185
EngineV             1.6
Engine Type         Gas
Registration        yes
Year               2008
Model           Corolla
Name: 3104, dtype: object)
(3105, Brand             Mitsubishi
Price                20000.0
Body               crossover
Mileage                  135
EngineV                  2.5
Engine Type           Diesel
Registration             yes
Year                    2011
Model           Pajero Sport
Name: 3105, dtype: object)
(3106, Brand           Volkswagen
Price              17000.0
Body                 other
Mileage                184
EngineV                3.6
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 3106, dtype: object)
(3107, Brand                 BMW
Price             56500.0
Body            crossover
Mileage                45
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2014
Model                  X6
Name: 3107, dtype: object)
(3108, Brand              BMW
Price           8700.0
Body             sedan
Mileage            355
EngineV            3.0
Engine Type     Diesel
Registration       yes
Year              2000
Model              730
Name: 3108, dtype: object)
(3109, Brand              BMW
Price           4600.0
Body             sedan
Mileage            340
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              1995
Model              520
Name: 3109, dtype: object)
(3110, Brand              BMW
Price           5500.0
Body             sedan
Mileage            249
EngineV            NaN
Engine Type      Other
Registration       yes
Year              1995
Model              530
Name: 3110, dtype: object)
(3111, Brand           Mercedes-Benz
Price                 35000.0
Body                crossover
Mileage                   154
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model                  GL 320
Name: 3111, dtype: object)
(3112, Brand           Volkswagen
Price               6900.0
Body                 sedan
Mileage                256
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2002
Model            Passat B5
Name: 3112, dtype: object)
(3113, Brand           Volkswagen
Price               4200.0
Body                   van
Mileage                210
EngineV                2.0
Engine Type         Diesel
Registration            no
Year                  2004
Model               Touran
Name: 3113, dtype: object)
(3114, Brand           Renault
Price            5650.0
Body              hatch
Mileage             175
EngineV           99.99
Engine Type       Other
Registration        yes
Year               2002
Model            Laguna
Name: 3114, dtype: object)
(3115, Brand           Mitsubishi
Price              22500.0
Body                 other
Mileage                 57
EngineV                2.5
Engine Type          Other
Registration           yes
Year                  2013
Model                L 200
Name: 3115, dtype: object)
(3116, Brand           Volkswagen
Price               4500.0
Body                   van
Mileage                380
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2004
Model                Caddy
Name: 3116, dtype: object)
(3117, Brand           Volkswagen
Price               4800.0
Body                 hatch
Mileage                 90
EngineV                1.9
Engine Type         Diesel
Registration           yes
Year                  1992
Model             Golf III
Name: 3117, dtype: object)
(3118, Brand           Volkswagen
Price              10900.0
Body                 sedan
Mileage                136
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 3118, dtype: object)
(3119, Brand                 Volkswagen
Price                     9900.0
Body                       other
Mileage                      178
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2007
Model           T5 (Transporter)
Name: 3119, dtype: object)
(3120, Brand           Mercedes-Benz
Price                     NaN
Body                    other
Mileage                     0
EngineV                   4.7
Engine Type            Petrol
Registration              yes
Year                     2016
Model                   S 500
Name: 3120, dtype: object)
(3121, Brand           Mercedes-Benz
Price                 11900.0
Body                    sedan
Mileage                   110
EngineV                  2.57
Engine Type            Petrol
Registration              yes
Year                     2004
Model                 C-Class
Name: 3121, dtype: object)
(3122, Brand           Mercedes-Benz
Price                  5200.0
Body                    sedan
Mileage                   370
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1997
Model                 E-Class
Name: 3122, dtype: object)
(3123, Brand           Volkswagen
Price              17400.0
Body                 sedan
Mileage                 73
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2012
Model            Passat B7
Name: 3123, dtype: object)
(3124, Brand           Renault
Price            6799.0
Body                van
Mileage             140
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 3124, dtype: object)
(3125, Brand           Mitsubishi
Price                  NaN
Body                   van
Mileage                138
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  2007
Model              Grandis
Name: 3125, dtype: object)
(3126, Brand           Mercedes-Benz
Price                  2300.0
Body                    sedan
Mileage                   300
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1991
Model                 E-Class
Name: 3126, dtype: object)
(3127, Brand           Mercedes-Benz
Price                 32800.0
Body                crossover
Mileage                   109
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2011
Model                  ML 350
Name: 3127, dtype: object)
(3128, Brand           Volkswagen
Price               4999.0
Body                 sedan
Mileage                145
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2000
Model                Jetta
Name: 3128, dtype: object)
(3129, Brand           Volkswagen
Price              10900.0
Body                 vagon
Mileage                185
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2011
Model              Golf VI
Name: 3129, dtype: object)
(3130, Brand           Mercedes-Benz
Price                 34999.0
Body                    other
Mileage                    85
EngineV                   5.5
Engine Type            Petrol
Registration              yes
Year                     2008
Model               CL 55 AMG
Name: 3130, dtype: object)
(3131, Brand           Mercedes-Benz
Price                     NaN
Body                crossover
Mileage                     0
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model               GLE-Class
Name: 3131, dtype: object)
(3132, Brand           Volkswagen
Price               4100.0
Body                 hatch
Mileage                160
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2006
Model              Pointer
Name: 3132, dtype: object)
(3133, Brand           Toyota
Price           9000.0
Body             sedan
Mileage            232
EngineV            2.4
Engine Type     Petrol
Registration       yes
Year              2005
Model            Camry
Name: 3133, dtype: object)
(3134, Brand                       Toyota
Price                      18900.0
Body                     crossover
Mileage                        161
EngineV                        2.7
Engine Type                    Gas
Registration                   yes
Year                          2005
Model           Land Cruiser Prado
Name: 3134, dtype: object)
(3135, Brand           Volkswagen
Price              16500.0
Body                 sedan
Mileage                123
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2010
Model            Passat B6
Name: 3135, dtype: object)
(3136, Brand              Toyota
Price             14474.0
Body            crossover
Mileage               115
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2007
Model               Rav 4
Name: 3136, dtype: object)
(3137, Brand              BMW
Price           3999.0
Body             sedan
Mileage            250
EngineV            3.0
Engine Type     Diesel
Registration        no
Year              2000
Model              530
Name: 3137, dtype: object)
(3138, Brand             Audi
Price           5000.0
Body             sedan
Mileage            370
EngineV            2.3
Engine Type     Petrol
Registration       yes
Year              1991
Model              100
Name: 3138, dtype: object)
(3139, Brand           Toyota
Price           9200.0
Body             sedan
Mileage            250
EngineV            2.4
Engine Type        Gas
Registration       yes
Year              2003
Model            Camry
Name: 3139, dtype: object)
(3140, Brand                Renault
Price                    NaN
Body                     van
Mileage                  195
EngineV                  1.5
Engine Type           Diesel
Registration             yes
Year                    2013
Model           Grand Scenic
Name: 3140, dtype: object)
(3141, Brand           Volkswagen
Price               6000.0
Body                 vagon
Mileage                250
EngineV                5.0
Engine Type         Diesel
Registration           yes
Year                  1995
Model            Passat B4
Name: 3141, dtype: object)
(3142, Brand           Volkswagen
Price              13300.0
Body                 sedan
Mileage                133
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 3142, dtype: object)
(3143, Brand             Renault
Price            17639.47
Body            crossover
Mileage                 0
EngineV               1.2
Engine Type        Petrol
Registration          yes
Year                 2016
Model              Captur
Name: 3143, dtype: object)
(3144, Brand               BMW
Price           27500.0
Body              sedan
Mileage             100
EngineV             2.0
Engine Type      Petrol
Registration        yes
Year               2012
Model               520
Name: 3144, dtype: object)
(3145, Brand               BMW
Price           13200.0
Body              sedan
Mileage             150
EngineV             2.2
Engine Type      Petrol
Registration        yes
Year               2004
Model               520
Name: 3145, dtype: object)
(3146, Brand                Audi
Price             35500.0
Body            crossover
Mileage               130
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2010
Model                  Q7
Name: 3146, dtype: object)
(3147, Brand                     Toyota
Price                    41900.0
Body                   crossover
Mileage                       89
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2012
Model           Land Cruiser 200
Name: 3147, dtype: object)
(3148, Brand             Renault
Price             10500.0
Body            crossover
Mileage                93
EngineV               1.5
Engine Type        Diesel
Registration          yes
Year                 2011
Model              Duster
Name: 3148, dtype: object)
(3149, Brand           Mercedes-Benz
Price                  9999.0
Body                    sedan
Mileage                   250
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2000
Model                 E-Class
Name: 3149, dtype: object)
(3150, Brand           Mercedes-Benz
Price                 24800.0
Body                    other
Mileage                   160
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2007
Model                   S 320
Name: 3150, dtype: object)
(3151, Brand           Mercedes-Benz
Price                  3300.0
Body                    sedan
Mileage                   330
EngineV                   2.0
Engine Type               Gas
Registration              yes
Year                     1988
Model                     190
Name: 3151, dtype: object)
(3152, Brand           Mitsubishi
Price               6900.0
Body                 sedan
Mileage                122
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2008
Model               Lancer
Name: 3152, dtype: object)
(3153, Brand           Renault
Price            7300.0
Body                van
Mileage             212
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2009
Model            Kangoo
Name: 3153, dtype: object)
(3154, Brand           Renault
Price               NaN
Body                van
Mileage             192
EngineV           99.99
Engine Type      Diesel
Registration        yes
Year               2011
Model            Kangoo
Name: 3154, dtype: object)
(3155, Brand           Mitsubishi
Price              11500.0
Body             crossover
Mileage                142
EngineV                2.4
Engine Type         Petrol
Registration           yes
Year                  2006
Model            Outlander
Name: 3155, dtype: object)
(3156, Brand                       Toyota
Price                      36800.0
Body                     crossover
Mileage                         77
EngineV                        3.0
Engine Type                 Diesel
Registration                   yes
Year                          2012
Model           Land Cruiser Prado
Name: 3156, dtype: object)
(3157, Brand           Mercedes-Benz
Price                 19600.0
Body                      van
Mileage                   127
EngineV                   1.8
Engine Type            Diesel
Registration              yes
Year                     2013
Model                   B 180
Name: 3157, dtype: object)
(3158, Brand           Mitsubishi
Price               8300.0
Body             crossover
Mileage                161
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  2005
Model            Outlander
Name: 3158, dtype: object)
(3159, Brand           Mercedes-Benz
Price                 13200.0
Body                      van
Mileage                   260
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2008
Model            Sprinter 213
Name: 3159, dtype: object)
(3160, Brand           Mercedes-Benz
Price                 28900.0
Body                    other
Mileage                    78
EngineV                   3.5
Engine Type            Petrol
Registration              yes
Year                     2010
Model                 E-Class
Name: 3160, dtype: object)
(3161, Brand              BMW
Price           6900.0
Body             sedan
Mileage            280
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              2000
Model              320
Name: 3161, dtype: object)
(3162, Brand           Renault
Price            7600.0
Body              sedan
Mileage              97
EngineV             1.6
Engine Type      Petrol
Registration        yes
Year               2008
Model            Megane
Name: 3162, dtype: object)
(3163, Brand               BMW
Price           27500.0
Body              sedan
Mileage             170
EngineV             2.0
Engine Type      Diesel
Registration        yes
Year               2011
Model               520
Name: 3163, dtype: object)
(3164, Brand           Mercedes-Benz
Price                295000.0
Body                    sedan
Mileage                    29
EngineV                   6.0
Engine Type            Petrol
Registration              yes
Year                     2011
Model                 S-Guard
Name: 3164, dtype: object)
(3165, Brand               BMW
Price           30000.0
Body              sedan
Mileage              78
EngineV             3.8
Engine Type      Petrol
Registration        yes
Year               1993
Model                M5
Name: 3165, dtype: object)
(3166, Brand           Volkswagen
Price               7700.0
Body                 sedan
Mileage                180
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2004
Model            Passat B5
Name: 3166, dtype: object)
(3167, Brand           Mercedes-Benz
Price                135555.0
Body                    sedan
Mileage                    54
EngineV                  4.66
Engine Type            Petrol
Registration              yes
Year                     2015
Model                   S 500
Name: 3167, dtype: object)
(3168, Brand           Mercedes-Benz
Price                 11300.0
Body                    other
Mileage                   220
EngineV                   3.2
Engine Type            Diesel
Registration              yes
Year                     2003
Model                 E-Class
Name: 3168, dtype: object)
(3169, Brand            Toyota
Price           12200.0
Body              sedan
Mileage             157
EngineV             2.4
Engine Type         Gas
Registration        yes
Year               2009
Model             Camry
Name: 3169, dtype: object)

(3738, Brand                     Toyota
Price                    14900.0
Body                   crossover
Mileage                      288
EngineV                      4.7
Engine Type                  Gas
Registration                 yes
Year                        2000
Model           Land Cruiser 100
Name: 3738, dtype: object)
(3739, Brand           Mercedes-Benz
Price                  1990.0
Body                    hatch
Mileage                   230
EngineV                   1.7
Engine Type             Other
Registration               no
Year                     2001
Model                   A 170
Name: 3739, dtype: object)
(3740, Brand           Mitsubishi
Price               9800.0
Body                 sedan
Mileage                148
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  2008
Model             Lancer X
Name: 3740, dtype: object)
(3741, Brand              BMW
Price           2200.0
Body             sedan
Mileage            460
EngineV            2.4
Engine Type     Diesel
Registration       yes
Year              1988
Model              324
Name: 3741, dtype: object)
(3742, Brand           Mercedes-Benz
Price                  8700.0
Body                    sedan
Mileage                   290
EngineV                   2.7
Engine Type            Diesel
Registration              yes
Year                     1999
Model                 E-Class
Name: 3742, dtype: object)
(3743, Brand           Renault
Price            3450.0
Body                van
Mileage             196
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2001
Model            Kangoo
Name: 3743, dtype: object)
(3744, Brand           Mercedes-Benz
Price                 22000.0
Body                      van
Mileage                   236
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2012
Model            Sprinter 313
Name: 3744, dtype: object)
(3745, Brand           Mercedes-Benz
Price                  6500.0
Body                    other
Mileage                   315
EngineV                   2.0
Engine Type            Petrol
Registration              yes
Year                     1996
Model                 E-Class
Name: 3745, dtype: object)
(3746, Brand             Mitsubishi
Price                12999.0
Body               crossover
Mileage                  111
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2008
Model           Outlander XL
Name: 3746, dtype: object)
(3747, Brand           Volkswagen
Price              21500.0
Body                 sedan
Mileage                  2
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2016
Model                Jetta
Name: 3747, dtype: object)
(3748, Brand              BMW
Price           2750.0
Body             vagon
Mileage            254
EngineV            2.8
Engine Type        Gas
Registration        no
Year              1997
Model              528
Name: 3748, dtype: object)
(3749, Brand             Mitsubishi
Price                23000.0
Body               crossover
Mileage                  125
EngineV                  3.0
Engine Type              Gas
Registration             yes
Year                    2008
Model           Pajero Wagon
Name: 3749, dtype: object)
(3750, Brand                  Volkswagen
Price                         NaN
Body                          van
Mileage                       165
EngineV                       2.0
Engine Type                Diesel
Registration                  yes
Year                         2013
Model           T5 (Transporter)
Name: 3750, dtype: object)
(3751, Brand              BMW
Price           8200.0
Body             sedan
Mileage            368
EngineV            3.0
Engine Type     Diesel
Registration       yes
Year              2000
Model              730
Name: 3751, dtype: object)
(3752, Brand                 BMW
Price             32900.0
Body            crossover
Mileage                90
EngineV               3.0
Engine Type        Petrol
Registration          yes
Year                 2008
Model                  X6
Name: 3752, dtype: object)
(3753, Brand           Mercedes-Benz
Price                 13600.0
Body                    sedan
Mileage                   115
EngineV                   NaN
Engine Type            Petrol
Registration              yes
Year                     2007
Model                 C-Class
Name: 3753, dtype: object)
(3754, Brand            Toyota
Price           22000.0
Body              sedan
Mileage              73
EngineV             3.5
Engine Type      Petrol
Registration        yes
Year               2010
Model             Camry
Name: 3754, dtype: object)
(3755, Brand           Mitsubishi
Price               2800.0
Body                 other
Mileage                290
EngineV                2.0
Engine Type         Petrol
Registration           yes
Year                  1990
Model               Galant
Name: 3755, dtype: object)
(3756, Brand           Mercedes-Benz
Price                 12999.0
Body                      van
Mileage                   130
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2012
Model                    Vito
Name: 3756, dtype: object)
(3757, Brand            Toyota
Price           32000.0
Body              sedan
Mileage              22
EngineV             2.5
Engine Type      Petrol
Registration        yes
Year               2015
Model             Camry
Name: 3757, dtype: object)
(3758, Brand                     Toyota
Price                    99999.0
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Petrol
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 3758, dtype: object)
(3759, Brand           Renault
Price            6950.0
Body                van
Mileage             310
EngineV             2.5
Engine Type      Diesel
Registration        yes
Year               2005
Model            Master
Name: 3759, dtype: object)
(3760, Brand           Renault
Price           10500.0
Body              hatch
Mileage             148
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Megane
Name: 3760, dtype: object)
(3761, Brand              BMW
Price           6899.0
Body             vagon
Mileage            320
EngineV            2.8
Engine Type        Gas
Registration       yes
Year              1997
Model              528
Name: 3761, dtype: object)
(3762, Brand           Mercedes-Benz
Price                  6200.0
Body                    sedan
Mileage                   450
EngineV                   4.2
Engine Type               Gas
Registration              yes
Year                     1997
Model                   S 420
Name: 3762, dtype: object)
(3763, Brand                     Toyota
Price                    65000.0
Body                       other
Mileage                       60
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2013
Model           Land Cruiser 200
Name: 3763, dtype: object)
(3764, Brand           Mercedes-Benz
Price                 13900.0
Body                    other
Mileage                   272
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2005
Model            Sprinter 313
Name: 3764, dtype: object)
(3765, Brand           Renault
Price            5800.0
Body                van
Mileage             217
EngineV             2.0
Engine Type         Gas
Registration        yes
Year               2003
Model            Scenic
Name: 3765, dtype: object)
(3766, Brand               BMW
Price           28700.0
Body              other
Mileage             160
EngineV             3.0
Engine Type      Petrol
Registration        yes
Year               2011
Model               528
Name: 3766, dtype: object)
(3767, Brand                 BMW
Price             16700.0
Body            crossover
Mileage               260
EngineV               4.4
Engine Type        Petrol
Registration          yes
Year                 2003
Model                  X5
Name: 3767, dtype: object)
(3768, Brand           Volkswagen
Price              18500.0
Body                 sedan
Mileage                217
EngineV                3.0
Engine Type         Diesel
Registration           yes
Year                  2006
Model              Phaeton
Name: 3768, dtype: object)
(3769, Brand           Renault
Price            3999.0
Body              other
Mileage             227
EngineV             1.4
Engine Type         Gas
Registration        yes
Year               2005
Model            Kangoo
Name: 3769, dtype: object)
(3770, Brand           Renault
Price            8800.0
Body                van
Mileage             200
EngineV             1.9
Engine Type      Diesel
Registration        yes
Year               2005
Model            Trafic
Name: 3770, dtype: object)
(3771, Brand           Mercedes-Benz
Price                 14500.0
Body                      van
Mileage                   205
EngineV                   2.2
Engine Type            Diesel
Registration              yes
Year                     2012
Model            Sprinter 313
Name: 3771, dtype: object)
(3772, Brand              BMW
Price           8900.0
Body             sedan
Mileage            240
EngineV            2.0
Engine Type     Diesel
Registration       yes
Year              2001
Model              320
Name: 3772, dtype: object)
(3773, Brand                 Volkswagen
Price                     1300.0
Body                       other
Mileage                       10
EngineV                      1.6
Engine Type               Diesel
Registration                 yes
Year                        1984
Model           T2 (Transporter)
Name: 3773, dtype: object)
(3774, Brand                 BMW
Price                 NaN
Body            crossover
Mileage                36
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2013
Model                  X5
Name: 3774, dtype: object)
(3775, Brand           Renault
Price            8550.0
Body                van
Mileage             160
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2014
Model            Kangoo
Name: 3775, dtype: object)
(3776, Brand           Mercedes-Benz
Price                 10900.0
Body                    sedan
Mileage                   160
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     1996
Model                   S 140
Name: 3776, dtype: object)
(3777, Brand                 BMW
Price             48535.5
Body            crossover
Mileage                 0
EngineV               2.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X3
Name: 3777, dtype: object)
(3778, Brand                 BMW
Price             25000.0
Body            crossover
Mileage               130
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2012
Model                  X5
Name: 3778, dtype: object)
(3779, Brand                 BMW
Price                 NaN
Body            crossover
Mileage                 1
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2016
Model                  X6
Name: 3779, dtype: object)
(3780, Brand           Mitsubishi
Price               7000.0
Body                 sedan
Mileage                 99
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2005
Model               Lancer
Name: 3780, dtype: object)
(3781, Brand              BMW
Price           5500.0
Body             sedan
Mileage            402
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1988
Model              520
Name: 3781, dtype: object)
(3782, Brand           Mercedes-Benz
Price                  2800.0
Body                    other
Mileage                   220
EngineV                   2.3
Engine Type            Petrol
Registration               no
Year                     2000
Model                 CLK 230
Name: 3782, dtype: object)
(3783, Brand           Mercedes-Benz
Price                 86000.0
Body                crossover
Mileage                     3
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2016
Model                 GLS 350
Name: 3783, dtype: object)
(3784, Brand           Volkswagen
Price               9555.0
Body                   van
Mileage                152
EngineV                1.6
Engine Type         Diesel
Registration           yes
Year                  2012
Model                Caddy
Name: 3784, dtype: object)
(3785, Brand           Renault
Price            7200.0
Body                van
Mileage               1
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 3785, dtype: object)
(3786, Brand           Mercedes-Benz
Price                  7700.0
Body                      van
Mileage                   300
EngineV                   2.2
Engine Type             Other
Registration              yes
Year                     2004
Model                    Vito
Name: 3786, dtype: object)
(3787, Brand                 BMW
Price             75000.0
Body            crossover
Mileage                20
EngineV               3.0
Engine Type        Diesel
Registration          yes
Year                 2014
Model                  X5
Name: 3787, dtype: object)
(3788, Brand           Volkswagen
Price               8650.0
Body                 hatch
Mileage                150
EngineV                1.4
Engine Type         Petrol
Registration           yes
Year                  2008
Model               Golf V
Name: 3788, dtype: object)
(3789, Brand            Toyota
Price           10700.0
Body              sedan
Mileage             109
EngineV             1.8
Engine Type      Petrol
Registration        yes
Year               2007
Model           Avensis
Name: 3789, dtype: object)
(3790, Brand                 Volkswagen
Price                     6300.0
Body                         van
Mileage                        1
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2000
Model           T4 (Transporter)
Name: 3790, dtype: object)
(3791, Brand            Toyota
Price           13900.0
Body              sedan
Mileage             102
EngineV             3.5
Engine Type         Gas
Registration        yes
Year               2008
Model             Camry
Name: 3791, dtype: object)
(3792, Brand             Audi
Price           3150.0
Body             vagon
Mileage            310
EngineV            2.5
Engine Type     Diesel
Registration        no
Year              1999
Model               A6
Name: 3792, dtype: object)
(3793, Brand                 Volkswagen
Price                     7500.0
Body                       other
Mileage                      360
EngineV                      2.5
Engine Type               Diesel
Registration                 yes
Year                        2001
Model           T4 (Transporter)
Name: 3793, dtype: object)
(3794, Brand           Volkswagen
Price               6550.0
Body                 sedan
Mileage                150
EngineV                1.6
Engine Type         Petrol
Registration           yes
Year                  2001
Model                 Bora
Name: 3794, dtype: object)
(3795, Brand              BMW
Price           7100.0
Body             sedan
Mileage            313
EngineV            2.0
Engine Type        Gas
Registration       yes
Year              1997
Model              520
Name: 3795, dtype: object)
(3796, Brand           Volkswagen
Price               3700.0
Body                 sedan
Mileage                370
EngineV                2.0
Engine Type            Gas
Registration           yes
Year                  1992
Model            Passat B3
Name: 3796, dtype: object)
(3797, Brand            Toyota
Price           20999.0
Body              sedan
Mileage              77
EngineV             2.5
Engine Type         Gas
Registration        yes
Year               2012
Model             Camry
Name: 3797, dtype: object)
(3798, Brand           Renault
Price            6750.0
Body              vagon
Mileage               1
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2004
Model            Scenic
Name: 3798, dtype: object)
(3799, Brand           Mercedes-Benz
Price                  8400.0
Body                    other
Mileage                   457
EngineV                   5.0
Engine Type               Gas
Registration              yes
Year                     1996
Model                   S 140
Name: 3799, dtype: object)
(3800, Brand                     Toyota
Price                   103999.0
Body                   crossover
Mileage                        0
EngineV                      4.5
Engine Type               Diesel
Registration                 yes
Year                        2016
Model           Land Cruiser 200
Name: 3800, dtype: object)
(3801, Brand           Mercedes-Benz
Price                  5200.0
Body                    sedan
Mileage                   432
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     1992
Model                 E-Class
Name: 3801, dtype: object)
(3802, Brand               BMW
Price           51000.0
Body              sedan
Mileage              97
EngineV             3.0
Engine Type      Diesel
Registration        yes
Year               2011
Model               730
Name: 3802, dtype: object)
(3803, Brand              Toyota
Price             27400.0
Body            crossover
Mileage                52
EngineV               3.5
Engine Type           Gas
Registration          yes
Year                 2012
Model               Venza
Name: 3803, dtype: object)
(3804, Brand              Toyota
Price             12500.0
Body            crossover
Mileage               201
EngineV               2.0
Engine Type        Petrol
Registration          yes
Year                 2006
Model               Rav 4
Name: 3804, dtype: object)
(3805, Brand           Mercedes-Benz
Price                 24800.0
Body                    vagon
Mileage                   118
EngineV                   3.0
Engine Type            Diesel
Registration              yes
Year                     2010
Model                 E-Class
Name: 3805, dtype: object)
(3806, Brand           Volkswagen
Price              10600.0
Body                 sedan
Mileage                118
EngineV                1.8
Engine Type         Petrol
Registration           yes
Year                  2008
Model            Passat B6
Name: 3806, dtype: object)
(3807, Brand           Mitsubishi
Price               8900.0
Body                 other
Mileage                150
EngineV                3.0
Engine Type         Petrol
Registration           yes
Year                  2000
Model              Eclipse
Name: 3807, dtype: object)
(3808, Brand           Renault
Price            7200.0
Body                van
Mileage             101
EngineV             1.5
Engine Type      Diesel
Registration        yes
Year               2012
Model            Kangoo
Name: 3808, dtype: object)
(3809, Brand               BMW
Price           10000.0
Body              sedan
Mileage             274
EngineV             4.4
Engine Type         Gas
Registration        yes
Year               1998
Model               540
Name: 3809, dtype: object)

3. Get specific column values 

When we do this, we'll get specific column value for each row

In [41]:
cars['Model']

0                     320
1            Sprinter 212
2                   S 500
3                      Q7
4                   Rav 4
              ...
4340                S 350
4341                  535
4342                  520
4343              Corolla
4344    T5 (Transporter)
Name: Model, Length: 4345, dtype: object

4. Get specific row based on index

we'll use index number to get specific row

In [40]:
cars.iloc[0]

Brand              BMW
Price           4200.0
Body             sedan
Mileage            277
EngineV            2.0
Engine Type     Petrol
Registration       yes
Year              1991
Model              320
Name: 0, dtype: object

4. Get specific column value in specific row

4.1  based on index and column name
we'll use index number to get specific row, and Column name to get value

In [45]:
cars.iloc[1]["Year"]

1999

4.1  based on index for row,column
we'll use index number to get specific row, and index of Column

In [46]:
cars.iloc[1,3]

427

### Querying data

1. Querying based on Column values

In [55]:
modern = cars[cars['Year'] > 2012]

In [56]:
modern

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63
18,Toyota,26500.0,crossover,21,2.0,Petrol,yes,2013,Rav 4
20,Toyota,38233.0,other,0,2.4,Diesel,yes,2016,Hilux
29,Mercedes-Benz,NaN,crossover,0,4.6,Petrol,yes,2016,GLS 500
37,BMW,67500.0,crossover,1,2.5,Diesel,yes,2016,X5
...,...,...,...,...,...,...,...,...,...
4335,BMW,27900.0,sedan,38,2.0,Petrol,yes,2013,320
4339,Toyota,17900.0,sedan,35,1.6,Petrol,yes,2014,Corolla
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

2. Adding Multiple Queries based on Column values

In [81]:
modern_petrol = cars[(cars['Year'] > 2012) & (cars['Engine Type'] == 'Petrol')]
modern_petrol

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63,2
18,Toyota,26500.0,crossover,21,2.0,Petrol,yes,2013,Rav 4,2
29,Mercedes-Benz,NaN,crossover,0,4.6,Petrol,yes,2016,GLS 500,2
38,Audi,33900.0,other,14,1.8,Petrol,yes,2014,TT,2
62,BMW,133000.0,crossover,7,4.4,Petrol,yes,2015,X5 M,2
...,...,...,...,...,...,...,...,...,...,...
4315,Volkswagen,15500.0,sedan,80,1.4,Petrol,yes,2013,Jetta,2
4326,Mercedes-Benz,24950.0,other,60,1.8,Petrol,yes,2013,C-Class,2
4335,BMW,27900.0,sedan,38,2.0,Petrol,yes,2013,320,2
4339,Toyota,17900.0,sedan,35,1.6,Petrol,yes,2014,Corolla,2
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla,2

3. Using Data type methods

In [84]:
cars[cars['Brand'].str.startswith('B')]

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320,2
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320,2
16,BMW,2990.0,other,203,2.0,Petrol,no,2001,318,2
31,BMW,21500.0,other,72,3.0,Petrol,yes,2007,Z4,2
33,BMW,28500.0,crossover,160,4.8,Gas,yes,2008,X5,2
...,...,...,...,...,...,...,...,...,...,...
4331,BMW,45000.0,crossover,80,3.0,Petrol,yes,2011,X6,2
4334,BMW,12090.0,hatch,145,1.6,Petrol,yes,2010,116,2
4335,BMW,27900.0,sedan,38,2.0,Petrol,yes,2013,320,2
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535,2
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520,2

### Modifying dataFrame


1. Adding new column

In [71]:
cars['fuel_tank'] = '2'
cars

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320,2
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212,2
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500,2
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7,2
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4,2
...,...,...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350,2
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535,2
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520,2
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla,2
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter),2

2. Adding new column based on existing column

In [66]:
cars['mpl'] = cars['Mileage']/cars['fuel_tank']
cars

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,fuel_tank,mpl
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320,34,8.147059
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212,34,12.558824
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500,34,10.529412
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7,34,7.058824
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4,34,3.529412
...,...,...,...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350,34,0.264706
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535,34,0.029412
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520,34,5.705882
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla,34,0.911765
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter),34,3.647059

2. Remove existing column

In [13]:
cars.drop(['Registration'],axis=1)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,2011,Rav 4
...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,2014,S 350
4341,BMW,6500.0,sedan,1,3.5,Petrol,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,1985,520
4343,Toyota,14200.0,sedan,31,NaN,Petrol,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,2013,T5 (Transporter)

In [68]:
cars.iloc[756]

Brand           Volkswagen
Price               6500.0
Body                 vagon
Mileage                101
EngineV                2.0
Engine Type         Diesel
Registration           yes
Year                  2011
Model            Passat B6
fuel_tank               34
mpl               2.970588
Name: 756, dtype: object