# Pandas

Pandas is used for tasks involving data manipulation ,analysis, cleaning, etc. It uses various types of files such as csv, xls, JSON ,etc. 

You can think of pandas as an advancement to excel, ofcourse excel in itself is quite interesting, capable and strong. But pandas provides easier way to deal with large datasets if you know python

In [2]:
# Import pandas
import pandas as pd

## Dataframes vs Series 

`Dataframe` is 2 dimensional , size-mutable tabular data e.g. a CSV with header and then data in it.

`Series` is 1 dimensional array which can host data of any data type

In [ ]:
ser = pd.Series([1,2,3,'a',{'blah','cat'}, True])
ser

In [ ]:
frame = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])

In [ ]:
frame

In [ ]:
frame_from_dictionary = pd.DataFrame({
    'name':['puffy','zazzy','rio','zen','top','cream','wiggle'],
    'type':['dog','cat','bird','dog','cat','bird','snail'],
    'age':[4,5,1,3,4,5,2]
})
frame_from_dictionary

In [ ]:
frame_from_dictionary.to_csv('../data/pet.csv')
frame_from_dictionary

In [ ]:
frame_from_dictionary.to_csv('../data/pet.csv',index=False)
frame_from_dictionary

In [ ]:
frame_from_dictionary.head()

In [ ]:
frame_from_dictionary.head(2)

In [ ]:
frame_from_dictionary.tail()

### Loading CSV data

download csv from here https://www.kaggle.com/smritisingh1997/car-salescsv

In [ ]:
cars = pd.read_csv('../data/car_sales.csv')
cars

In [ ]:
cars.head(6)

### Getting Higher level information about dataframe

In [ ]:
cars.describe()

In [ ]:
cars.info()

In [ ]:
cars.groupby(['Brand']).count()

In [ ]:
cars['dummy'] = 1
cars.groupby(['Brand']).count()['dummy']

In [ ]:
cars.sort_values(by='Brand')

In [ ]:
cars.groupby(['Brand', 'Body']).count()

In [ ]:
cars.sort_values(by='Mileage', ascending=False)

### Access data
1. Get all headers

In [ ]:
cars.columns

2. Get each row in loop

When we do this, we'll get each row as a tuple

In [ ]:
for index,row in cars.iterrows():
    print('index number -' + str(index))
    print(row)

In [ ]:
for row in cars.iterrows():
    print(row)

3. Get specific column values 

When we do this, we'll get specific column value for each row

In [ ]:
cars['Model']

4. Get specific row based on index

we'll use index number to get specific row

In [ ]:
cars.iloc[0]

4. Get specific column value in specific row

4.1  based on index and column name
we'll use index number to get specific row, and Column name to get value

In [ ]:
cars.iloc[1]["Year"]

4.1  based on index for row,column
we'll use index number to get specific row, and index of Column

In [ ]:
cars.iloc[1,3]

### Querying data

1. Querying based on Column values

In [ ]:
modern = cars[cars['Year'] > 2012]

In [ ]:
modern

2. Adding Multiple Queries based on Column values

In [ ]:
modern_petrol = cars[(cars['Year'] > 2012) & (cars['Engine Type'] == 'Petrol')]
modern_petrol

3. Using Data type methods

In [ ]:
cars[cars['Brand'].str.startswith('B')]

### Modifying dataFrame


1. Adding new column

In [ ]:
cars['fuel_tank'] = '2'
cars

2. Adding new column based on existing column

In [ ]:
cars['mpl'] = cars['Mileage']/cars['fuel_tank']
cars

2. Remove existing column

In [ ]:
cars.drop(['Registration'],axis=1)