## Spatial Database

Spatial database are the database which holds and understand the geometry information. These databases can perform geometric queries such as Buffer, point in polygon, etc. 


PostGIS is an extenstion to the PostgreSQL for handling geospatial data

Spatialite is an extenstion to the SQLite for handling geospatial data


### PostGIS 

PostGIS hanldes geospatial data in PostgreSQL. PostGIS has indexes, Function, Operators, etc. 

For mac, windows , download PostGIS using stackbuilder https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
For Ubuntu checkout the official webpage of postgis https://postgis.net/install/


Once downloaded and installed, we can activate it by running follwing query
`create exension postgis` , this will create new table in the database as `spatialref_ref_sys`. This will enable us to create column with type as `Geometry`

example of creating new table

<pre><code>CREATE TABLE IF NOT EXISTS public.coffee<br/>(<br/>&nbsp;&nbsp;name character varying(100)<br/>&nbsp;&nbsp;rating integer,<br/>&nbsp;&nbsp;address character varying(1000),<br/>&nbsp;&nbsp;location geometry<br/>);<br/></code></pre>

example of adding new feature

<pre><code>INSERT INTO public.coffee( name, rating, address, location)<br/>&nbsp;&nbsp;VALUES ('cafe moon', 5, 'Nashik', ST_GeomFromText('POINT(71 20)'));<br/></code></pre>


Some Spatial functions in PostGIS :

1. ST_DWithin - Returns true if the geometries are within a given distance

https://postgis.net/docs/ST_DWithin.html

2. ST_Intersects - Returns true if the geometries intersect with each other

https://postgis.net/docs/ST_Intersects.html

3. ST_AsGeoJSON - Creates GeoJSON from feature

https://postgis.net/docs/ST_AsGeoJSON.html


### SQLAlchemy

SQLAlchemy is an ORM for python

In [11]:

from sqlalchemy import *

<b>Making connection with database</b> -

using `create_engine` database connection is established. Generally JDBC url is used

engine_name = create_engine('dialect+driver://username:password@host:port/database_name')

In [12]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/files')

Getting all schemas in database

In [13]:
#creating inspect element
inspector = inspect(engine)

#getting schema names
schemas = inspector.get_schema_names()

schemas

['fun', 'information_schema', 'public']

Printing all table names

In [14]:
tables = inspector.get_table_names(schema='fun')
tables

['pokemon', 'poke_centers', 'person', 'profile']

Printing all column names for table

In [21]:
columns = inspector.get_columns('pokemon', schema='fun')
columns

[{'name': 'name',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'rank',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'type',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

<b>Creating non gis table </b>

SQLAlchemy supports following data types
- BigInteger
- Boolean
- Date
- DateTime
- Float
- Integer
- Numeric
- SmallInteger
- String
- Text
- Time

We'll be translating 

`CREATE TABLE person (id INTEGER NOT NULL, name VARCHAR,email VARCHAR, PRIMARY KEY (id) )` into SQLALchemy statement

In [47]:
metadata_obj = MetaData()
user = Table('person', metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('name', String(16), nullable=False),
    Column('email_address', String(60), key='email'),
             schema='fun'
)

user_profile = Table('profile', metadata_obj,
    Column('profile_id', Integer, primary_key=True),
    Column('user_id', Integer, ForeignKey("person.id"), nullable=False),
    Column('company', String(40), nullable=False),
    Column('rating', Integer),
                     schema='fun'
)
metadata_obj.create_all(engine)

In [48]:
inspector = inspect(engine)
tables = inspector.get_table_names(schema='fun')
tables

['pokemon', 'person', 'profile']

### CRUD operation using sqlalchemy

CREATE - Adding data to the database

In [95]:
peeps = insert(user).values(name='patrik', email="patrik@crabsrestro.com")
with engine.connect() as conn:
    result = conn.execute(peeps)
    print(result.inserted_primary_key)

(4,)

In [63]:
profile = insert(user_profile).values(user_id=3,company='crabs restro', rating=4)
with engine.connect() as conn:
    result = conn.execute(profile)
    print(result.inserted_primary_key)

#User_id must be valid otherwise it will throw error

(3,)

Insert data into existing table

In [97]:
pokemon = Table('pokemon',metadata_obj, autoload=True,autoload_with=engine, schema='fun')
peeps = insert(pokemon).values(name='Ivysaur', rank=2, type='poison')
with engine.connect() as conn:
    result = conn.execute(peeps)

Insert multiple entries in one go

In [116]:
with engine.connect() as conn:
    result = conn.execute(
             insert(pokemon),
             [
                 {"name": "Squirtle", "rank":7,"type":"water"},
                {"name": "Metapod", "rank":11,"type":"bug"},
                  {"name": "Charmander", "rank":5,"type":"fire"},
             ]
    )

[(), (), ()]

Select data from table

In [88]:
all_pokemon = select(pokemon)

In [119]:
with engine.connect() as conn:
    result = conn.execute(all_pokemon)
    for res in result:
        print(res)

('Bulbasaur', 1, 'poison')

all_users = select(user)
with engine.connect() as conn:
    result = conn.execute(all_users)
    for res in result:
        print(res)

Select data using `WHERE`

In [94]:
all_electric_pokemon = select(pokemon).where(pokemon.c.type == 'electric')
with engine.connect() as conn:
    result = conn.execute(all_electric_pokemon)
    for res in result:
        print(res)

('pika', 4, 'electric')

Ordering Result

In [99]:
all_pokemon = select(pokemon).order_by(pokemon.c.rank)
with engine.connect() as conn:
    result = conn.execute(all_pokemon)
    for res in result:
        print(res)

('Bulbasaur', 1, 'poison')
('Ivysaur', 2, 'poison')
('pika', 4, 'electric')

`AND` query

In [101]:
all_electric_pokemon = select(pokemon).where(and_(pokemon.c.type == 'poison',pokemon.c.rank == 1))
with engine.connect() as conn:
    result = conn.execute(all_electric_pokemon)
    for res in result:
        print(res)

('Bulbasaur', 1, 'poison')

`OR` query

In [113]:
all_electric_pokemon = select(pokemon).where(or_(pokemon.c.type == 'poison',pokemon.c.rank == 4))
with engine.connect() as conn:
    result = conn.execute(all_electric_pokemon)
    for res in result:
        print(res)

('Bulbasaur', 1, 'poison')
('pikachu', 4, 'electric')

Update existing data

In [111]:
name_update = update(pokemon).where(pokemon.c.name == 'pika').values(name='pikachu')
with engine.connect() as conn:
    result = conn.execute(name_update)

Delete records

In [118]:
remove_Ivysaur = delete(pokemon).where(pokemon.c.rank > 3)
with engine.connect() as conn:
    result = conn.execute(remove_Ivysaur)

## Geoalchemy

In [1]:
from geoalchemy2 import *

In [20]:
metadata_obj = MetaData()

pokemon_centers = Table('pokemon_centers', metadata_obj,
     Column('id', Integer, primary_key=True),
     Column('name', String),
   Column('geom', Geometry('POINT')),
schema='fun'
)
metadata_obj.create_all(engine)

In [22]:
inspector = inspect(engine)

tables = inspector.get_table_names(schema='fun')
tables

['pokemon', 'poke_centers', 'person', 'profile', 'pokemon_centers']

In [23]:
columns = inspector.get_columns('pokemon_centers', schema='fun')
columns

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': "nextval('fun.pokemon_centers_id_seq'::regclass)",
  'autoincrement': True,
  'comment': None},
 {'name': 'name',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'geom',
  'type': Geometry(geometry_type='POINT', from_text='ST_GeomFromEWKT', name='geometry'),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

Inserting data

In [24]:
ins = pokemon_centers.insert()
str(ins)

'INSERT INTO fun.pokemon_centers (id, name, geom) VALUES (:id, :name, ST_GeomFromEWKT(:geom))'

In [74]:
new_pokemon_center = insert(pokemon_centers).values(name='ash City', geom="POINT(0.5 0.5)")
with engine.connect() as conn:
    result = conn.execute(new_pokemon_center)
    print(result.inserted_primary_key)

(8,)

Selecting data

In [68]:
all_pokemon_center = select([pokemon_centers])
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center)

(1, 'Jubilife City', <WKBElement at 0x7f813210d3d0; 010100000000000000000000000000000000000000>)
(5, 'tribe City', <WKBElement at 0x7f81321830a0; 010100000000000000000000400000000000000840>)
(6, 'ruby City', <WKBElement at 0x7f813210db80; 010100000000000000000014400000000000000840>)
(7, 'golden City', <WKBElement at 0x7f81001bc340; 010100000000000000000014400000000000001440>)

Using PostGIS function to get the data in different format using `ST_AsGeoJSON, ST_AsText`

In [69]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)])
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center['name'], center['ST_AsGeoJSON_1'])

Jubilife City {"type":"Point","coordinates":[0,0]}
tribe City {"type":"Point","coordinates":[2,3]}
ruby City {"type":"Point","coordinates":[5,3]}
golden City {"type":"Point","coordinates":[5,5]}

Using PostGIS function to execute spatial query

`ST_Contains`,`ST_Buffer`, etc.

In [76]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)]).where(functions.ST_Contains('POLYGON((0 0,0 1 ,1 1,1 0,0 0))',pokemon_centers.c.geom))
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center['name'], center['ST_AsGeoJSON_1'])

ash City {"type":"Point","coordinates":[0.5,0.5]}

In [78]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)]).where(functions.ST_Contains(functions.ST_Buffer('POINT(1 1)',2),pokemon_centers.c.geom))
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center['name'], center['ST_AsGeoJSON_1'])

Jubilife City {"type":"Point","coordinates":[0,0]}
ash City {"type":"Point","coordinates":[0.5,0.5]}

In [79]:
str(all_pokemon_center)

'SELECT fun.pokemon_centers.id, fun.pokemon_centers.name, ST_AsEWKB(fun.pokemon_centers.geom) AS geom, ST_AsGeoJSON(fun.pokemon_centers.geom) AS "ST_AsGeoJSON_1" \nFROM fun.pokemon_centers \nWHERE ST_Contains(ST_Buffer(:ST_Buffer_1, :ST_Buffer_2), fun.pokemon_centers.geom)'