## Spatial Database

Spatial database are the database which holds and understand the geometry information. These databases can perform geometric queries such as Buffer, point in polygon, etc. 


PostGIS is an extenstion to the PostgreSQL for handling geospatial data

Spatialite is an extenstion to the SQLite for handling geospatial data


### PostGIS 

PostGIS hanldes geospatial data in PostgreSQL. PostGIS has indexes, Function, Operators, etc. 

For mac, windows , download PostGIS using stackbuilder https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
For Ubuntu checkout the official webpage of postgis https://postgis.net/install/


Once downloaded and installed, we can activate it by running follwing query
`create exension postgis` , this will create new table in the database as `spatialref_ref_sys`. This will enable us to create column with type as `Geometry`

example of creating new table

<pre><code>CREATE TABLE IF NOT EXISTS public.coffee<br/>(<br/>&nbsp;&nbsp;name character varying(100)<br/>&nbsp;&nbsp;rating integer,<br/>&nbsp;&nbsp;address character varying(1000),<br/>&nbsp;&nbsp;location geometry<br/>);<br/></code></pre>

example of adding new feature

<pre><code>INSERT INTO public.coffee( name, rating, address, location)<br/>&nbsp;&nbsp;VALUES ('cafe moon', 5, 'Nashik', ST_GeomFromText('POINT(71 20)'));<br/></code></pre>


Some Spatial functions in PostGIS :

1. ST_DWithin - Returns true if the geometries are within a given distance

https://postgis.net/docs/ST_DWithin.html

2. ST_Intersects - Returns true if the geometries intersect with each other

https://postgis.net/docs/ST_Intersects.html

3. ST_AsGeoJSON - Creates GeoJSON from feature

https://postgis.net/docs/ST_AsGeoJSON.html


### SQLAlchemy

SQLAlchemy is an ORM for python

In [ ]:

from sqlalchemy import *

<b>Making connection with database</b> -

using `create_engine` database connection is established. Generally JDBC url is used

engine_name = create_engine('dialect+driver://username:password@host:port/database_name')

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/files')

Getting all schemas in database

In [ ]:
#creating inspect element
inspector = inspect(engine)

#getting schema names
schemas = inspector.get_schema_names()

schemas

Printing all table names

In [ ]:
tables = inspector.get_table_names(schema='fun')
tables

Printing all column names for table

In [ ]:
columns = inspector.get_columns('pokemon', schema='fun')
columns

<b>Creating non gis table </b>

SQLAlchemy supports following data types
- BigInteger
- Boolean
- Date
- DateTime
- Float
- Integer
- Numeric
- SmallInteger
- String
- Text
- Time

We'll be translating 

`CREATE TABLE person (id INTEGER NOT NULL, name VARCHAR,email VARCHAR, PRIMARY KEY (id) )` into SQLALchemy statement

In [ ]:
metadata_obj = MetaData()
user = Table('person', metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('name', String(16), nullable=False),
    Column('email_address', String(60), key='email'),
             schema='fun'
)

user_profile = Table('profile', metadata_obj,
    Column('profile_id', Integer, primary_key=True),
    Column('user_id', Integer, ForeignKey(user.c.id), nullable=False),
    Column('company', String(40), nullable=False),
    Column('rating', Integer),
                     schema='fun'
)
metadata_obj.create_all(engine)

In [ ]:
inspector = inspect(engine)
tables = inspector.get_table_names(schema='fun')
tables

### CRUD operation using sqlalchemy

CREATE - Adding data to the database

In [ ]:
peeps = insert(user).values(name='patrik', email="patrik@rustycrab.com")
with engine.connect() as conn:
    result = conn.execute(peeps)
    print(result.inserted_primary_key)

In [ ]:
profile = insert(user_profile).values(user_id=1,company='rusty crabs experience', rating=4)
with engine.connect() as conn:
    result = conn.execute(profile)
    print(result.inserted_primary_key)

#User_id must be valid otherwise it will throw error

Insert data into existing table

In [ ]:
pokemon = Table('pokemon',metadata_obj, autoload=True,autoload_with=engine, schema='fun')
peeps = insert(pokemon).values(name='Ivysaur', rank=2, type='poison')
with engine.connect() as conn:
    result = conn.execute(peeps)

Insert multiple entries in one go

In [ ]:
with engine.connect() as conn:
    result = conn.execute(
             insert(pokemon),
             [
                 {"name": "Squirtle", "rank":7,"type":"water"},
                {"name": "Metapod", "rank":11,"type":"bug"},
                  {"name": "Charmander", "rank":5,"type":"fire"},
             ]
    )

Select data from table

In [ ]:
all_pokemon = select(pokemon)

In [ ]:
print(all_pokemon)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(all_pokemon)
    for res in result:
        print(res)

all_users = select(user)
with engine.connect() as conn:
    result = conn.execute(all_users)
    for res in result:
        print(res)

Select data using `WHERE`

In [ ]:
all_bug_pokemon = select(pokemon).where(pokemon.c.type == 'bug')
with engine.connect() as conn:
    result = conn.execute(all_bug_pokemon)
    for res in result:
        print(res)

Ordering Result

In [ ]:
all_pokemon = select(pokemon).order_by(pokemon.c.rank)
with engine.connect() as conn:
    result = conn.execute(all_pokemon)
    for res in result:
        print(res)

`AND` query

In [ ]:
all_electric_pokemon = select(pokemon).where(and_(pokemon.c.type == 'poison',pokemon.c.rank == 1))
with engine.connect() as conn:
    result = conn.execute(all_electric_pokemon)
    for res in result:
        print(res)

`OR` query

In [ ]:
all_electric_pokemon = select(pokemon).where(or_(pokemon.c.type == 'poison',pokemon.c.rank == 11))
with engine.connect() as conn:
    result = conn.execute(all_electric_pokemon)
    for res in result:
        print(res)

Update existing data

In [ ]:
name_update = update(pokemon).where(pokemon.c.name == 'Metapod').values(name='MetapoD')
with engine.connect() as conn:
    result = conn.execute(name_update)

Delete records

In [ ]:
all_pokemon = select(pokemon)
with engine.connect() as conn:
    result = conn.execute(all_pokemon)
    for res in result:
        print(res)

In [ ]:
remove_Ivysaur = delete(pokemon).where(pokemon.c.rank > 3)
with engine.connect() as conn:
    result = conn.execute(remove_Ivysaur)

## Geoalchemy

In [ ]:
from geoalchemy2 import *

In [ ]:
metadata_obj = MetaData()

pokemon_centers = Table('pokemon_centers', metadata_obj,
     Column('id', Integer, primary_key=True),
     Column('name', String),
   Column('geom', Geometry('POINT')),
schema='fun'
)
metadata_obj.create_all(engine)

In [ ]:
inspector = inspect(engine)

tables = inspector.get_table_names(schema='fun')
tables

In [ ]:
columns = inspector.get_columns('pokemon_centers', schema='fun')
columns

Inserting data

In [ ]:
ins = pokemon_centers.insert()
str(ins)

In [ ]:
new_pokemon_center = insert(pokemon_centers).values(name='ash City', geom="POINT(0.5 0.5)")
with engine.connect() as conn:
    result = conn.execute(new_pokemon_center)
    print(result.inserted_primary_key)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(
             insert(pokemon_centers),
             [
                 {"name": "Rocket Center","geom":"POINT(1 2)"},
                {"name": "Main Pokecenter","geom":"POINT(3.5 5)"},
                  {"name": "RiverDale","geom":"POINT(3 9)"},
             ]
    )

Selecting data

In [ ]:
all_pokemon_center = select([pokemon_centers])
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center)

Using PostGIS function to get the data in different format using `ST_AsGeoJSON, ST_AsText`

In [ ]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)])
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print({ 'name':center['name'],'geom': center['ST_AsGeoJSON']})

Using PostGIS function to execute spatial query

`ST_Contains`,`ST_Buffer`, etc.

In [ ]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)]).where(functions.ST_Contains('POLYGON((0 0,0 3 ,3 3,3 0,0 0))',pokemon_centers.c.geom))
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center['name'], center['ST_AsGeoJSON'])

In [ ]:
all_pokemon_center = select([pokemon_centers,functions.ST_AsGeoJSON(pokemon_centers.c.geom)]).where(functions.ST_Contains(functions.ST_Buffer('POINT(1 1)',2),pokemon_centers.c.geom))
with engine.connect() as conn:
    result = conn.execute(all_pokemon_center)
    for center in result:
        print(center['name'], center['ST_AsGeoJSON_1'])

In [ ]:
str(all_pokemon_center)