# üêç Basics of Python

## üéØ Rules of Python
### 1. Python is Case Sensitive 
that means writing function, variables, classes, etc. names as cat and CAT is different
### 2. Python cares about Indentation
Python follows indentation while writing code. 
when we'll write function, the logic will be indented 1 tab or 4 spaces inside the name as follows

In [101]:
def correctway():
    print('hi')

In [ ]:
def incorrectway():
print('hi')

the spacing that we see bewteen the start point of the word 'def' and 'print' is indentation, and generally, we follow 1 tab or 4 spacebar hits to get in one step indentation
### 3. Python doesn't care about empty lines
Adding empty lines between codes won't matter in python. Following 2 code blocks will give us the same results

In [ ]:
print('line 1')







print('line 2')

In [ ]:
print('line 1')
print('line 2')

### 4. Adding comments
Adding comments is a way of writing human readable text which will not get executed as python, but will help fellow developer to understand more about your code

In [ ]:
#following function is used to add 2 numbers
def add(a,b):
    return a + b # this will return the result

## üéØ Variables
Variables helps us to stroe the data in a variable name which then can be referred throught the code depending upon it's scope 

### How to define variable ?

In [ ]:
#Defining a variable
car = 'tata'

Python has some reserve keywords which we can't use as vairable names, such as print, def, True, etc. full list can be found here https://realpython.com/lessons/reserved-keywords/

### How to make sense out of variable name ? 
While writing bigger code, it is important to give some thoughts to variable names as those will be refered hundreds of times by you or other developers. 
We need to find sweetspot between variable name making sense, and variable name being small.
We can use _ or use camelCasing format to club multiple words together

In [ ]:
# store value of water in well 
volume_of_water_in_well = 100 # Club words using _ in between
volumeOfWaterInWell = 120 #Using camelCasing
waterVolWell = 100 # Writing shorter name which will make sense following iether _ or camelCasing

### How to define Scope of variable ? 
Generally all variables we define have global scope. i.e. they can be used anywhere in the code. But variables that we define inside functions are of local scope i.e. they only live inside that sepecific function.

In [ ]:
global_rate = 200 # Global variable

def local_market(discount):
    local_rate = global_rate*(1 - discount/100) # Local variable
    print('local rate of item is ' + str(local_rate)) # Printing Local variable
    
print('global rate of item is ' + str(global_rate))# Printing Global variable
local_market(20)

If we try to print local variable outside function, we'll get an error

In [ ]:
global_rate = 200 # Global variable

def local_market(discount):
    local_rate = global_rate*(1 - discount/100) # Local variable
    print('local rate of item is ' + str(local_rate)) # Printing Local variable
    
print('global rate of item is ' + str(global_rate))# Printing Global variable
local_market(20)
print('local rate of item is ' + str(local_rate)) # Printing Local variable

## üéØ Data types
Python supports lot of data types which helps us to store the data and use it

### What are different data types?
1. String Data Type

In [ ]:
car = 'tata'  # tata is a string of letters
pet = 'puffy' # puffy is a string of letters

2. Numeric data types - This will contain Integer and Float (Decimals)

In [ ]:
rank = 1 # 1 is integer
pie = 3.14 # 3.14 is float
rate = -5 # -5 is integer

3. Boolean - True/False Notice that the first letter is captial

In [ ]:
t = True # True is boolean type
isThisCorrect = false # false is not Boolean type, False is boolen type
isThisCorrectNow = False # False is boolean type

----------------------------------------------------------------------------------------------------------------------
### `üï∞Ô∏è Practice time`
Create few variables storing following information
1. Name (String)
2. Address (Multiline String)
3. Age (Integer)
4. AreYouMarried (Boolean)
5. Area of square having radius 5 cm (Float)

----------------------------------------------------------------------------------------------------------------------

4. Squence data types - writing more data together

    a. List 

    b. Tuple

    c. Dictionary

    d. Set

each of these data types have unique properties which we'll see shortly

In [ ]:
myPets = ['puffy','zazzy','cat mandu','rio'] # List 
food = ('biryani', 'paneer', 'momo') # tuple
work = {'name': 'finish notebook', 'language': 'python','done': True} # Dictionary
songs = {'Goat','fifa anthem', 'swadesh','stan'} # set

### How to check data types?
put variable name inside type() function

In [ ]:
type(food)

In [ ]:
type(isPythonCool)

In [ ]:
type(songs)

## üéØ List Data type

### Properties of List
1. Values inside list are <b>indexed and changable</b>
2. To define List, put all the values inside [] seperated by commas.
3. List can contain any data type data inside it

In [ ]:
randomList = ['puffy',True,'rio', 12.12,44, ['smaller', 'list', 'inside','list']]

### Access elements of List

To access individual element inside list, use it's index number. Index number of list starts from 0

In [ ]:
randomList[0]

In [ ]:
randomList[3]

To catch element from end, use negative index value which starts with -1

In [ ]:
randomList[-1]

In [ ]:
randomList[-2]

### Modify elements of List
1. To change existing element, use index number

In [103]:
randomList

['mars', True, 12.12, 44, ['smaller', 'list', 'inside', 'list'], 'ramanujan']

In [104]:
randomList[0] = 'mars'
randomList

['mars', True, 12.12, 44, ['smaller', 'list', 'inside', 'list'], 'ramanujan']

2. To add new element at last use command `list.append(val)`

In [105]:
randomList.append('ramanujan')
randomList

['mars',
 True,
 12.12,
 44,
 ['smaller', 'list', 'inside', 'list'],
 'ramanujan',
 'ramanujan']

3. To add new element at any position use `list.insert(index, val)`

In [106]:
randomList.insert(2,'foss4g')
randomList

['mars',
 True,
 'foss4g',
 12.12,
 44,
 ['smaller', 'list', 'inside', 'list'],
 'ramanujan',
 'ramanujan']

4. To remove element at any position use `list.pop(index)`

In [107]:
randomList.pop(2)
randomList

['mars',
 True,
 12.12,
 44,
 ['smaller', 'list', 'inside', 'list'],
 'ramanujan',
 'ramanujan']

5. To remove element based on value `list.remove(value)`

In [ ]:
randomList.remove('rio')
randomList

----------------------------------------------------------------------------------------------------------------------
### `üï∞Ô∏è Practice time`
1. Create a list of colors you like
2. Create a list of colors you hate 
3. Take 2nd color from hateList and add it at the end of likeList
4. Take 2nd last color from likeList and put at the start of hateList
5. Merge two list into one single list

----------------------------------------------------------------------------------------------------------------------

In [ ]:
# Create a list of colors you like

In [ ]:
# Create a list of colors you hate

In [ ]:
# Take 2nd color from hateList and add it at the end of likeList

In [ ]:
# Take 2nd last color from likeList and put at the start of hateList

In [ ]:
# Merge two list into one single list

## üéØ Tuple Data type

### Properties of Tuple
1. Values inside list are <b>indexed and unchangable</b>
2. To define Tuple, put all the values inside ( ) seperated by commas.
3. Tuple can contain any data type data inside it
4. Once Defined data inside Tuple can't be changed

In [ ]:
randomTuple = ('puffy',True,'rio', 12.12,44, ['smaller', 'list', 'inside','list'], )

### Access elements of Tuple

To access individual element inside Tuple, use it's index number. Index number of Tuple starts from 0

In [ ]:
randomTuple[1]

In [ ]:
randomTuple[3]

To catch element from end, use negative index value which starts with -1

In [ ]:
randomTuple[-2]

## üéØ Set Data type

### Properties of Set
1. Values inside Set are <b>unindexed and unchangable</b>
2. To define Set, put all the values inside { } seperated by commas.
3. Set can contain any data type data inside it
4. Set doesn't allow duplicate values

Sets are faster to loop through as compared to List

In [ ]:
randomSet = {'bananas','apple','cherry','mango','banana'} 
randomSet # Notice that the index is changed, and also banana is only written once

## üéØ Dictionary Data types

### Properties of Dictionary
1. Values inside Dictionary are <b>key:value pair</b>
2. To define Dictionary, put all the values inside { key:value } seperated by commas.
3. Dictionary can contain any data type data inside it

In [ ]:
schoolWork = {
    'subject':'Science',
    'portionFinished' : 50,
    'everyday': True,
    'important chapters': [1,3,7,8]
}

### Access elements of Dictionary

To access individual element inside Dictionary, use it's key.

In [ ]:
schoolWork['subject']

In [ ]:
schoolWork['everyday']

### Add elements of Dictionary

In [ ]:
schoolWork['teacher'] = "Mr. Sing"
schoolWork

### Update elements of Dictionary

To update individual element inside Dictionary, use it's key.

In [ ]:
schoolWork['teacher'] = "Mr. Singh"
schoolWork

### Remove elements of Dictionary

To remove individual element inside Dictionary, use it's key.

In [ ]:
schoolWork.pop('everyday')
schoolWork

----------------------------------------------------------------------------------------------------------------------
### `üï∞Ô∏è Practice time`
1. Create a dictionary of information about your pet (type, name,color, height, weight)
2. Rename the `color` key to `shade`
3. Add new information to the dictionary `mood:happy`

----------------------------------------------------------------------------------------------------------------------

In [ ]:
# 1. Create a dictionary of information about your pet (type, name,color, height, weight)

In [ ]:
# 2. Rename the `color` key to `shade`

In [ ]:
# 3. Add new information to the dictionary `mood:happy`

## üéØ Operators 

### 1. Arithematic Operators ( +,-,*,/,%,//,**)
These are used to perfom arithematic operations between multiple numeric data

In [ ]:
4 + 3

In [ ]:
5 - 90

In [ ]:
7 % 6

In [ ]:
8 / 6

In [2]:
5**4

625

In [3]:
# Calcuate area of square ( pi.r.r)

### 2. Assignment Operators ( =, += , -=, *=, /=)
These are used to assign new value to existing varables

In [ ]:
current_rate = 10

In [ ]:
current_rate += 1 
# This in brief means current_rate = current_rate + 1
current_rate

In [ ]:
current_rate *= 2
# This in brief means current_rate = current_rate * 2
current_rate

 üï∞Ô∏è Can you make your salary increase by 10%

üï∞Ô∏èCalculate the actual cost of Item based on following calulation

Base price(10,000) , 18% tax on base price , 2% cess on taxed amount , 5% discount on base price , 200 off on final cost via coupon

### 3. Comparison Operators ( ==,<,>,<=,>=, !=)
These are used to compare value of two variables, it gives the result as True or False

In [ ]:
car1_price = 100
car2_price = 120
car1_name = 'tata'
car2_name = 'kia'
car3_name = 'tata'
car4_name = 'zest'

In [ ]:
car2_price == car1_price

In [ ]:
car2_price > car1_price

In [ ]:
car2_name != car3_name

In [ ]:
car3_name > car2_name # using alphabetical order

In [ ]:
car3_name > car4_name # using alphabetical order

In [ ]:
car2_name == car3_name

### 4. Logical Operators ( and, or, not)
These are used to combine multiple conditions and check the result

In [ ]:
car2_name == car3_name and car2_price < car1_price

In [ ]:
car2_name == car3_name or car2_price < car1_price

In [ ]:
car2_name == car3_name

In [ ]:
not(car2_name == car3_name)

### 5. Membership Operators ( in , not in)
These are used to check if some value is available in some another value

In [ ]:
car1_name = 'tata'

In [ ]:
't' in car1_name # checking whether the letter 't' is present in variable car_name

In [ ]:
'mars' in randomList # checking whether the string 'mars' is present in list randomList

üï∞Ô∏è is there `i` in `team`

üï∞Ô∏è is `python` in your pet list