## Before you start here
### Make sure that you have checked the 'Basics of Python' notebook which covers concepts such as 
1. Variables
2. Data types
3. List, Tuples, Set, Dictionary
4. Operators

# Advance concepts in Python

## üí™üèª Conditions in Python
Conditions helps program to know what functions/code to execute depending upon the results of Conditions.

### How to use `if` , `else` , `elif` in python?

In [17]:
#Simple if condition
marks = 56
if marks > 40:
    print('Passed')

Passed

In [18]:
marks = 16
if marks > 40:
    print('Passed')

In [19]:
#Adding else to the same condition
marks = 16
if marks > 40:
    print('Passed')
else : 
    print('fail')

fail

In [20]:
#Adding multiple if to the same condition
marks = 16
if marks > 90:
    print('You got A+')
elif marks > 75 : 
    print('You got A')
elif marks > 50:
    print('You got B')
elif marks > 40:
    print('You got C')
else : 
    print('fail')

fail

In [21]:
marks = 46
if marks > 90:
    print('You got A+')
elif marks > 75 : 
    print('You got A')
elif marks > 50:
    print('You got B')
elif marks > 40:
    print('You got C')
else : 
    print('fail')

You got C

In [22]:
marks = 76
if marks > 90:
    print('You got A+')
elif marks > 75 : 
    print('You got A')
elif marks > 50:
    print('You got B')
elif marks > 40:
    print('You got C')
else : 
    print('fail')

You got A

In [23]:
marks = 96
if marks > 90:
    print('You got A+')
elif marks > 75 : 
    print('You got A')
elif marks > 50:
    print('You got B')
elif marks > 40:
    print('You got C')
else : 
    print('fail')

You got A+

### üï∞Ô∏èPractice time
1. Create a condition to check if number is divisible by 3, If yes print "Horray"
2. Check if person is male/female , 

    if male , use following income criterion
       more than 50,000 is class A, less than 10,000 is class C, between class B
    if female, use following income criterion
       more than 40,000 is class A, less than 15,000 is class C, between class B
3. Check which vehicle pers
    for single person - cycle
    for couple - bike
    upto 4 people - hatchback
    more than 4 upto 5 people - sedan
    more than 5 upto 7 people - SUV
    more than 7 upto 10 people - Bus
    more than 10 - trailer

## üí™üèª Loops 
Loops are helful to iterate over series of data to execute same function on each data.

### How to use `while`  loop? 
While loop keeps on executing till while condition is true. It is very important to change the variable value used in creating condition for while, everytime the loop completes, otherwise we'll get stuck in infinite loop

In [24]:
i = 0
while i < 6:
    print('current i value is' + str(i))
    i += 1 # If we remove this, the i will be 0 , thus while loop will run forever

current i value is0
current i value is1
current i value is2
current i value is3
current i value is4
current i value is5

üï∞Ô∏è Write `while` loop to get factorial of any number

If you were playing outside like me during math class

factorial means multiplying number with smaller numbers upto 1

e.g. 5! = 5 x 4 x 3 x 2 x1 = 120

### How to use `for`  loop? 
For loop keeps on executing till it hits the last element in series. It is generally used to loop the elements of data types such as series

In [25]:
subjectList = ['maths','science','geography','history','english']
for subject in subjectList:
    print ("I'm studying "+ subject) # subject is a variable which holds the value on element in each loop

I'm studying maths
I'm studying science
I'm studying geography
I'm studying history
I'm studying english

üï∞Ô∏è Write `for` loop to check if we have failed the semester 

Rules : each semester has 12 subjects, if you fail more than 3, you will fail semester, passing marks are 40/100
    
** If you want to make this more interesting , let python decide how much mark you will score. 
using random function as following
```
    import random
    marks = random.randint(0 , 100)
    print(marks)
```

### How to create nested loop? 
We can create loops inside loops.

In [26]:
subjectList = ['maths','science','geography','history','english']
studyTime = ['5am-7am', '9am-12pm','5pm-8pm']

for subject in subjectList:
    print('Today I studied '+ subject)
    for time in studyTime:
        print('For time '+time)

Today I studied maths
For time 5am-7am
For time 9am-12pm
For time 5pm-8pm
Today I studied science
For time 5am-7am
For time 9am-12pm
For time 5pm-8pm
Today I studied geography
For time 5am-7am
For time 9am-12pm
For time 5pm-8pm
Today I studied history
For time 5am-7am
For time 9am-12pm
For time 5pm-8pm
Today I studied english
For time 5am-7am
For time 9am-12pm
For time 5pm-8pm

### How to stop loop in between?  
We can stop loops by using `break` keyword

In [27]:
i = 0
while i < 6:
    if i == 4:
        break
    print(i)
    i +=1

# as soon as we get the value of i = 4, we'll break the loop and come out of it

0
1
2
3

üï∞Ô∏è create same semester example but stop the loop as soon as 3 subjects are failed

## üí™üèª Functions 
Functions allow us to execute certain piece of code only when needed.


### How to create function? 
Functions are created using `def` as follow

In [29]:
#Define function with 'tell_name' as name of function which will print 'Hi Krishna' when executed
def tell_name():
    print('Hi Krishna')

In [30]:
tell_name() # This is how we execute the function

Hi Krishna

üï∞Ô∏è create a function to print the otuput for area of rectangle with sides as 5, 6

### How to pass arguments to function? 

1. Create arguments for function

In [32]:
#Define function with 'tell_name' as name with argument as 'Person' which will print 'Hi ' + Person when executed
def tell_name_with_arg(person):
    print('Hi '+person)

In [33]:
tell_name_with_arg('siddhi') # This is how we execute the function

Hi siddhi

In [35]:
tell_name_with_arg() # Function will give error if argument value is not passed

TypeError: tell_name_with_arg() missing 1 required positional argument: 'person'

2. Create multiple arguments for functions

In [36]:
def about_me(name,hobby,age):
    print('Hi, My name is '+ name+ ' I like '+hobby + ' I am '+ str(age)+ ' years old')

In [37]:
about_me('siddhi','running', 25)

Hi, My name is siddhi I like running I am 25 years old

In [38]:
about_me(age=24, name='krishna', hobby='trekking')

Hi, My name is krishna I like trekking I am 24 years old

üï∞Ô∏è create a function to print the otuput for area of rectangle with sides as parameter

üï∞Ô∏è  pass the income and gender of person to print the class person belongs to 

    Male 
        Greater than 50k - class A
        Lesser than 10k - Class C
        Between - Class B
    Female
        Greater than 30k - class A
        Lesser than 15k - Class C
        Between - Class B

3. Defining default value for variable

We can provide some default vaue to argument, so that it'll be used if user doesn't specify it

In [39]:
def heya(name='stranger'):
    print('heya '+ name)

In [40]:
heya('sus')

heya sus

In [41]:
heya()

heya stranger

üï∞Ô∏è Create employee directory function, where if role is Manager, salary is 20000 , if role is dev, salary is 10000, for any other role salary is 8000

### How to store function result in variable? 
We can save the result of function in any variable by using `return`

In [42]:
def after_tax_val(rate):
    return rate*1.18 # Instead of printing we are returning the value

In [43]:
mango = after_tax_val(100)
mango

118.0

### How to create anonymous functions ? 
We can create anonymous function which can take any numbers of arguments but will perform only one activity `lambda`

In [49]:
final_bill = lambda price : price*1.18

In [50]:
car = final_bill(1000)
car

1180.0

In [51]:
final_bill = lambda price,rate : price*(1 + rate/100)

In [53]:
computer = final_bill(500,12)
computer

560.0